
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.core.dao.CommonConfigMapper">
	<!-- 类型下拉菜单 -->
	<select id="selectTypes" resultType="java.util.Map">
		SELECT DISTINCT type_ AS type
		FROM tb_common_config 
		ORDER BY type
	</select>
	
	<!-- 分页查询 -->
	<select id="selectConfigByPage" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT id_ ,key_,value_,type_,desc_
		FROM tb_common_config 
		WHERE 1=1
		<if test="@com.qcap.core.utils.Ognl@isNotEmpty(seckey)">
			 AND key_ LIKE '%${seckey}%'
		</if>
		<if test="@com.qcap.core.utils.Ognl@isNotEmpty(sectype)">
			 AND type_ = #{sectype}
		</if>
		 ORDER BY type_,key_
	</select>
	
	<!-- 判断key是否已经存在 -->
	<select id="testExistKey" resultType="String" parameterType="java.util.Map">
		SELECT id_ FROM tb_common_config WHERE 1 = 1
		<if test="@com.qcap.core.utils.Ognl@isNotEmpty(keyTest)">
			AND key_ = #{keyTest}
		</if>
		<if test="@com.qcap.core.utils.Ognl@isNotEmpty(typeTest)">
			AND type_ = #{typeTest}
		</if>
	</select>
	
	<!-- 新增配置 -->
	<insert id="insert" parameterType="com.qcap.core.model.TbCommonConfig">
		INSERT INTO tb_common_config (id_, key_, value_, type_, desc_)
		values(#{id},#{key},#{value},#{type},#{desc})
	</insert>
	
	<!-- 修改配置信息 -->
	<update id="updateConfig"  parameterType="com.qcap.core.model.TbCommonConfig">
		UPDATE tb_common_config SET
		key_ = #{key},
		value_ = #{value},
		type_ = #{type},
		desc_ =#{desc}
		WHERE id_ = #{id}
	</update>
	
	<!-- 按id批量删除配置信息 -->
	<delete id="batchDelete" parameterType="String">
        DELETE FROM tb_common_config WHERE id_ IN 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <!-- 查出要删除的条目 -->
	<select id="getDeleteItems" parameterType="String" resultType="java.util.Map">
        SELECT key_, type_ FROM tb_common_config WHERE id_='0'
        <foreach item="id" collection="array">
        UNION SELECT key_, type_ FROM tb_common_config WHERE id_ = #{id} 
        </foreach>
    </select>
    
    
	
</mapper>