<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.fame.dao.DeptRefCommunityMapper">
	<select id="findDeptAndAreaByPage" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		DISTINCT
		m.TBBB04_ID_ AS tbbb04Id,
		m.TBAA01_ID_ AS tbaa01Id,
		m.LAYER_ AS layer,
		m.AREA_CODE_ AS areaCode,
		m.AREA_NAME_ AS areaName,
		m.DEPT_NAME_ AS deptName,
		m.PARENT_TBBB04_ID_ AS parentDeptId,
		m.COMPANY_CODE_ AS companyCode,
		m.CREATE_DATE_ AS createDate,
		n.DEPT_NAME_ AS parentDeptName
		FROM (SELECT 
		t.DEPARTMENT_ID_ AS  TBBB04_ID_,
		t.COMMUNITY_ID_  AS TBAA01_ID_,
		t.CREATE_DATE_  ,
		b.LAYER_ ,
		a.AREA_CODE_,
		a.AREA_NAME_ ,
		a.COMPANY_CODE_,
		b.DEPT_NAME_ ,
		b.PARENT_DEPT_ID_ AS PARENT_TBBB04_ID_
		FROM tb_sys_area_relation_ t
		LEFT JOIN tb_sys_community a
		on t.COMMUNITY_ID_ =a.COMMUNITY_ID_
		LEFT JOIN tb_sys_department b
		ON t.DEPARTMENT_ID_ =b.DEPARTMENT_ID_
		AND b.DELETE_FLAG_='0') m
        LEFT JOIN tb_sys_department n
		ON m.PARENT_TBBB04_ID_=n.DEPARTMENT_ID_
		WHERE 1 = 1
		<if test="@com.qcap.core.utils.Ognl@isNotEmpty(workId)">
			AND m.TBBB04_ID_ like CONCAT((SELECT DEPARTMENT_ID_
		FROM tb_user WHERE ACCOUNT_ = #{workId}),'%')
		</if>
		<if test="@com.qcap.core.utils.Ognl@isNotEmpty(deptId)">
			AND m.TBBB04_ID_ like #{deptId}
		</if>
		<if test="@com.qcap.core.utils.Ognl@isNotEmpty(companyCode)">
			AND m.COMPANY_CODE_ = #{companyCode}
		</if>
		ORDER BY m.LAYER_ ,m.CREATE_DATE_ DESC
	</select>
	
	<!-- 查询部门已经关联的小区 -->
	<select id="selectAllDepts" parameterType="String" resultType="String">
	SELECT GROUP_CONCAT(COMMUNITY_ID_ separator ',') AS tbbb01Id
	FROM tb_sys_area_relation_ WHERE DEPARTMENT_ID_  =#{tbbb04Id}
	</select>
	
	<select id="loadDept" resultType="Map">
	SELECT DEPARTMENT_ID_ AS tbbb04Id, DEPT_NAME_ AS deptName FROM tb_sys_department
	</select>
	
	<insert id="insertRelationShip" parameterType="Map">
	INSERT INTO tb_sys_area_relation_ (AREA_RELATION_ID_,DEPARTMENT_ID_,COMMUNITY_ID_,CREATE_EMP_)
	VALUES(#{tbaa06Id},#{tbbb04Id},#{tbaa01Id},#{createEmp})	
	</insert>
	
	<delete id="deleteRelationShip" parameterType="Map">
	DELETE FROM tb_sys_area_relation_ WHERE DEPARTMENT_ID_=#{tbbb04Id} AND COMMUNITY_ID_=#{tbaa01Id}
	</delete>
</mapper>