<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.core.dao.LoginMapper">

    <select id="getTbUser" resultType="com.qcap.cac.model.TbUser">
        <!-- SELECT
          id_ id,
          account_ account,
          name_ name,
          password_ password,
          salt_ salt
        FROM tb_manager
        WHERE
        account_ = #{account} -->
        
        SELECT
          ID_ id,
          ACCOUNT_ account,
          NAME_ name,
          PASSWORD_ password,
          SALT_ salt
        FROM tb_user
        WHERE
        ACCOUNT_ = #{account}
    </select>


    <select id="getAuthList" resultType="com.qcap.core.model.Menu">
    SELECT
    DISTINCT
    c.url_ url,
    c.code_ code
    FROM
    tb_manager_role a
    left JOIN tb_role_menu b
    on a.roleId_ = b.rolenum_
    left JOIN tb_menu c
    ON c.num_ = b.menuid_
    WHERE c.isMenu_ = 0
    AND
    a.managerId_ = #{id}
</select>

    <select id="getMenuList" resultType="com.qcap.core.model.MenuTree">
        SELECT
        DISTINCT
        c.url_ jump,
        c.code_ code,
        c.pcode_ pcode,
        c.name_ title,
        c.icon_ icon,
        c.isMenu_ isMenu,
        c.name_ name
        FROM
        tb_manager_role a
        left JOIN tb_role_menu b
        on a.roleId_ = b.rolenum_
        left JOIN tb_menu c
        ON c.code_ = b.menuid_
        WHERE 
       <!--  c.isMenu_ = 1
        AND -->
        a.managerId_ = #{id} and  c.id_ IS NOT NULL
        ORDER  BY c.levels_,c.seq_
    </select>

	<select id="getMenuListByRoleName" parameterType="String" resultType="com.qcap.core.model.MenuTree">
        SELECT
        DISTINCT
        c.url_ jump,
        c.code_ code,
        c.pcode_ pcode,
        c.name_ title,
        c.icon_ icon,
        c.isMenu_ isMenu,
        c.name_ name
        FROM
        tb_role a
        left JOIN tb_role_menu b
        on a.num_ = b.rolenum_
        left JOIN tb_menu c
        ON c.code_ = b.menuid_
        WHERE 
        a.name_ = #{name} and  c.id_ IS NOT NULL
        ORDER  BY c.levels_,c.seq_
    </select>
</mapper>