<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.fame.dao.PropertyEditMapper"> 

  <!-- 查询房产信息 -->
	<select id="selectRoomInfo" parameterType="String" resultType="Map">
		select
		ROOM_ID_ AS roomId,BUILDING_ AS building,BUILDING_CODE_ AS buildingCode,
		ROOM_NAME_ AS roomName,AREA_NAME_ AS areaName,ROOM_FULL_NAME_ AS roomFullName,
		COMPANY_CODE_ AS companyCode,AREA_CODE_ AS areaCode, HAVE_GATE_ AS haveGate,
		CAL_AREA_ AS calArea,REAL_AREA_ AS realArea,OWNER_NAME_ AS ownerName,
		OWNER_TEL_ AS ownerTel,WY_PRICE_ AS wyPrice, WY_AMOUNT_ AS wyAmount,REMARK1_ AS remark1,
		HH_ AS hh,FH_ AS fh
		from tb_sys_room
		where ROOM_ID_ =#{roomId}
	</select>
	
	<!-- 查询小区作为树的第一层 -->
	<select id="selectTreeCompany" parameterType="Map" resultType="Map">
	SELECT DISTINCT
	COMPANY_CODE_ AS id ,COMPANY_CODE_  AS cid,FULL_NAME_ AS text
	FROM tb_sys_company 
	WHERE COMPANY_CODE_ != '0'
	<if test="@com.qcap.core.utils.Ognl@isNotEmpty(companyCode)">
		AND COMPANY_CODE_ = #{companyCode}			
	</if>
	<!--<if test="COMPANY_CODE_ != null and COMPANY_CODE_ !=''">
		AND COMPANY_CODE_ = #{companyCode}			
	</if>-->
	GROUP BY COMPANY_CODE_
	</select>
	
		<!-- 查询小区作为树的第二层  =========== -->
	<select id="selectTreeAa01" parameterType="String" resultType="Map">
<!-- 	SELECT DISTINCT
	COMPANY_CODE_ AS pid,COMMUNITY_ID_ AS id ,COMMUNITY_ID_  AS cid,AREA_NAME_ AS text
	FROM tbaa01 
	WHERE COMPANY_CODE_ = #{companyCode} AND COMMUNITY_ID_ &lt;&gt;'HBWHWC000001'
	GROUP BY COMMUNITY_ID_ -->
	SELECT DISTINCT
	m.COMPANY_CODE_ AS pid,m.COMMUNITY_ID_ AS id ,m.COMMUNITY_ID_  AS cid,m.AREA_NAME_ AS text
	FROM tb_sys_community m LEFT JOIN tb_sys_area_relation_ n
	ON m.COMMUNITY_ID_=n.COMMUNITY_ID_
	WHERE m.COMMUNITY_ID_ &lt;&gt;'HBWHWC000001' 
	AND n.DEPARTMENT_ID_ =(
	SELECT DEPARTMENT_ID_ from tb_user WHERE ACCOUNT_=#{workId}
    )
	GROUP BY m.COMMUNITY_ID_
	ORDER  BY m.COMPANY_CODE_, m.COMMUNITY_ID_
	</select>

	
	<!-- 查询楼栋作为树的三层 --> 
	<select id="selectTreeAa02" parameterType="String" resultType="Map"> 
	SELECT DISTINCT
	COMMUNITY_ID_ AS pid ,CONCAT(COMMUNITY_ID_,BLOCK_ID_)AS id,BLOCK_ID_ AS cid, BUILDING_ AS text
	FROM tb_sys_room 
	WHERE COMMUNITY_ID_ =#{tbaa01Id}
	GROUP BY BLOCK_ID_
	</select>
	
	<!-- 查询单元作为树的第四层 --> 
	<select id="selectTreeAa03" parameterType="String" resultType="Map">
	SELECT DISTINCT
	CONCAT(COMMUNITY_ID_,BLOCK_ID_)AS pid,CONCAT(COMMUNITY_ID_,BLOCK_ID_,UNIT_ID_)AS id,UNIT_ID_ AS cid,CELL_NAME_ AS text
	FROM tb_sys_room 
	WHERE BLOCK_ID_ =#{tbaa02Id}
	GROUP BY UNIT_ID_
	</select>
	
	<!-- 查询房间作为树的第五层 -->
	<select id="selectTreeAa05" parameterType="String" resultType="Map">
	SELECT DISTINCT
	CONCAT(COMMUNITY_ID_,BLOCK_ID_,UNIT_ID_) AS pid,CONCAT(COMMUNITY_ID_,BLOCK_ID_,UNIT_ID_,ROOM_ID_) AS id,ROOM_ID_ AS cid,ROOM_NAME_ AS text
	FROM tb_sys_room 
	WHERE UNIT_ID_ =#{tbaa03Id}
	GROUP BY ROOM_ID_
	ORDER  BY ROOM_ID_
	</select>
	
	<!-- 更新户主名字、电话 -->
	<update id="updateOwnerInfo" parameterType="Map">
		UPDATE tb_sys_room SET 
		OWNER_NAME_=#{ownerName},
		OWNER_TEL_=#{ownerTel},
		REMARK1_=#{remark1},
		UPDATE_DATE_=#{updateDate},
		UPDATE_EMP_=#{updateEmp}
		WHERE ROOM_ID_=#{roomId}
	</update>
	
	<!-- 更新未付款账单户主名 -->
	<!--  <update id="updateBillOwner" parameterType="Map">
	UPDATE tbdd13
	SET NAME_=#{ownerName},
	UPDATE_DATE_=#{updateDate},
	UPDATE_EMP_=#{updateEmp}
	where ROOM_ID_=#{roomId}
	AND PAY_FLAG_="0"
	</update>-->
		
     <!-- 方式一： <select id="selectCompanyCodeByWorkId" parameterType="String" resultType="String">
  SELECT COMPANY_CODE_ as companyCode FROM tbbb02 WHERE WORK_ID_=#{workId}
  </select> -->
  
  <!-- 方式二：根据登录人的workId查询所属公司 -->
  <select id="selectCompanyCodeByWorkId" parameterType="String" resultType="String">
  SELECT COMPANY_CODE_ as companyCode FROM tb_user WHERE 
    user_type_ = 'W' and account_ =#{workId}
  </select>
</mapper>