<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.AreaPositionMapper">


	<!--查询通用代码档案-->
	<select id="selectPositionTypeName" resultType="String" parameterType="String">
		SELECT
		DESC1_ text
		FROM tbpubcode01
		WHERE CONFIG_CODE_ = 'POSITION_TYPE'
		AND DESC_ = #{positionType}
		limit 1
	</select>

	<!--查询岗位是否排班-->
	<select id="checkTaskByPosition" parameterType="Map" resultType="Integer">
		select count(*) from  tb_task_arrangement
		where MONTH = #{month} AND POSITION_CODE = #{positionCode}
	</select>


	<!--未完成状态的任务无法删除-->
	<select id="checkUndoStatusByPosition" parameterType="String" resultType="Integer">
		select count(*) from  tb_task_arrangement
		where TASK_STATUS in ('WAIT','WORKING')
		AND POSITION_CODE = #{positionCode}
	</select>


	

</mapper>
