<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.AreaMapper">


	<!--查询区域列表-->
	<select id="selectAreaList" resultType="Map" parameterType="Map">
		<!--SELECT
		AREA_ID,
		AREA_CODE,
		AREA_NAME,
		AREA_TYPE,
		SUPER_AREA_CODE pAreaCode,
		(select AREA_NAME from tb_area a where a.AREA_CODE = b.SUPER_AREA_CODE) pAreaName,
		LEVEL,
		SEQ_NO,
		FINAL_FLAG,
		BUILDING_PURPOSE,
		BUILDING_CODE,
		ROOM_CODE,
		DOOR_CODE,
		ROOM_NO,
		ROOM_AREA,
		ACREAGE,
		PERIMETER,
		REMARK1
		FROM tb_area
		WHERE 1 = 1-->
		SELECT
		t.AREA_ID,
		t.AREA_CODE,
		t.AREA_NAME areaName,
		t.AREA_TYPE areaType,
		(select desc1_ from  tbpubcode01 a where a.desc_ =  t.AREA_TYPE and  a.CONFIG_CODE_ = 'AREA_TYPE') areaTypeName,
		t.SUPER_AREA_CODE pAreaCode,
		b.AREA_NAME pAreaName,
		t.BUILDING_PURPOSE,
		t.REMARK1
		FROM
		(SELECT
		AREA_ID,
		AREA_CODE,
		AREA_NAME,
		AREA_TYPE,
		SUPER_AREA_CODE,
		BUILDING_PURPOSE,
		SEQ_NO,
		LEVEL,
		REMARK1
		FROM tb_area where  1 = 1
		<if test="paramMap.areaCode!=null and paramMap.areaCode!=''">
			and (AREA_CODE = #{paramMap.areaCode}
			OR SUPER_AREA_CODE = #{paramMap.areaCode})
		</if>
		<if test="paramMap.areaName!=null and paramMap.areaName!=''">
			and AREA_NAME like concat('%',#{paramMap.areaName},'%')
		</if>
		<if test="paramMap.areaType!=null and paramMap.areaType!=''">
			and AREA_TYPE = #{paramMap.areaType}
		</if>
		<if test="paramMap.buildingPurpose!=null and paramMap.buildingPurpose!=''">
			and BUILDING_PURPOSE like concat('%',#{paramMap.buildingPurpose},'%')
		</if>
		<if test="paramMap.programCodes !=null and paramMap.programCodes.size > 0">
			and PROGRAM_CODE in
			<foreach item="item" index="index" collection="paramMap.programCodes"
					 open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		) t
		LEFT JOIN tb_area b
		on t.SUPER_AREA_CODE = b.AREA_CODE
		GROUP BY t.AREA_ID
		ORDER BY t.LEVEL,t.SEQ_NO
	</select>


	<!--查询区域树列表-->
	<select id="initTree" resultType="com.qcap.core.model.ZTreeNode" parameterType="Map">
	<!--	SELECT
		m.AREA_CODE areaCode,
		m.AREA_NAME areaName,
		m.SUPER_AREA_CODE pAreaCode,
		n.AREA_NAME pAreaName
		FROM
		tb_area m
		LEFT JOIN tb_area n ON m.SUPER_AREA_CODE = n.AREA_CODE
		<if test="programCodes !=null and programCodes.size > 0">
			and m.PROGRAM_CODE in
			<foreach item="item" index="index" collection="programCodes"
					 open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
        ORDER BY m.`LEVEL`,m.SEQ_NO-->
		SELECT
		m.AREA_CODE id,
		m.AREA_NAME name,
		(CASE
		WHEN (LENGTH(IFNULL(m.SUPER_AREA_CODE,'')) &lt; 1)
		THEN '-1'
		ELSE m.SUPER_AREA_CODE END) as pId,
		(CASE
		WHEN (LENGTH(m.SUPER_AREA_CODE) &lt; 1)
		THEN 'true'
		ELSE 'false' END) as isOpen
		FROM
		tb_area m
		LEFT JOIN tb_area n ON m.SUPER_AREA_CODE = n.AREA_CODE
		<if test="programCodes !=null and programCodes.size > 0">
			and m.PROGRAM_CODE in
			<foreach item="item" index="index" collection="programCodes"
					 open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		ORDER BY m.`LEVEL`,m.SEQ_NO
	</select>


	<!--删除区域，判断区域是否包含子区域-->
	<select id="checkSubAreaByAreaCode" parameterType="String" resultType="Integer">
	SELECT count(*)
	FROM tb_area WHERE FIND_IN_SET(#{areaCode},SUPER_AREA_CODE)
	</select>

	<!--删除区域，判断计划是否已经包含该区域-->
	<select id="checkPlanExistAreaCode" parameterType="String" resultType="Integer">
	SELECT SUM(num)
	FROM
	(SELECT COUNT(*) num FROM tb_plan WHERE AREA_CODE = #{areaCode}
	UNION
	SELECT COUNT(*) num FROM tb_plan_event WHERE AREA_CODE =  #{areaCode}) a
	</select>

	<!--删除区域，判断是否有岗位包含该区域-->
	<select id="checkPositionExistAreaCode" parameterType="String" resultType="Integer">
	SELECT count(*)
	FROM tb_area_position WHERE FIND_IN_SET(#{areaCode},AREA_CODE)
	</select>


</mapper>
