<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.AttenceMapper">

    <select id="listAttence" resultType="java.util.Map" parameterType="com.qcap.cac.dto.AttenceSearchDto">
        SELECT
        ATTENCE_ID attenceId,
        ORG_NAME orgName,
        PERSON_ID personId,
        WORK_NO workNo,
        PERSON_NAME personName,
        PERSON_MOBILE personMobile,
        DATE_FORMAT(ATTENCE_TIME,'%Y-%m-%d %H:%i:%S') attenceTime,
        REMARK remark
        FROM TB_ATTENCE
        WHERE 1=1
        <if test="obj.workNo != null and obj.workNo != ''">
            and WORK_NO = #{obj.workNo}
        </if>
        <if test="obj.personName != null and obj.personName != ''">
            and PERSON_NAME = #{obj.personName}
        </if>
        <if test="obj.attenceTime != null and obj.attenceTime != ''">
            and ATTENCE_TIME &gt; substring(#{obj.attenceTime},1,19)
        </if>
        <if test="obj.attenceTime != null and obj.attenceTime != ''">
            and ATTENCE_TIME &lt; substring(#{obj.attenceTime},22,19)
        </if>
        ORDER BY ATTENCE_TIME
    </select>
</mapper>
