<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.AttenceRestMapper">
	
	<select id="getAttenceList" resultType="java.util.Map" parameterType="com.qcap.cac.dto.GetAttenceDetailsReq">
        SELECT
        	ATTENCE_ID attenceId,
        	ORG_NAME orgName,
        	PERSON_ID personId,
        	WORK_NO workNo,
        	PERSON_NAME personName,
        	PERSON_MOBILE personMobile,
        	ATTENCE_PLACE attencePlace,
			(SELECT POSITION_NAME FROM tb_area_position WHERE POSITION_CODE = A.ATTENCE_PLACE) attencePlaceName,
        	DATE_FORMAT(ATTENCE_TIME,'%H:%i') attenceTime,
        	WORK_CONTENT workContent,
        	FILES_URL filesUrl,
        	REMARK remark
        FROM
        	tb_attence A
       	WHERE
       		WORK_NO = #{employeeCode} AND DATE_FORMAT(ATTENCE_TIME,'%Y-%m-%d') = #{date}
        ORDER BY ATTENCE_TIME
    </select>
    
    <select id="checkPositionCode" resultType="java.lang.Integer" parameterType="String">
        SELECT
        	COUNT(POSITION_CODE) count
        FROM
        	tb_area_position A
       	WHERE
       		POSITION_CODE = #{position}
    </select>
	
</mapper>
