<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.AttenceRestMapper">
	
	<select id="getAttenceList" resultType="java.util.Map" parameterType="com.qcap.cac.dto.GetAttenceDetailsReq">
        SELECT
        	ATTENCE_ID attenceId,
        	ORG_NAME orgName,
        	PERSON_ID personId,
        	WORK_NO workNo,
        	PERSON_NAME personName,
        	PERSON_MOBILE personMobile,
        	ATTENCE_PLACE attencePlace,
			(SELECT POSITION_NAME FROM tb_area_position WHERE POSITION_CODE = A.ATTENCE_PLACE) attencePlaceName,
        	DATE_FORMAT(ATTENCE_TIME,'%H:%i') attenceTime,
        	WORK_CONTENT workContent,
        	FILES_URL filesUrl,
        	REMARK remark
        FROM
        	tb_attence A
       	WHERE
       		WORK_NO = #{employeeCode} AND DATE_FORMAT(ATTENCE_TIME,'%Y-%m-%d') = #{date}
        ORDER BY ATTENCE_TIME
    </select>
    
    <select id="checkPositionCode" resultType="java.lang.Integer" parameterType="String">
        SELECT
        	COUNT(POSITION_CODE) count
        FROM
        	tb_area_position A
       	WHERE
       		POSITION_CODE = #{position}
    </select>

	<select id="getEmpArrangeShift" parameterType="com.qcap.cac.dto.GetEmpArrangeShiftDto" resultType="Map">
<!--		SELECT DISTINCT SHIFT FROM tb_task_arrangement
		WHERE EMPLOYEE_CODE =#{employeeCode}
		AND MONTH =#{monthNo}
		<if test='programCode!=null and programCode!="" '>
			AND PROGRAM_CODE =#{programCode}
		</if>
		AND DELETE_FLAG ='NORMAL'
		ORDER BY SHIFT-->

		SELECT DISTINCT m.SHIFT AS shift,n.DESC1_ AS shiftName
		FROM tb_task_arrangement m LEFT JOIN tbpubcode01 n
		ON m.SHIFT = n.DESC_
		AND n.CONFIG_CODE_ ='SHIFT'
		WHERE m.EMPLOYEE_CODE =#{employeeCode}
		AND m.MONTH =#{monthNo}
		<if test='programCode!=null and programCode!="" '>
		AND m.PROGRAM_CODE =#{programCode}
		</if>
		AND m.DELETE_FLAG ='NORMAL'
		ORDER BY SHIFT
	</select>
	
</mapper>
