<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.CommonMapper">

    <select id="getEquipNameByEquipType" resultType="java.util.Map">
        SELECT
        EQUIP_NO id,
        concat(EQUIP_NAME,'(',EQUIP_NO,')') text
        FROM
        tb_equip
        WHERE
        EQUIP_TYPE = #{equipType}
    </select>

    <select id="getPartsNameByEquipNo" resultType="java.util.Map">
        SELECT
        PARTS_NO id,
        concat(PARTS_NAME,'(',PARTS_NO,')') text
        FROM
        tb_equip_parts
        WHERE
        EQUIP_NO = #{equipNo}
    </select>

    <select id="getAreaNameByAreaCode" parameterType="String" resultType="java.util.Map">
        SELECT
        	AREA_CODE areaCode,
        	AREA_NAME areaName
        FROM
        	tb_area
        WHERE AREA_CODE = #{areaCode}
    </select>

    <select id="getStandardNameByStandardCode" parameterType="String" resultType="java.util.Map">
        SELECT
        	STANDARD_CODE standardCode,
        	STANDARD_NAME standardName
        FROM
        	tb_area_standard
        WHERE STANDARD_CODE = #{standardCode}
    </select>

    <select id="getEquipTypeList" resultType="java.util.Map">
        SELECT
        DESC_ id,
        DESC1_ text
        FROM
        tbpubcode01
        WHERE
        CONFIG_CODE_ = 'EQUIP_TYPE'
    </select>
    
    <select id="getAreaTypeByAreaCode" parameterType="String" resultType="java.util.Map">
        SELECT
        	AREA_CODE areaCode,
        	AREA_TYPE areaType
        FROM
        	tb_area
        WHERE AREA_CODE = #{areaCode}
    </select>
    
    <select id="selectAreaItem" resultType="Map">
		SELECT 
			m.AREA_CODE id,
			m.AREA_NAME name,
			m.SUPER_AREA_CODE pId,
			m.AREA_TYPE areaType,
			n.AREA_NAME pName 
		FROM 
			tb_area m 
		LEFT JOIN 
			tb_area n
		ON 
			m.SUPER_AREA_CODE = n.AREA_CODE
	</select>
	
	<select id="selectStandardNameList" resultType="Map">
		SELECT 
			STANDARD_CODE id,
			STANDARD_NAME text
		FROM 
			tb_area_standard 
	</select>
	
	  <insert id="insertSysFile" parameterType="com.qcap.cac.entity.TbSysFile">
	    insert into tb_sys_file (FILE_ID, GROUP_ID, FILE_NAME, 
	      FILE_TYPE, STORE_URL, DOWNLOAD_URL, 
	      REMARK1, REMARK2, REMARK3, 
	      CREATE_EMP, CREATE_DATE, UPDATE_DATE, 
	      UPDATE_EMP, VERSION)
	    values (#{fileId}, #{groupId}, #{fileName}, 
	      #{fileType}, #{storeUrl}, #{downloadUrl}, 
	      #{remark1}, #{remark2}, #{remark3}, 
	      #{createEmp}, #{createDate}, #{updateDate}, 
	      #{updateEmp}, #{version})
     </insert>

</mapper>
