<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.EquipChargeMapper">

    <select id="listEquipCharge" resultType="java.util.Map" parameterType="com.qcap.cac.dto.EquipChargeSearchDto">
        select
        ec.EQUIP_CHARGE_ID equipChargeId,
        ec.EQUIP_ID equipId,
        ec.EQUIP_NAME equipName,
        ec.EQUIP_NO equipNo,
        ec.EQUIP_TYPE equipType,
        ec.EQUIP_MODEL equipModel,
        DATE_FORMAT(ec.START_CHARGE_TIME,'%Y-%m-%d %H:%i:%S') startChargeTime,
        DATE_FORMAT(ec.END_CHARGE_TIME,'%Y-%m-%d %H:%i:%S') endChargeTime,
        ec.TOTAL_CHARGE_TIME totalChargeTime,
        ec.AREA area,
        ec.PERSON_NAME personName,
        ec.PERSON_MOBILE personMobile,
        ec.STATUS status
        from TB_EQUIP_CHARGE ec
        left join tb_program p
        ON ec.PROGRAM_CODE = p.PROGRAM_CODE
        where 1=1
        <if test="obj.equipNo != null and obj.equipNo != ''">
            and ec.EQUIP_NO like CONCAT(CONCAT('%',#{obj.equipNo}),'%')
        </if>
        <if test="obj.startChargeTime != null and obj.startChargeTime != ''">
            and ec.START_CHARGE_TIME &gt; substring(#{obj.startChargeTime},1,19)
        </if>
        <if test="obj.startChargeTime != null and obj.startChargeTime != ''">
            and ec.START_CHARGE_TIME &lt; substring(#{obj.startChargeTime},22,19)
        </if>
        <if test="obj.status != null and obj.status != ''">
            and ec.STATUS = #{obj.status}
        </if>
        <if test="obj.programCode != null and obj.programCode != ''">
            and p.PROGRAM_CODE = #{obj.programCode}
        </if>
        ORDER BY ec.START_CHARGE_TIME
    </select>


    <select id="getChargeTotalTimeByEquipId" resultType="java.lang.String" parameterType="java.lang.String">
        select
        IFNULL(sum(TOTAL_CHARGE_TIME),0) total
        from TB_EQUIP_CHARGE
        where
        EQUIP_ID = #{equipId}
    </select>

    <select id="getEquipChargeIdByEquipNoAndStatus" resultType="com.qcap.cac.entity.TbEquipCharge" parameterType="java.lang.String">
        select
        EQUIP_CHARGE_ID equipChargeId,
        START_CHARGE_TIME startChargeTime
        from TB_EQUIP_CHARGE
        where
        EQUIP_NO = #{equipNo}
        AND
        STATUS ='INCHARGE'
    </select>

    <update id="updateEquipChargeByEquipChargeId" parameterType="com.qcap.cac.entity.TbEquipCharge">
        UPDATE TB_EQUIP_CHARGE
        SET
        TOTAL_CHARGE_TIME = #{totalChargeTime},
        END_CHARGE_TIME = #{endChargeTime},
        STATUS = #{status},
        UPDATE_EMP = #{updateEmp},
        UPDATE_DATE = #{updateDate}
        where
        EQUIP_CHARGE_ID = #{equipChargeId}
    </update>
</mapper>
