<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.EquipMaintMapper">

    <select id="listEquipMaint" resultType="java.util.Map" parameterType="com.qcap.cac.dto.EquipChargeSearchDto">
        select
            em.EQUIP_MAINT_ID equipMaintId,
            em.EQUIP_ID equipId,
            em.EQUIP_NO equipNo,
            em.EQUIP_NAME equipName,
            em.EQUIP_TYPE equipType,
            em.EQUIP_MODEL equipModel,
            em.PARTS_NAME partsName,
            em.PARTS_NO partsNo,
            em.MAINT_TYPE maintType,
            em.EQUIP_CYCLE equipCycle,
            DATE_FORMAT(em.MAINT_TIME,'%Y-%m-%d') maintTime,
            em.MAINT_MONEY maintMoney,
            em.MAINT_RECORD maintRecord,
            em.MAINT_STATE maintState,
            em.MAINT_DESC maintDesc,
            em.REMARK remark
        from TB_EQUIP_MAINT em
        left join tb_program p
        ON em.program_code = p.program_code
        where 1=1
        <if test="obj.maintType != null and obj.maintType != ''">
            and em.MAINT_TYPE = #{obj.maintType}
        </if>
        <if test="obj.equipName != null and obj.equipName != ''">
            and em.EQUIP_NAME like CONCAT(CONCAT('%',#{obj.equipName}),'%')
        </if>
        <if test="obj.partsName != null and obj.partsName != ''">
            and em.PARTS_NAME like CONCAT(CONCAT('%',#{obj.partsName}),'%')
        </if>
        <if test="obj.programCode != null and obj.programCode != ''">
            and em.program_code = #{obj.programCode}
        </if>
        ORDER BY em.MAINT_TIME
    </select>

</mapper>
