<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.EquipRestMapper">


	<select id="getEquipList" parameterType="String" resultType="com.qcap.cac.dto.EquipListResp">
		SELECT
		EQUIP_ID equipId,
		EQUIP_NO equipNo,
		EQUIP_NAME equipName,
		IMG_URL url,
		STORE_AREA storeAreaName,
		EQUIP_STATE status,
		LINE_NO lineNo
		FROM
		tb_equip
		WHERE
		DEL_FLAG = 'NORMAL'
		<if test="lineNo != null and lineNo != ''">
			and LINE_NO  &gt;  #{lineNo}
		</if>
		limit 0,10
	</select>

	<select id="getEquipTypeList" resultType="com.qcap.cac.dto.EquipListResp" parameterType="com.qcap.cac.dto.EquipListReq">
		SELECT
		b.IMG_URL url,
		a.SEQ_ lineNo,
		a.DESC_ equipTypeCode,
		a.DESC1_ equipTypeName
		FROM
		tbpubcode01 a
		RIGHT JOIN
		tb_equip b
		ON a.DESC_ = b.EQUIP_TYPE
		WHERE
		a.CONFIG_CODE_ = 'EQUIP_TYPE'
		<if test="lineNo != null and lineNo != ''">
			and a.SEQ_ &gt; #{lineNo}
		</if>
		GROUP BY  b.EQUIP_TYPE
		order by a.SEQ_ DESC
		limit 0,10
	</select>

	<select id="getShiftTimeByShift" parameterType="String" resultType="Map">
		SELECT
		DESC1_ startTime,
		DESC2_ endTime
		FROM
		tbpubcode01
		WHERE
		DESC_ = #{shift}
		AND
		CONFIG_CODE_ = 'SHIFT_TYPE'
	</select>
	
	<select id="getUnrevertEquipList"  parameterType="String" resultType="com.qcap.cac.dto.ListUnrevertEquipResp">
		SELECT
		b.EQUIP_ID equipId,
		b.EQUIP_NO equipNo,
		b.EQUIP_NAME equipName,
		b.IMG_URL url,
		b.STORE_AREA storeAreaName,
		a.STATUS status
		FROM
		tb_equip_use a
		LEFT JOIN tb_equip b
		on a.EQUIP_ID = b.EQUIP_ID
		WHERE
		b.DEL_FLAG = 'NORMAL'
		AND
		a.STATUS = 'INUSE'
		AND
		a.PERSON_NO = #{employeeCode}
	</select>

	<select id="getEquipStatus" parameterType="String" resultType="com.qcap.cac.dto.GetEquipStatusResp">
		SELECT
		IMG_URL url,
		EQUIP_NAME equipName,
		EQUIP_NO equipNo,
		EQUIP_WORK_STATE status,
		STOP_PLACE stopPlace
		FROM
		tb_equip
		WHERE
		DEL_FLAG = 'NORMAL'
		AND
		EQUIP_NO = #{equipNo}
	</select>
</mapper>
