<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.EquipMapper">

    <select id="listEquip" resultType="java.util.Map" parameterType="com.qcap.cac.dto.EquipSearchDto">
        select
            a.EQUIP_ID equipId,
            a.PROGRAM_CODE programCode,
            p.PROGRAM_NAME programName,
            a.EQUIP_NO equipNo,
            a.EQUIP_CODE_URL equipCodeUrl,
            a.IMG_URL imgUrl,
            a.EQUIP_NAME equipName,
            a.EQUIP_USE equipUse,
            a.LIFE_CYCLE lifeCycle,
            a.WARRANTY warranty,
            a.DAILY_MAINT dailyMaint,
            a.MAINT_CYCLE maintCycle,
            a.MANUFACT manufact,
            b.DESC1_  equipType,
            a.EQUIP_MODEL equipModel,
            a.BASE_REQUIRE baseRequire,
            a.RESPONSE_NO responseNo,
            a.RESPONSE_NAME responseName,
            a.AGENCE_NO agenceNo,
            a.AGENCE_NAME agenceName,
            a.RELATE_NAME relateName,
            a.RELATE_MOBILE relateMobile,
            a.STOP_PLACE stopPlace,
            a.STORE_AREA storeArea,
            a.CHARGE_PLACE chargePlace,
            a.CHARGE_AREA chargeArea,
            a.ADVANCE_TIME advanceTime,
            a.NOTICE_DATE noticeDate,
            DATE_FORMAT(a.BUY_TIME,'%Y-%m-%d') buyTime,
            DATE_FORMAT(a.START_USE_TIME,'%Y-%m-%d') startUseTime,
            a.ATTENTION attention,
            a.EQUIP_STATE equipState,
            a.EQUIP_WORK_STATE equipWorkState,
            a.FILE_URLS fileUrls,
            a.FILE_NAMES fileNames
        from TB_EQUIP a
        LEFT JOIN tbpubcode01 b
        ON a.EQUIP_TYPE = b.DESC_
        LEFT JOIN tb_program p
        ON a.PROGRAM_CODE = p.PROGRAM_CODE
        where
        b.CONFIG_CODE_ = 'EQUIP_TYPE'
        AND
        a.DEL_FLAG = 'NORMAL'
        <if test="obj.equipName != null and obj.equipName != ''">
          AND a.EQUIP_NAME like CONCAT(CONCAT('%',#{obj.equipName}),'%')
        </if>
        <if test="obj.equipState != null and obj.equipState != ''">
          AND a.EQUIP_STATE = #{obj.equipState}
        </if>
        <if test="obj.equipType != null and obj.equipType != ''">
          AND a.EQUIP_TYPE = #{obj.equipType}
        </if>
        <if test="obj.equipWorkState != null and obj.equipWorkState != ''">
            AND a.EQUIP_WORK_STATE = #{obj.equipWorkState}
        </if>
        <if test="obj.programCode != null and obj.programCode != ''">
            AND a.PROGRAM_CODE = #{obj.programCode}
        </if>
        ORDER BY a.EQUIP_NO
    </select>

    <select id="selectEquipByEquipId"  resultType="com.qcap.cac.entity.TbEquip" parameterType="com.qcap.cac.dto.EquipInsertDto">
        select
            EQUIP_ID equipId,
            PROGRAM_CODE programCode,
            EQUIP_NO equipNo,
            EQUIP_CODE_URL equipCodeUrl,
            EQUIP_NAME equipName,
            EQUIP_TYPE equipType,
            EQUIP_MODEL equipModel,
            RESPONSE_NO responseNo,
            RESPONSE_NAME responseName,
            MANUFACT manufact,
            ADVANCE_TIME advanceTime,
            NOTICE_DATE noticeDate,
            AGENCE_NO agenceNo,
            AGENCE_NAME agenceName,
            RELATE_NAME relateName,
            RELATE_MOBILE relateMobile,
            DATE_FORMAT(BUY_TIME,'%Y-%m-%d') buyTime,
            DATE_FORMAT(START_USE_TIME,'%Y-%m-%d') startUseTime,
            ATTENTION attention,
            EQUIP_STATE equipState,
            EQUIP_WORK_STATE equipWorkState
        FROM TB_EQUIP
        WHERE
          DEL_FLAG = 'NORMAL'
        AND
          EQUIP_ID = #{equipId}
    </select>

    <select id="selectEquipByNoticeDate"  resultType="com.qcap.cac.entity.TbEquip" parameterType="String">
         select
            EQUIP_ID equipId,
            PROGRAM_CODE programCode,
            EQUIP_NO equipNo,
            EQUIP_NAME equipName,
            EQUIP_TYPE equipType,
            EQUIP_MODEL equipModel,
            RESPONSE_NO responseNo,
            RESPONSE_NAME responseName,
            MANUFACT manufact,
            ADVANCE_TIME advanceTime,
            NOTICE_DATE noticeDate,
            AGENCE_NO agenceNo,
            DATE_FORMAT(NEXT_MAINT_TIME,'%Y-%m-%d') nextMaintTime,
            ATTENTION attention,
            EQUIP_STATE equipState,
            EQUIP_WORK_STATE equipWorkState
        FROM TB_EQUIP
        WHERE
          DEL_FLAG = 'NORMAL'
        AND
          NOTICE_DATE = #{noticeDate}
    </select>

    <select id="selectEquipByEquipNo" resultType="com.qcap.cac.entity.TbEquip" parameterType="String">
        select
            EQUIP_ID equipId,
            PROGRAM_CODE programCode,
            EQUIP_NO equipNo,
            EQUIP_CODE_URL equipCodeUrl,
            EQUIP_NAME equipName,
            EQUIP_TYPE equipType,
            EQUIP_MODEL equipModel,
            RESPONSE_NO responseNo,
            RESPONSE_NAME responseName,
            MANUFACT manufact,
            ADVANCE_TIME advanceTime,
            MAINT_CYCLE maintCycle,
            NOTICE_DATE noticeDate,
            AGENCE_NO agenceNo,
            AGENCE_NAME agenceName,
            RELATE_NAME relateName,
            RELATE_MOBILE relateMobile,
            DATE_FORMAT(BUY_TIME,'%Y-%m-%d') buyTime,
            DATE_FORMAT(START_USE_TIME,'%Y-%m-%d') startUseTime,
            ATTENTION attention,
            EQUIP_STATE equipState,
            EQUIP_WORK_STATE equipWorkState
        FROM TB_EQUIP
        WHERE
        DEL_FLAG = 'NORMAL'
        AND
        EQUIP_NO = #{equipNo}
    </select>

    <select id="getMaxEquipNumByEquipType" parameterType="String" resultType="int">
        SELECT
        count(EQUIP_ID)+1 num
        FROM TB_EQUIP
        WHERE
        EQUIP_TYPE = #{equipType}
        AND
        PROGRAM_CODE = #{programCode}
    </select>

    <select id="getEquipOperateRecordByEquipId" parameterType="String" resultType="map">
        SELECT
            *
        FROM
        (SELECT
          c.EQUIP_ID id,
          c.EQUIP_NAME equipName,
          c.EQUIP_NO equipNo,
          c.PERSON_NAME personName,
          DATE_FORMAT(c.START_CHARGE_TIME,'%Y-%m-%d %H:%i:%S') startTime,
          DATE_FORMAT(c.END_CHARGE_TIME,'%Y-%m-%d %H:%i:%S') endTime,
          c.STATUS status
         FROM tb_equip_charge c
         WHERE c.EQUIP_ID = #{equipId}
        UNION
         SELECT
          u.EQUIP_ID id,
          u.EQUIP_NAME equipName,
          u.EQUIP_NO equipNo,
          u.PERSON_NAME personName,
          DATE_FORMAT(u.START_USE_TIME,'%Y-%m-%d %H:%i:%S') startTime,
          DATE_FORMAT(u.END_USE_TIME,'%Y-%m-%d %H:%i:%S') endTime,
          u.STATUS status
        FROM tb_equip_use u
        WHERE u.EQUIP_ID = #{equipId}
        ) temp
        ORDER BY temp.startTime DESC
    </select>

    <update id="updateEquip" parameterType="com.qcap.cac.entity.TbEquip">
        update tb_equip
        set
        <if test="equipName != null and equipName != ''">
            EQUIP_NAME = #{equipName},
        </if>
        <if test="equipModel != null and equipModel != ''">
            EQUIP_MODEL = #{equipModel},
        </if>
        <if test="responseNo != null and responseNo != ''">
            RESPONSE_NO = #{responseNo},
        </if>
        <if test="responseName != null and responseName != ''">
            RESPONSE_NAME = #{responseName},
        </if>
        <if test="equipUse != null and equipUse != ''">
            EQUIP_USE = #{equipUse},
        </if>
        <if test="stopPlace != null and stopPlace != ''">
            STOP_PLACE = #{stopPlace},
        </if>
        <if test="storeArea != null and storeArea != ''">
            STORE_AREA = #{storeArea},
        </if>
        <if test="chargePlace != null and chargePlace != ''">
            CHARGE_PLACE = #{chargePlace},
        </if>
        <if test="chargeArea != null and chargeArea != ''">
            CHARGE_AREA = #{chargeArea},
        </if>
        <if test="manufact != null and manufact != ''">
            MANUFACT = #{manufact},
        </if>
        <if test="agenceNo != null and agenceNo != ''">
            AGENCE_NO = #{agenceNo},
        </if>
        <if test="agenceName != null and agenceName != ''">
            AGENCE_NAME = #{agenceName},
        </if>
        <if test="relateName != null and relateName != ''">
            RELATE_NAME = #{relateName},
        </if>
        <if test="relateMobile != null and relateMobile != ''">
            RELATE_MOBILE = #{relateMobile},
        </if>
        <if test="lifeCycle != null and lifeCycle != ''">
            LIFE_CYCLE = #{lifeCycle},
        </if>
        <if test="dailyMaint != null and dailyMaint != ''">
            DAILY_MAINT = #{dailyMaint},
        </if>
        <if test="maintCycle != null and maintCycle != ''">
            MAINT_CYCLE = #{maintCycle},
        </if>
        <if test="advanceTime != null and advanceTime != ''">
            ADVANCE_TIME = #{advanceTime},
        </if>
        <if test="noticeDate != null and noticeDate != ''">
            NOTICE_DATE = #{noticeDate},
        </if>
        <if test="warranty != null and warranty != ''">
            WARRANTY = #{warranty},
        </if>
        <if test="baseRequire != null and baseRequire != ''">
            BASE_REQUIRE = #{baseRequire},
        </if>
        <if test="attention != null and attention != ''">
            ATTENTION = #{attention},
        </if>
        <if test="imgUrl != null and imgUrl != ''">
            IMG_URL = #{imgUrl},
        </if>
        FILE_URLS = #{fileUrls},
        FILE_NAMES = #{fileNames},
        UPDATE_EMP = #{updateEmp,jdbcType=VARCHAR},
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
        where EQUIP_ID = #{equipId}
    </update>

    <update id="deleteEquipByEquipId" parameterType="String" >
        UPDATE  tb_equip
        SET
          DEL_FLAG = 'DEL'
        WHERE
          EQUIP_ID = #{equipId}
    </update>

    <update id="updateEquipWorkStatusByEquipNoAndStatus">
        UPDATE  tb_equip
        SET
          EQUIP_WORK_STATE = #{status},
          UPDATE_EMP = #{employeeCode},
          UPDATE_DATE = now()
        WHERE
          EQUIP_NO = #{equipNo}
    </update>

    <update id="updateEquipStatusAndWorkStatusByEquipNoAndStatus">
        UPDATE  tb_equip
        SET
          EQUIP_STATE = #{status},
          EQUIP_WORK_STATE = #{workStatus},
          UPDATE_EMP = #{employeeCode},
          UPDATE_DATE = now()
        WHERE
          EQUIP_NO = #{equipNo}
    </update>
</mapper>
