<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.EquipRepairMapper">

    <select id="listEquipRepair" resultType="java.util.Map" parameterType="com.qcap.cac.dto.EquipRepairSearchDto">
        select
        EQUIP_REPAIR_ID equipRepairId,
        EQUIP_ID equipId,
        EQUIP_NAME equipName,
        EQUIP_NO equipNo,
        EQUIP_TYPE equipType,
        EQUIP_MODEL equipModel,
        DATE_FORMAT(REPAIR_TIME,'%Y-%m-%d %H:%i:%S') repairTime,
        PERSON_NAME personName,
        PERSON_MOBILE personMobile,
        EQUIP_DESC equipDesc,
        STATUS status
        from TB_EQUIP_REPAIR
        where 1=1
        <if test="obj.equipType != null and obj.equipType != ''">
            and EQUIP_TYPE = #{obj.equipType}
        </if>
        <if test="obj.equipName != null and obj.equipName != ''">
            and EQUIP_NAME = #{obj.equipName}
        </if>
        <if test="obj.repairTime != null and obj.repairTime != ''">
            and REPAIR_TIME &gt; #{obj.repairTime}
        </if>
        <if test="obj.status != null and obj.status != ''">
            and STATUS = #{obj.status}
        </if>
        ORDER BY REPAIR_TIME
    </select>

    <update id="updateEquipRepair" parameterType="com.qcap.cac.entity.TbEquipRepair">
      update TB_EQUIP_REPAIR
      SET
      STATUS = 'REPAIRED',
      UPDATE_EMP = #{updateEmp}
      WHERE
      EQUIP_REPAIR_ID = #{equipRepairId}
    </update>

</mapper>
