<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.EquipUseMapper">

    <select id="listEquipUse" resultType="java.util.Map" parameterType="com.qcap.cac.dto.EquipUseSearchDto">
        select
        eu.EQUIP_USE_ID equipUseId,
        eu.EQUIP_ID equipId,
        eu.EQUIP_NAME equipName,
        eu.EQUIP_NO equipNo,
        eu.EQUIP_TYPE equipType,
        eu.EQUIP_MODEL equipModel,
        eu.PROGRAM_CODE programCode,
        p.PROGRAM_NAME programName,
        DATE_FORMAT(eu.START_USE_TIME,'%Y-%m-%d %H:%i:%S') startUseTime,
        DATE_FORMAT(eu.END_USE_TIME,'%Y-%m-%d %H:%i:%S') endUseTime,
        eu.TOTAL_USE_TIME totalUseTime,
        eu.AREA area,
        eu.PERSON_NAME personName,
        eu.PERSON_MOBILE personMobile,
        eu.STATUS status
        from TB_EQUIP_USE eu
        left join tb_program p
        ON eu.PROGRAM_CODE = p.PROGRAM_CODE
        where 1=1
        <if test="obj.equipNo != null and obj.equipNo != ''">
            and eu.EQUIP_NO like CONCAT(CONCAT('%',#{obj.equipNo}),'%')
        </if>
        <if test="obj.startUseTime != null and obj.startUseTime != ''">
            and eu.START_USE_TIME &gt; substring(#{obj.startUseTime},1,19)
        </if>
        <if test="obj.startUseTime != null and obj.startUseTime != ''">
            and eu.START_USE_TIME &lt; substring(#{obj.startUseTime},22,19)
        </if>
        <if test="obj.status != null and obj.status != ''">
            and eu.STATUS = #{obj.status}
        </if>
        <if test="obj.programCode != null and obj.programCode != ''">
            and p.PROGRAM_CODE = #{obj.programCode}
        </if>
        ORDER BY eu.START_USE_TIME
    </select>

    <select id="selectUseEquipByEquipNo" resultType="com.qcap.cac.entity.TbEquipUse" parameterType="java.lang.String">
        select
            EQUIP_ID equipId,
            EQUIP_NAME equipName,
            EQUIP_NO equipNo,
            EQUIP_USE_ID equipUseId,
            START_USE_TIME startUseTime
        from tb_equip_use
        where
            PERSON_NO = #{employeeCode}
        AND
            STATUS ='INUSE'
    </select>

    <select id="getUseTotalTimeByEquipId" resultType="java.lang.String" parameterType="java.lang.String">
        select
        IFNULL(sum(TOTAL_USE_TIME),0) total
        from TB_EQUIP_USE
        where
        EQUIP_ID = #{equipId}
    </select>

    <insert id="insertEquipUse" parameterType="com.qcap.cac.entity.TbEquipUse">
        INSERT INTO tb_equip_use
        (EQUIP_USE_ID,EQUIP_ID,EQUIP_NO,PROGRAM_CODE,EQUIP_NAME,EQUIP_TYPE,EQUIP_MODEL,AREA,PERSON_NO,PERSON_NAME,PERSON_MOBILE,START_USE_TIME,STATUS,CREATE_EMP,CREATE_DATE,UPDATE_EMP,UPDATE_DATE)
        VALUE
        (#{equipUseId},#{equipId},#{equipNo},#{programCode},#{equipName},#{equipType},#{equipModel},#{area},#{personNo},#{personName},#{personMobile},#{startUseTime},#{status},#{createEmp},now(),#{updateEmp},now())
    </insert>

    <select id="getEquipUseIdByEquipNoAndStatus" resultType="com.qcap.cac.entity.TbEquipUse" parameterType="java.lang.String">
        select
        EQUIP_USE_ID equipUseId,
        START_USE_TIME startUseTime
        from tb_equip_use
        where
        EQUIP_NO = #{equipNo}
        AND
        STATUS ='INUSE'
    </select>

    <select id="getEquipUserByEquipNoAndStatus" resultType="com.qcap.cac.entity.TbEquipUse" parameterType="java.lang.String">
        select
        PERSON_NO personNo,
        PERSON_NAME personName
        from tb_equip_use
        where
        EQUIP_NO = #{equipNo}
        AND
        STATUS ='INUSE'
    </select>

    <update id="updateEquipUseByEquipUseId" parameterType="com.qcap.cac.entity.TbEquipUse">
         UPDATE tb_equip_use
        SET
        TOTAL_USE_TIME = #{totalUseTime},
        END_USE_TIME = #{endUseTime},
        STATUS = #{status},
        UPDATE_EMP = #{updateEmp},
        UPDATE_DATE = #{updateDate}
        where
        EQUIP_USE_ID = #{equipUseId}
    </update>
</mapper>
