<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.EquipMaintMapper">

    <select id="listEquipMaint" resultType="java.util.Map" parameterType="com.qcap.cac.dto.EquipChargeSearchDto">
        select
        EQUIP_MAINT_ID equipMaintId,
        EQUIP_ID equipId,
        EQUIP_NO equipNo,
        EQUIP_NAME equipName,
        EQUIP_TYPE equipType,
        EQUIP_MODEL equipModel,
        PARTS_NAME partsName,
        PARTS_NO partsNo,
        MAINT_TYPE maintType,
        EQUIP_CYCLE equipCycle,
        DATE_FORMAT(MAINT_TIME,'%Y-%m-%d') maintTime,
        MAINT_RECORD maintRecord,
        MAINT_STATE maintState,
        MAINT_DESC maintDesc,
        REMARK remark
        from TB_EQUIP_MAINT
        where 1=1
        <if test="obj.maintType != null and obj.maintType != ''">
            and MAINT_TYPE = #{obj.maintType}
        </if>
        <if test="obj.equipName != null and obj.equipName != ''">
            and EQUIP_NAME = #{obj.equipName}
        </if>
        <if test="obj.partsName != null and obj.partsName != ''">
            and PARTS_NAME = #{obj.partsName}
        </if>
        ORDER BY MAINT_TIME
    </select>

</mapper>
