<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.EquipPlanMapper">

    <select id="listEquipPlan" resultType="java.util.Map" parameterType="com.qcap.cac.dto.EquipPlanSearchDto">
        SELECT
        PLAN_ID planId,
        EQUIP_ID equipId,
        EQUIP_NO equipNo,
        EQUIP_NAME equipName,
        EQUIP_TYPE equipType,
        EQUIP_MODEL equipModel,
        DATE_FORMAT(START_USE_TIME,'%Y-%m-%d') startUseTime,
        LIFE_CYCLE lifeCycle,
        PARTS_ID partsId,
        PARTS_NO partsNo,
        PARTS_NAME partsName,
        PARTS_MODEL partsModel,
        MAINT_CYCLE maintCycle,
        DATE_FORMAT(LATEST_MAINT_TIME,'%Y-%m-%d') latestMaintTime,
        DATE_FORMAT(NEXT_MAINT_TIME,'%Y-%m-%d') nextMaintTime,
        REMARK remark
        FROM TB_EQUIP_PLAN
        WHERE 1=1
        <if test="map.equipType != null and map.equipType != ''">
            and EQUIP_TYPE = #{map.equipType}
        </if>
        <if test="map.equipNo != null and map.equipNo != ''">
            and EQUIP_NO = #{map.equipNo}
        </if>
        <if test="map.equipModel != null and map.equipModel != ''">
            and EQUIP_MODEL = #{map.equipModel}
        </if>
        <if test="map.latestMaintTime != null and map.latestMaintTime != ''">
            and LATEST_MAINT_TIME &gt; #{map.latestMaintTime}
        </if>
        AND PARTS_NO is null
        AND  DEL_FLAG = 'NORMAL'
        ORDER BY LATEST_MAINT_TIME
    </select>

    <select id="listPartsPlanByEquipId" parameterType="java.lang.String"  resultType="java.util.Map">
        SELECT
        PLAN_ID planId,
        EQUIP_ID equipId,
        EQUIP_NAME equipName,
        EQUIP_TYPE equipType,
        EQUIP_MODEL equipModel,
        DATE_FORMAT(START_USE_TIME,'%Y-%m-%d') startUseTime,
        PARTS_ID partsId,
        PARTS_NO partsNo,
        PARTS_NAME partsName,
        PARTS_MODEL partsModel,
        MAINT_CYCLE maintCycle,
        DATE_FORMAT(LATEST_MAINT_TIME,'%Y-%m-%d') latestMaintTime,
        DATE_FORMAT(NEXT_MAINT_TIME,'%Y-%m-%d') nextMaintTime,
        REMARK remark
        FROM TB_EQUIP_PLAN
        WHERE
        EQUIP_ID = #{equipId}
        AND PARTS_NO is not null
    </select>

    <select id="selectPartsPlanByPartsId" parameterType="java.lang.String" resultType="com.qcap.cac.entity.TbEquipPlan">
         SELECT
        PLAN_ID planId,
        EQUIP_ID equipId,
        EQUIP_NAME equipName,
        EQUIP_TYPE equipType,
        EQUIP_MODEL equipModel,
        DATE_FORMAT(START_USE_TIME,'%Y-%m-%d') startUseTime,
        PARTS_ID partsId,
        PARTS_NO partsNo,
        PARTS_NAME partsName,
        PARTS_MODEL partsModel,
        MAINT_CYCLE maintCycle,
        DATE_FORMAT(LATEST_MAINT_TIME,'%Y-%m-%d') latestMaintTime,
        DATE_FORMAT(NEXT_MAINT_TIME,'%Y-%m-%d') nextMaintTime,
        REMARK remark
        FROM TB_EQUIP_PLAN
        WHERE
        PARTS_ID = #{partsId}
    </select>

    <update id="updateNextMaintTime"  parameterType="com.qcap.cac.entity.TbEquipPlan">
        UPDATE TB_EQUIP_PLAN
        SET
        MAINT_CYCLE = #{maintCycle},
        NEXT_MAINT_TIME = #{nextMaintTime},
        CREATE_EMP = #{createEmp},
        CREATE_DATE = #{createDate},
        UPDATE_EMP = #{updateEmp},
        UPDATE_DATE = #{updateDate}
        WHERE
        PLAN_ID = #{planId}
    </update>

    <update id="updateEquipPlan"  parameterType="com.qcap.cac.entity.TbEquipPlan">
        UPDATE TB_EQUIP_PLAN
        SET
        NEXT_MAINT_TIME = #{nextMaintTime},
        LATEST_MAINT_TIME = #{latestMaintTime},
        CREATE_EMP = #{createEmp},
        CREATE_DATE = #{createDate},
        UPDATE_EMP = #{updateEmp},
        UPDATE_DATE = #{updateDate}
        WHERE
        PLAN_ID = #{planId}
    </update>

    <update id="deletePlanByEquipId">
        UPDATE TB_EQUIP_PLAN
        SET
        DEL_FLAG = 'DEL'
        WHERE
        EQUIP_ID = #{equipId}
    </update>

    <delete id="deletePlanByPartsId"  parameterType="String">
        DELETE FROM TB_EQUIP_PLAN  WHERE PARTS_ID = #{partsId}
    </delete>
</mapper>
