<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.EquipChargeMapper">

    <select id="listEquipCharge" resultType="java.util.Map" parameterType="com.qcap.cac.dto.EquipChargeSearchDto">
        select
        EQUIP_CHARGE_ID equipChargeId,
        EQUIP_ID equipId,
        EQUIP_NAME equipName,
        EQUIP_NO equipNo,
        EQUIP_TYPE equipType,
        EQUIP_MODEL equipModel,
        DATE_FORMAT(START_CHARGE_TIME,'%Y-%m-%d %H:%i:%S') startChargeTime,
        DATE_FORMAT(END_CHARGE_TIME,'%Y-%m-%d %H:%i:%S') endChargeTime,
        TOTAL_CHARGE_TIME totalChargeTime,
        AREA area,
        PERSON_NAME personName,
        PERSON_MOBILE personMobile,
        STATUS status
        from TB_EQUIP_CHARGE
        where 1=1
        <if test="obj.equipNo != null and obj.equipNo != ''">
            and EQUIP_NO = #{obj.equipNo}
        </if>
        <if test="obj.startChargeTime != null and obj.startChargeTime != ''">
            and START_CHARGE_TIME &gt; #{obj.startChargeTime}
        </if>
        <if test="obj.status != null and obj.status != ''">
            and STATUS = #{obj.status}
        </if>
        ORDER BY START_CHARGE_TIME
    </select>


    <select id="getChargeTotalTimeByEquipId" resultType="java.lang.String" parameterType="java.lang.String">
        select
        sum(TOTAL_CHARGE_TIME) total
        from TB_EQUIP_CHARGE
        where
        EQUIP_ID = #{equipId}
    </select>
</mapper>
