<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.GoodsApplyRestMapper">

	<!--查询当前登录人的角色-->
	<select id="queryLoginRole" parameterType="String" resultType="Integer">
	 select a.num
        from tb_role a
                 left join tb_manager_role b on a.num = b.role_id
                 left join tb_manager c on b.manager_id = c.id
        where c.account = #{employeeCode}
	</select>


    <!--库管领用单列表-->
	<select id="queryReqList" parameterType="Map" resultType="com.qcap.cac.dto.GoodsReqRestReq">
		SELECT
		a.LINE_NO,
		a.WAREHOUSE_REQU_ID,
		a.STOREROOM_ID,
		a.STOREROOM,
		a.REQU_BATCH_NO,
		a.REQU_PERSON,
		a.REQU_MOBILE,
		a.REQU_NAME,
		a.POSITION_CODE,
		(select b.POSITION_NAME from tb_area_position b where a.POSITION_CODE = b.POSITION_CODE) positionName,
		DATE_FORMAT(a.REQU_TIME,'%Y-%m-%d') requTime,
		DATE_FORMAT(a.CREATE_DATE,'%Y-%m-%d %H:%i:%s') createDate,
		a.REQU_REMARK,
		a.REQU_STATUS
		from tb_warehouse_requ a
		LEFT JOIN tb_warehouse_reqdetail b
		on a.WAREHOUSE_REQU_ID = b.WAREHOUSE_REQU_ID
		WHERE DATE(a.REQU_TIME) =#{date}
		AND b.REQU_STATUS =#{requStatus}
		<if test="lineNo!=null and lineNo!=''">
			and a.LINE_NO &gt; #{lineNo}
		</if>
		group  by a.WAREHOUSE_REQU_ID
		order by a.LINE_NO DESC
		limit 0,10
	</select>


	<!--库管查询领用明细-->
	<select id="queryReqDetailList" parameterType="Map" resultType="com.qcap.cac.dto.GoodsReqDetailReq">
		SELECT
		a.LINE_NO,
		a.WAREHOUSE_REQU_ID,
		WAREHOUSE_REQDETAIL_ID,
		a.GOODS_NO  goodsNo,
		a.GOODS_NAME goodsName,
		APPLY_NUM,
		a.LINE_NO,
		a.MIN_UNIT,
		(
		SELECT
		IFNULL(GOODS_NUM, 0)
		FROM
		tb_warehouse_stock c
		WHERE
		c.GOODS_NO = a.GOODS_NO
		and c.PROGRAM_CODE = b.PROGRAM_CODE
		) goodsNum,
		a.REQU_REMARK
		from tb_warehouse_reqdetail a
		LEFT JOIN tb_warehouse_requ b
		on a.WAREHOUSE_REQU_ID = b.WAREHOUSE_REQU_ID
        where  a.WAREHOUSE_REQU_ID = #{warehouseRequId}
        AND a.REQU_STATUS =#{requStatus}
		<if test="lineNo!=null and lineNo!=''">
			and a.LINE_NO &gt; #{lineNo}
		</if>
        order by a.LINE_NO DESC
		limit 0,10
	</select>


	<!--主管查询发放-->
	<select id="queryAvailDistributionList" parameterType="Map" resultType="com.qcap.cac.dto.GoodsDistributionDetailReq">
		SELECT
		1 as distrNum,
		a.ids,
		a.goodsNo,
		a.goodsName,
		IFNULL(
			IFNULL(a.realNum, 0) - IFNULL(b.distrNum, 0),
			0
		) availNum,
		a.minUnit,
		a.LINE_NO,
		a.POSITION_CODE,
		a.POSITION_NAME
	FROM
		(
			SELECT
				GROUP_CONCAT(a.WAREHOUSE_REQDETAIL_ID) ids,
				a.LINE_NO,
				a.GOODS_NO goodsNo,
				a.GOODS_NAME goodsName,
				SUM(a.REAL_NUM) realNum,
        c.POSITION_CODE,
        c.POSITION_NAME,
		a.MIN_UNIT minUnit
			FROM
				tb_warehouse_reqdetail a LEFT JOIN tb_warehouse_requ c
        on a.WAREHOUSE_REQU_ID = c.WAREHOUSE_REQU_ID
			WHERE
				a.REQU_STATUS = #{requStatus}
			<if test="positionCode!=null and positionCode!=''">
				AND c.POSITION_CODE = #{positionCode}
			</if>
			<if test="goodsNo!=null and goodsNo!=''">
				and a.GOODS_NO = #{goodsNo}
			</if>
			GROUP BY
				a.GOODS_NO
			ORDER BY
				a.GOODS_NO
		) a
	LEFT JOIN (
		SELECT
			b.WAREHOUSE_REQDETAIL_ID ids,
			b.GOODS_NO goodsNo,
			b.GOODS_NAME goodsName,
			SUM(b.DISTR_NUM) distrNum,
			b.MIN_UNIT minUnit
		FROM
			tb_warehouse_distribution b
		GROUP BY
			b.WAREHOUSE_REQDETAIL_ID
		ORDER BY
			b.GOODS_NO
	) b ON a.ids = b.ids
	where  (IFNULL(a.realNum, 0) - IFNULL(b.distrNum, 0)) > 0
	<if test="lineNo!=null and lineNo!=''">
		and a.LINE_NO &gt; #{lineNo}
	</if>
		order by a.LINE_NO DESC
		limit 0,10
	</select>


	<!--库管出库，更新领用单库存-->
	<update id="updateReqDetailByGoodsOut" parameterType="com.qcap.cac.entity.TbWarehouseReqdetail" >
        update tb_warehouse_reqdetail
        set
        REAL_NUM = #{realNum,jdbcType=INTEGER},
        REQU_STATUS = #{requStatus,jdbcType=VARCHAR},
        UPDATE_EMP = #{updateEmp,jdbcType=VARCHAR},
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
        VERSION = VERSION + 1
        where WAREHOUSE_REQDETAIL_ID = #{warehouseReqdetailId,jdbcType=VARCHAR}
    </update>

	<!--库管出库，更新库存-->
	<update id="updateStockByGoodsOut" parameterType="com.qcap.cac.entity.TbWarehouseStock" >
        update tb_warehouse_stock
        set
        GOODS_NUM = #{goodsNum,jdbcType=INTEGER},
        UPDATE_EMP = #{updateEmp,jdbcType=VARCHAR},
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
        VERSION = VERSION + 1
        where WAREHOUSE_STOCK_ID = #{warehouseStockId,jdbcType=VARCHAR}
    </update>
	
	
	
</mapper>
