<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.LeaveMapper">

    <select id="listLeave" resultType="java.util.Map" parameterType="com.qcap.cac.dto.AttenceSearchDto">
        SELECT
        LEAVE_ID leaveId,
        PERSON_ID personId,
        WORK_NO workNo,
        PERSON_NAME personName,
        PERSON_MOBILE personMobile,
        LEAVE_REASON leaveReason,
        DATE_FORMAT(LEAVE_START_TIME,'%Y-%m-%d %H:%i:%S') leaveStartTime,
        DATE_FORMAT(LEAVE_END_TIME,'%Y-%m-%d %H:%i:%S') leaveEndTime,
        LEAVE_TOTAL_TIME leaveTotalTime,
        REMARK remark
        FROM TB_LEAVE
        WHERE 1=1
        <if test="obj.workNo != null and obj.workNo != ''">
            and WORK_NO = #{obj.workNo}
        </if>
        <if test="obj.personName != null and obj.personName != ''">
            and PERSON_NAME = #{obj.personName}
        </if>
        <if test="obj.leaveStartTime != null and obj.leaveStartTime != ''">
            and LEAVE_START_TIME &gt; #{obj.leaveStartTime}
        </if>
        ORDER BY LEAVE_START_TIME
    </select>

</mapper>
