<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.LeaveRestMapper">

	<!--查询当前登录人的组织编码-->
	<select id="queryLoginOrgCode" parameterType="String" resultType="String">
	 select a.`code`
        from tb_org a
                 left join tb_manager_org b on a.id = b.org_id
                 left join tb_manager c on b.manager_id = c.id
        where c.account = #{employeeCode}
	</select>


    <!--请假列表-->
	<select id="queryLeaveList" parameterType="Map" resultType="com.qcap.cac.dto.AppLeaveReq">
		SELECT
		LEAVE_ID,
		LINE_NO,
		PERSON_ID,
		WORK_NO,
		LEAVE_TYPE,
		(SELECT desc1_ FROM tbpubcode01 A WHERE A.CONFIG_CODE_ = 'LEAVE_TYPE' AND A.DESC_ = b.LEAVE_TYPE) leaveTypeName,
		PERSON_NAME,
		PERSON_MOBILE,
		LEAVE_REASON,
		LEAVE_STATUS,
		case LEAVE_STATUS
		 when 'AUDITING' then '待审核'
		 when 'PASS' then '已通过'
		 when 'REFUSE' then '已驳回'
		 when 'CANCEL' then '已撤回'
		else '' END leaveStatusName,
		AUDIT_PERSON,
		DATE_FORMAT(LEAVE_START_TIME,'%Y-%m-%d %H:%m:%s') leaveStartTime,
		DATE_FORMAT(LEAVE_END_TIME,'%Y-%m-%d %H:%m:%s') leaveEndTime,
		LEAVE_URL,
		LEAVE_TOTAL_TIME,
		REMARK,
		AUDIT_PERSON,
		REFUSE_REASON,
		REFUSE_URL,
		DATE_FORMAT(AUDIT_TIME,'%Y.%m.%d') auditTime,
		DATE_FORMAT(CREATE_DATE,'%Y.%m.%d') createTime
		FROM tb_leave b
		where 1 = 1
		<if test="leaveStatus!=null and leaveStatus!=''">
			and b.LEAVE_STATUS = #{leaveStatus}
		</if>
		<if test="auditCode!=null and auditCode!=''">
			and b.AUDIT_PERSON = #{auditCode}
		</if>
		<if test="employeeCode!=null and employeeCode!=''">
			and b.WORK_NO = #{employeeCode}
		</if>
		<if test="auditPerson!=null and auditPerson!=''">
			and b.AUDIT_PERSON = #{auditPerson}
		</if>
		<if test="employeeCodeList !=null and employeeCodeList.size > 0">
			and b.WORK_NO in
			<foreach item="item" index="index" collection="employeeCodeList"
					 open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="lineNo!=null and lineNo!=''">
			and b.LINE_NO &gt; #{lineNo}
		</if>
		order by b.LINE_NO desc
		limit 0,10
	</select>

	<select id="selectLeaveDetailById" parameterType="String" resultType="com.qcap.cac.dto.AppLeaveReq">
		SELECT
		LEAVE_ID,
		LINE_NO,
		PERSON_ID,
		WORK_NO,
		LEAVE_TYPE,
		(SELECT desc1_ FROM tbpubcode01 A WHERE A.CONFIG_CODE_ = 'LEAVE_TYPE' AND A.DESC_ = b.LEAVE_TYPE) leaveTypeName,
		PERSON_NAME,
		PERSON_MOBILE,
		LEAVE_REASON,
		LEAVE_STATUS,
		case LEAVE_STATUS
		 when 'AUDITING' then '待审核'
		 when 'PASS' then '已通过'
		 when 'REFUSE' then '已驳回'
		 when 'CANCEL' then '已撤回'
		else '' END leaveStatusName,
		AUDIT_PERSON,
		DATE_FORMAT(LEAVE_START_TIME,'%Y-%m-%d %H:%m:%s') leaveStartTime,
		DATE_FORMAT(LEAVE_END_TIME,'%Y-%m-%d %H:%m:%s') leaveEndTime,
		LEAVE_URL,
		LEAVE_TOTAL_TIME,
		REMARK,
		AUDIT_PERSON,
		REFUSE_REASON,
		REFUSE_URL,
		DATE_FORMAT(AUDIT_TIME,'%Y.%m.%d') auditTime,
		DATE_FORMAT(CREATE_DATE,'%Y.%m.%d') createTime
		FROM tb_leave b where  LEAVE_ID = #{leaveId}
	</select>


</mapper>
