<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.LoginRestMapper">

	<select id="selectManagerByWorkNo" parameterType="String" resultType="com.qcap.core.entity.TbManager">
		SELECT
		id id,
		account account,
		password password,
		salt salt,
		name name
		FROM
		tb_manager
		WHERE
		account = #{employeeCode}
	</select>

	<select id="getAppMenuByManagerId" resultType="java.util.Map">
		SELECT DISTINCT
		c.url url,
		c.code code,
		c.name name,
		c.icon icon
		FROM tb_manager_role a
		left JOIN tb_role_menu b on a.role_id = b.role_num
		left JOIN tb_menu c ON c.code = b.menu_code
		WHERE c.is_menu = 2
		AND a.manager_id = #{managerId}
		AND c.url != '#'
		order by c.seq
	</select>

	<select id="selectAreaPositionByWorkNo" resultType="com.qcap.cac.entity.TbAreaPosition">
		SELECT
		b.POSITION_CODE positionCode,
		b.POSITION_ID positionId,
		b.POSITION_NAME positionName
		FROM TB_TASK a
		LEFT JOIN TB_AREA_POSITION b
		ON a.POSITION_CODE = B.POSITION_CODE
		WHERE  CHARINDEX(a.EMPLOYEE_CODE,#{employeeCode})>0
	</select>

	<select id="getAppUserInfoByManagerCode" resultType="com.qcap.cac.dto.MyInfoResp"  parameterType="String">
		SELECT
		USER_NAME employeeName,
		CASE
			WHEN GENDER = 'MALE' THEN '男'
            WHEN GENDER = 'FEMALE' THEN '女'
        END gender,
		DATE_FORMAT(BIRTH,'%Y-%m-%d') birth,
		HEAD_IMG_URL url
		FROM tb_user_info
		WHERE
		WORK_NO = #{employeeCode}
	</select>

	<select id="getUserListByOrgCode" resultType="com.qcap.cac.dto.UserListResp" parameterType="String">
		SELECT
		a.id id,
		a.name employeeName,
		a.account employeeCode
		FROM tb_manager a
		left join tb_manager_org b
		on a.id = b.manager_id
		left join tb_org c
		on b.org_id = c.id
		WHERE 1=1
		<if test="orgCode != null and orgCode != ''">
			AND c.code = #{orgCode}
		</if>
	</select>

	<select id="getUserListByPositionCode" resultType="com.qcap.cac.dto.UserListResp">
		SELECT
		DISTINCT
		a.id id,
		a.name employeeName,
		a.account employeeCode
		FROM tb_manager a
		left join tb_task_arrangement b
		on a.account = b.employee_code
		WHERE
	  	b.month = #{month}
		<if test=' positionCode != null and positionCode !="" '>
			AND b.position_code = #{positionCode}
		</if>
		<if test=' shift != null and shift !="" '>
			AND b.SHIFT = #{shift}
		</if>
		AND DELETE_FLAG = 'NORMAL'
	</select>


	<!--根据用户角色查询人员信息-->
	<select id="getUserListByRoleNum" resultType="com.qcap.cac.dto.UserListResp" parameterType="String">
		SELECT
		a.id id,
		a.name employeeName,
		a.account employeeCode
		FROM tb_manager a
		left join tb_manager_role b
		on a.id = b.manager_id
		WHERE 1=1
		<if test="roleNum != null and roleNum != ''">
			AND  b.role_id  = #{roleNum}
		</if>
	</select>

	<update id="updateManagerPwd"  parameterType="com.qcap.core.entity.TbManager">
		UPDATE TB_MANAGER
		SET
		password = #{password},
		salt = #{salt}
		WHERE
		id = #{id}
	</update>

	<update id="updateImgByEmployeeId">
		UPDATE tb_user_info
		SET
		HEAD_IMG_URL = #{path}
		WHERE
		USER_ID = #{employeeId}
	</update>

</mapper>
