<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.PlanMapper">

	<select id="selectPlanByPage" parameterType="com.qcap.cac.dto.QueryPlanListDto" resultType="java.util.Map">
		SELECT
			PLAN_ID planId,
			AREA_CODE areaCode,
			(SELECT A.AREA_NAME FROM tb_area A WHERE A.AREA_CODE = T.AREA_CODE) areaName,
			STANDARD_CODE standardCode,
			(SELECT A.STANDARD_NAME FROM tb_area_standard A WHERE A.STANDARD_CODE = T.STANDARD_CODE) standardName,
			PLAN_TIME_TYPE planTimeType,
			MONTH month,
			DAY day,
			WEEK week,
			START_TIME startTime,
			END_TIME endTime,
			PREV_TASK_DONE_DATE prevTaskDoneDate,
			REMARK1 remark1,
			REMARK2 remark2,
			REMARK3 remark3,
			CREATE_EMP createEmp,
			CREATE_DATE createDate,
			UPDATE_EMP updateEmp,
			UPDATE_DATE updateDate,
			VERSION version,
			CHECK_FLAG checkFlag,
			UPLOAD_PIC_FLAG uploadPicFlag,
			START_SCAN_FLAG startScanFlag,
			END_SCAN_FLAG endScanFlag
		FROM
			tb_plan T
		<where>
			<if test="param.areaCode != null and param.areaCode != ''">
				AND AREA_CODE = #{param.areaCode}
			</if>
			<if test="param.standardCode != null and param.standardCode != ''">
				AND STANDARD_CODE = #{param.standardCode}
			</if>
		</where>
	</select>
	
	<select id="selectPlanById" parameterType="String" resultType="com.qcap.cac.entity.TbPlan">
		SELECT
			PLAN_ID planId,
			AREA_CODE areaCode,
			STANDARD_CODE standardCode,
			PLAN_TIME_TYPE planTimeType,
			MONTH month,
			DAY day,
			WEEK week,
			START_TIME startTime,
			END_TIME endTime,
			PREV_TASK_DONE_DATE prevTaskDoneDate,
			REMARK1 remark1,
			REMARK2 remark2,
			REMARK3 remark3,
			CREATE_EMP createEmp,
			CREATE_DATE createDate,
			UPDATE_EMP updateEmp,
			UPDATE_DATE updateDate,
			VERSION version,
			CHECK_FLAG checkFlag,
			UPLOAD_PIC_FLAG uploadPicFlag,
			START_SCAN_FLAG startScanFlag,
			END_SCAN_FLAG endScanFlag
		FROM
			tb_plan T
		WHERE 
			PLAN_ID = #{planId}
	</select>
	
	<update id="updatePlan" parameterType="com.qcap.cac.entity.TbPlan">
		UPDATE tb_plan SET
			PLAN_ID  = #{planId},
			AREA_CODE = #{areaCode},
			STANDARD_CODE = #{standardCode},
			PLAN_TIME_TYPE = #{planTimeType},
			MONTH = #{month},
			DAY = #{day},
			WEEK = #{week},
			START_TIME = #{startTime},
			END_TIME = #{endTime},
			PREV_TASK_DONE_DATE = #{prevTaskDoneDate},
			CHECK_FLAG = #{checkFlag},
			UPLOAD_PIC_FLAG = #{uploadPicFlag},
			START_SCAN_FLAG = #{startScanFlag},
			END_SCAN_FLAG = #{endScanFlag},
			REMARK1 = #{remark1},
			REMARK2 = #{remark2},
			REMARK3 = #{remark3},
			UPDATE_EMP = #{updateEmp},
			UPDATE_DATE = #{updateDate},
			VERSION = VERSION + 1
		WHERE 
			PLAN_ID = #{planId}
	</update>
	
	<delete id="deletePlanById" parameterType="String">
		DELETE FROM tb_plan
		WHERE 
			PLAN_ID = #{planId}
	</delete>
	
  
</mapper>