<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.PlanEventMapper">

	<select id="selectPlanEventByPage" parameterType="com.qcap.cac.dto.QueryPlanEventListDto" resultType="java.util.Map">
		SELECT
			T.PLAN_EVENT_ID planEventId,
			T.AREA_CODE areaCode,
			(SELECT A.AREA_NAME FROM tb_area A WHERE A.AREA_CODE = T.AREA_CODE) areaName,
			T.STANDARD_CODE standardCode,
			(SELECT A.STANDARD_NAME FROM tb_area_standard A WHERE A.STANDARD_CODE = T.STANDARD_CODE) standardName,
			T.EVENT_TYPE eventType,
			T.GUARANTEE_TYPE guaranteeType,
			T.REMARK1 remark1,
			T.REMARK2 remark2,
			T.REMARK3 remark3,
			T.CREATE_EMP createEmp,
			T.CREATE_DATE createDate,
			T.UPDATE_EMP updateEmp,
			T.UPDATE_DATE updateDate,
			T.VERSION version,
			T.CHECK_FLAG checkFlag,
			T.UPLOAD_PIC_FLAG uploadPicFlag,
			T.START_SCAN_FLAG startScanFlag,
			T.END_SCAN_FLAG endScanFlag,
			T.program_code programCode,
			p.program_name programName
		FROM
			tb_plan_event T
		LEFT JOIN
			tb_program p
		ON T.program_code = p.program_code
		<where>
			<if test="param.areaCode != null and param.areaCode != ''">
				AND T.AREA_CODE = #{param.areaCode}
			</if>
			<if test="param.standardCode != null and param.standardCode != ''">
				AND T.STANDARD_CODE = #{param.standardCode}
			</if>
			<if test="param.eventType != null and param.eventType != ''">
				AND T.EVENT_TYPE = #{param.eventType}
			</if>
			<if test="param.guaranteeType != null and param.guaranteeType != ''">
				AND T.GUARANTEE_TYPE = #{param.guaranteeType}
			</if>
			<if test="param.programCode != null and param.programCode != ''">
				AND T.program_code = #{param.programCode}
			</if>
		</where>
	</select>

	<select id="getPlanEventByPlanEvent" parameterType="com.qcap.cac.entity.TbPlanEvent" resultType="com.qcap.cac.entity.TbPlanEvent">
		SELECT
			PLAN_EVENT_ID planEventId,
			AREA_CODE areaCode,
			STANDARD_CODE standardCode,
			EVENT_TYPE eventType,
			GUARANTEE_TYPE guaranteeType,
			REMARK1 remark1,
			REMARK2 remark2,
			REMARK3 remark3,
			CREATE_EMP createEmp,
			CREATE_DATE createDate,
			UPDATE_EMP updateEmp,
			UPDATE_DATE updateDate,
			VERSION version,
			CHECK_FLAG checkFlag,
			UPLOAD_PIC_FLAG uploadPicFlag,
			START_SCAN_FLAG startScanFlag,
			END_SCAN_FLAG endScanFlag
		FROM
			tb_plan_event T
		WHERE
			AREA_CODE = #{areaCode}
			AND
			STANDARD_CODE = #{standardCode}
			AND
			EVENT_TYPE = #{eventType}
			AND
			GUARANTEE_TYPE = #{guaranteeType}
			AND
			CHECK_FLAG = #{checkFlag}
			AND
			UPLOAD_PIC_FLAG = #{uploadPicFlag}
			AND
			START_SCAN_FLAG = #{startScanFlag}
			AND
			END_SCAN_FLAG = #{endScanFlag}
	</select>
	
	<select id="selectPlanEventById" parameterType="String" resultType="com.qcap.cac.entity.TbPlanEvent">
		SELECT
			PLAN_EVENT_ID planEventId,
			AREA_CODE areaCode,
			STANDARD_CODE standardCode,
			EVENT_TYPE eventType,
			GUARANTEE_TYPE guaranteeType,
			REMARK1 remark1,
			REMARK2 remark2,
			REMARK3 remark3,
			CREATE_EMP createEmp,
			CREATE_DATE createDate,
			UPDATE_EMP updateEmp,
			UPDATE_DATE updateDate,
			VERSION version,
			CHECK_FLAG checkFlag,
			UPLOAD_PIC_FLAG uploadPicFlag,
			START_SCAN_FLAG startScanFlag,
			END_SCAN_FLAG endScanFlag
		FROM
			tb_plan_event T
		WHERE 
			PLAN_EVENT_ID = #{planEventId}
	</select>
	
	<update id="updatePlanEvent" parameterType="com.qcap.cac.entity.TbPlanEvent">
		UPDATE tb_plan_event SET
			PLAN_EVENT_ID  = #{planEventId},
			AREA_CODE = #{areaCode},
			STANDARD_CODE = #{standardCode},
			EVENT_TYPE = #{eventType},
			GUARANTEE_TYPE = #{guaranteeType},
			CHECK_FLAG = #{checkFlag},
			UPLOAD_PIC_FLAG = #{uploadPicFlag},
			START_SCAN_FLAG = #{startScanFlag},
			END_SCAN_FLAG = #{endScanFlag},
			REMARK1 = #{remark1},
			REMARK2 = #{remark2},
			REMARK3 = #{remark3},
			UPDATE_EMP = #{updateEmp},
			UPDATE_DATE = #{updateDate},
			VERSION = VERSION + 1
		WHERE 
			PLAN_EVENT_ID = #{planEventId}
	</update>
	
	<delete id="deletePlanEventById" parameterType="String">
		DELETE FROM tb_plan_event
		WHERE 
			PLAN_EVENT_ID = #{planEventId}
	</delete>
	
	<update id="batchUpdatePlanEvent" parameterType="java.util.List">
        UPDATE tb_plan_event
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="CHECK_FLAG =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.checkFlag != null and item.checkFlag != ''">
                        WHEN PLAN_EVENT_ID = #{item.planEventId} THEN #{item.checkFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="UPLOAD_PIC_FLAG =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.uploadPicFlag != null and item.uploadPicFlag != ''">
                        WHEN PLAN_EVENT_ID = #{item.planEventId} THEN #{item.uploadPicFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="START_SCAN_FLAG =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.startScanFlag != null and item.startScanFlag != ''">
                        WHEN PLAN_EVENT_ID = #{item.planEventId} THEN #{item.startScanFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="END_SCAN_FLAG =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.endScanFlag != null and item.endScanFlag != ''">
                        WHEN PLAN_EVENT_ID = #{item.planEventId} THEN #{item.endScanFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="UPDATE_EMP =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.updateEmp != null and item.updateEmp != ''">
                        WHEN PLAN_EVENT_ID = #{item.planEventId} THEN #{item.updateEmp}
                    </if>
                </foreach>
            </trim>
            <trim prefix="UPDATE_DATE =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
					WHEN PLAN_EVENT_ID = #{item.planEventId} THEN #{item.updateDate}
                </foreach>
            </trim>
            <trim prefix="VERSION =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    WHEN PLAN_EVENT_ID = #{item.planEventId} THEN VERSION + 1
                </foreach>
            </trim>
        </trim>
        WHERE PLAN_EVENT_ID IN (
        <foreach collection="list" item="item" index="index" separator="," >
            #{item.planEventId}
        </foreach>
        )
    </update>
	
  
</mapper>