<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.PlanMapper">

	<select id="selectPlanByPage" parameterType="com.qcap.cac.dto.QueryPlanListDto" resultType="java.util.Map">
		SELECT
			T.PLAN_ID planId,
			T.AREA_CODE areaCode,
			(SELECT A.AREA_NAME FROM tb_area A WHERE A.AREA_CODE = T.AREA_CODE) areaName,
			T.STANDARD_CODE standardCode,
			(SELECT A.STANDARD_NAME FROM tb_area_standard A WHERE A.STANDARD_CODE = T.STANDARD_CODE) standardName,
			T.PLAN_TIME_TYPE planTimeType,
			T.MONTH month,
			T.DAY day,
			T.WEEK week,
			T.START_TIME startTime,
			T.END_TIME endTime,
			T.PREV_TASK_DONE_DATE prevTaskDoneDate,
			T.REMARK1 remark1,
			T.REMARK2 remark2,
			T.REMARK3 remark3,
			T.CREATE_EMP createEmp,
			T.CREATE_DATE createDate,
			T.UPDATE_EMP updateEmp,
			T.UPDATE_DATE updateDate,
			T.VERSION version,
			T.CHECK_FLAG checkFlag,
			T.UPLOAD_PIC_FLAG uploadPicFlag,
			T.START_SCAN_FLAG startScanFlag,
			T.END_SCAN_FLAG endScanFlag,
			T.program_code programCode,
			p.program_name programName
		FROM
			tb_plan T
		LEFT JOIN
			tb_program p
		ON T.program_code = p.program_code
		<where>
			<if test="param.areaCode != null and param.areaCode != ''">
				AND T.AREA_CODE = #{param.areaCode}
			</if>
			<if test="param.standardCode != null and param.standardCode != ''">
				AND T.STANDARD_CODE = #{param.standardCode}
			</if>
			<if test="param.planTimeType != null and param.planTimeType != ''">
				AND T.PLAN_TIME_TYPE = #{param.planTimeType}
			</if>
			<if test="param.time != null and param.time != ''">
				AND T.START_TIME &gt;= substring(#{param.time},1,8)
				AND T.END_TIME &lt;= substring(#{param.time},12,19)
			</if>
			<if test="param.programCode != null and param.programCode != ''">
				AND T.program_code = #{param.programCode}
			</if>
		</where>
	</select>
	
	<select id="selectPlanById" parameterType="String" resultType="com.qcap.cac.entity.TbPlan">
		SELECT
			PLAN_ID planId,
			AREA_CODE areaCode,
			STANDARD_CODE standardCode,
			PLAN_TIME_TYPE planTimeType,
			MONTH month,
			DAY day,
			WEEK week,
			START_TIME startTime,
			END_TIME endTime,
			PREV_TASK_DONE_DATE prevTaskDoneDate,
			REMARK1 remark1,
			REMARK2 remark2,
			REMARK3 remark3,
			CREATE_EMP createEmp,
			CREATE_DATE createDate,
			UPDATE_EMP updateEmp,
			UPDATE_DATE updateDate,
			VERSION version,
			CHECK_FLAG checkFlag,
			UPLOAD_PIC_FLAG uploadPicFlag,
			START_SCAN_FLAG startScanFlag,
			END_SCAN_FLAG endScanFlag
		FROM
			tb_plan T
		WHERE 
			PLAN_ID = #{planId}
	</select>

	<select id="getPlanByPlan"  parameterType="com.qcap.cac.entity.TbPlan" resultType="com.qcap.cac.entity.TbPlan">
		SELECT
			AREA_CODE areaCode,
			STANDARD_CODE standardCode,
			PLAN_TIME_TYPE planTimeType,
			MONTH month,
			DAY day,
			WEEK week,
			START_TIME startTime,
			END_TIME endTime,
			PREV_TASK_DONE_DATE prevTaskDoneDate,
			CHECK_FLAG checkFlag,
			UPLOAD_PIC_FLAG uploadPicFlag,
			START_SCAN_FLAG startScanFlag,
			END_SCAN_FLAG endScanFlag
		FROM
			tb_plan T
		WHERE
			AREA_CODE = #{areaCode}
			AND STANDARD_CODE = #{standardCode}
			AND PLAN_TIME_TYPE = #{planTimeType}
			AND MONTH = #{month}
			AND DAY = #{day}
			AND WEEK = #{week}
			AND START_TIME = #{startTime}
			AND END_TIME = #{endTime}
			AND PREV_TASK_DONE_DATE = #{prevTaskDoneDate}
			AND CHECK_FLAG = #{checkFlag}
			AND UPLOAD_PIC_FLAG = #{uploadPicFlag}
			AND START_SCAN_FLAG = #{startScanFlag}
			AND END_SCAN_FLAG = #{endScanFlag}
	</select>

	<update id="updatePlan" parameterType="com.qcap.cac.entity.TbPlan">
		UPDATE tb_plan SET
			PLAN_ID  = #{planId},
			AREA_CODE = #{areaCode},
			STANDARD_CODE = #{standardCode},
			PLAN_TIME_TYPE = #{planTimeType},
			MONTH = #{month},
			DAY = #{day},
			WEEK = #{week},
			START_TIME = #{startTime},
			END_TIME = #{endTime},
			PREV_TASK_DONE_DATE = #{prevTaskDoneDate},
			CHECK_FLAG = #{checkFlag},
			UPLOAD_PIC_FLAG = #{uploadPicFlag},
			START_SCAN_FLAG = #{startScanFlag},
			END_SCAN_FLAG = #{endScanFlag},
			REMARK1 = #{remark1},
			REMARK2 = #{remark2},
			REMARK3 = #{remark3},
			UPDATE_EMP = #{updateEmp},
			UPDATE_DATE = #{updateDate},
			VERSION = VERSION + 1
		WHERE 
			PLAN_ID = #{planId}
	</update>
	
	<delete id="deletePlanById" parameterType="String">
		DELETE FROM tb_plan
		WHERE 
			PLAN_ID = #{planId}
	</delete>
	
	<update id="batchUpdatePlan" parameterType="java.util.List">
        UPDATE tb_plan
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="CHECK_FLAG =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.checkFlag != null and item.checkFlag != ''">
                        WHEN PLAN_ID = #{item.planId} THEN #{item.checkFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="UPLOAD_PIC_FLAG =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.uploadPicFlag != null and item.uploadPicFlag != ''">
                        WHEN PLAN_ID = #{item.planId} THEN #{item.uploadPicFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="START_SCAN_FLAG =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.startScanFlag != null and item.startScanFlag != ''">
                        WHEN PLAN_ID = #{item.planId} THEN #{item.startScanFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="END_SCAN_FLAG =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.endScanFlag != null and item.endScanFlag != ''">
                        WHEN PLAN_ID = #{item.planId} THEN #{item.endScanFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="UPDATE_EMP =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.updateEmp != null and item.updateEmp != ''">
                        WHEN PLAN_ID = #{item.planId} THEN #{item.updateEmp}
                    </if>
                </foreach>
            </trim>
            <trim prefix="UPDATE_DATE =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
					WHEN PLAN_ID = #{item.planId} THEN #{item.updateDate}
                </foreach>
            </trim>
            <trim prefix="VERSION =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    WHEN PLAN_ID = #{item.planId} THEN VERSION + 1
                </foreach>
            </trim>
        </trim>
        WHERE PLAN_ID IN (
        <foreach collection="list" item="item" index="index" separator="," >
            #{item.planId}
        </foreach>
        )
    </update>
	
  
</mapper>