<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.WarehouseEntryMapper">

    <!--查詢入庫列表-->
    <select id="getWarehouseEntryList" resultType="java.util.Map" parameterType="com.qcap.cac.dto.WarehouseEntryDto">
        select
        WAREHOUSE_ENTRY_ID,
        a.PROGRAM_CODE,
        a.STOREROOM_ID,
        a.STOREROOM,
        ENTRY_BATCH_NO,
        b.GOODS_NO,
        b.GOODS_NAME,
        b.SUPPLIER_NAME,
        b.GOODS_TYPE,
        a.WAREHOUSE_STOCK_ID,
        a.ENTRY_NUM,
        a.ENTRY_UNIT,
        SUM_NUM,
        a.MIN_UNIT,
        DATE_FORMAT(a.ENTRY_TIME,'%Y-%m-%d') entryTime,
        b.REMARK
        from tb_warehouse_entry a
        left join tb_warehouse_stock b
        on a.WAREHOUSE_STOCK_ID = b.WAREHOUSE_STOCK_ID
        where 1 = 1 AND a.DELETE_FLAG = 'N'
        <if test="obj.programCode!=null and obj.programCode!=''">
            and a.PROGRAM_CODE = #{obj.programCode}
        </if>
        <if test="obj.storeroomId!=null and obj.storeroomId!=''">
            and a.STOREROOM_ID = #{obj.storeroomId}
        </if>
        <if test="obj.entryBatchNo!=null and obj.entryBatchNo!=''">
            and a.ENTRY_BATCH_NO like concat('%',#{obj.entryBatchNo},'%')
        </if>
        <if test="obj.goodsNo!=null and obj.goodsNo!=''">
            and b.GOODS_NO like concat('%',#{obj.goodsNo},'%')
        </if>
        <if test="obj.goodsName!=null and obj.goodsName!=''">
            and b.GOODS_NAME like  concat('%',#{obj.goodsName},'%')
        </if>
        <if test="obj.startDate!=null and obj.startDate!=''">
            and DATE(a.ENTRY_TIME) &gt;= #{obj.startDate}
        </if>
        <if test="obj.endDate!=null and obj.endDate!=''">
            and DATE(a.ENTRY_TIME) &lt;= #{obj.endDate}
        </if>
        <if test="obj.supplierName!=null and obj.supplierName!=''">
            and b.SUPPLIER_NAME like concat('%',#{obj.supplierName},'%')
        </if>
        order by a.ENTRY_TIME DESC,b.GOODS_NO ASC
    </select>

    <!--根据项目编号查询储藏室下拉框-->
    <select id="getStoreRoomList" resultType="Map" parameterType="Map">
        select
        a.AREA_ID id,
        CONCAT(IFNULL(b.PROGRAM_NAME,''),'-',IFNULL(a.AREA_NAME,'')) text
        from tb_area a
        LEFT JOIN tb_program b
        on a.PROGRAM_CODE = b.PROGRAM_CODE
        where AREA_TYPE = "WAREHOUSE"
        <if test="projectCodes!=null and projectCodes.size > 0">
            and a.PROGRAM_CODE in
            <foreach collection="projectCodes" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <!--根据项目编号查询储藏室下拉框-->
    <select id="getStoreRoomListByProgramCode" resultType="Map" parameterType="String">
        select
        a.AREA_ID id,
        a.AREA_NAME text
        from tb_area a
        LEFT JOIN tb_program b
        on a.PROGRAM_CODE = b.PROGRAM_CODE
        where AREA_TYPE = "WAREHOUSE"
        AND a.PROGRAM_CODE = #{programCode}
        ORDER BY a.AREA_CODE
    </select>

</mapper>
