<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.WarehouseReqDetailMapper">

    <!--查詢已发放信息-->
    <select id="getRequestedGoodsList" resultType="java.util.Map" parameterType="com.qcap.cac.dto.WarehouseDistruDto">
        <!--select
        STOREROOM_ID,
        STOREROOM,
        WAREHOUSE_REQDETAIL_ID,
        a.WAREHOUSE_REQU_ID,
        a.WAREHOUSE_STOCK_ID,
        a.GOODS_NO  goodsNo,
        a.GOODS_NAME goodsName,
        REQU_LOC,
        REQU_LOC_NAME,
        APPLY_NUM,
        REAL_NUM,
        (select MIN_UNIT from tb_warehouse_stock where goods_no = a.goods_no limit 1) minUnit,
        a.REQU_STATUS,
        a.REQU_REMARK,
        DATE_FORMAT(b.REQU_TIME,'%Y-%m-%d') requTime,
        b.REQU_NAME
        from tb_warehouse_reqdetail a
        LEFT JOIN tb_warehouse_requ b
        on a.WAREHOUSE_REQU_ID = b.WAREHOUSE_REQU_ID
        where a.REQU_STATUS = 'RECEIVE'
        <if test="obj.storeroomId!=null and obj.storeroomId!=''">
            and b.STOREROOM_ID = #{obj.storeroomId}
        </if>
        <if test="obj.requLocName!=null and obj.requLocName!=''">
            and a.REQU_LOC_NAME like concat('%',#{obj.requLocName},'%')
        </if>
        <if test="obj.goodsNo!=null and obj.goodsNo!=''">
            and a.GOODS_NO like concat('%',#{obj.goodsNo},'%')
        </if>
        <if test="obj.goodsName!=null and obj.goodsName!=''">
            and a.GOODS_NAME like  concat('%',#{obj.goodsName},'%')
        </if>
        <if test="obj.requName!=null and obj.requName!=''">
            and b.REQU_NAME like  concat('%',#{obj.requName},'%')
        </if>
        <if test="obj.startDate!=null and obj.startDate!=''">
            and DATE(b.REQU_TIME) &gt;= #{obj.startDate}
        </if>
        <if test="obj.endDate!=null and obj.endDate!=''">
            and DATE(b.REQU_TIME) &lt;= #{obj.endDate}
        </if>
        ORDER BY  b.REQU_TIME desc-->
        SELECT
        WAREHOUSE_DISTRIBUTION_ID  warehouseDistributionId,
        WAREHOUSE_REQDETAIL_ID  warehouseReqdetailId,
        a.PROGRAM_CODE programCode,
        (SELECT b.PROGRAM_NAME FROM tb_program b WHERE b.PROGRAM_CODE = a.PROGRAM_CODE)  programName,
        GOODS_NO goodsNo,
        GOODS_NAME  goodsName,
        AREA_ID areaId,
        AREA_NAME areaName,
        DISTR_NUM distrNum,
        DATE_FORMAT(DISTR_DATE,'%Y-%m-%d') distrDate,
        MIN_UNIT minUnit,
        EMPLOYEE_CODE ,
        b.`name` employeeName,
        USER_CODE ,
        USER_NAME ,
        a.REMARK
        FROM
        tb_warehouse_distribution a LEFT JOIN tb_manager b
        ON a.EMPLOYEE_CODE = b.account
        <where>
        <if test="obj.programCode!=null and obj.programCode!=''">
            and a.PROGRAM_CODE = #{obj.programCode}
        </if>
        <if test="obj.areaName!=null and obj.areaName!=''">
            and a.AREA_NAME like concat('%',#{obj.areaName},'%')
        </if>
        <if test="obj.employeeName!=null and obj.employeeName!=''">
            and  b.`name` like concat('%',#{obj.employeeName},'%')
        </if>
        <if test="obj.userName!=null and obj.userName!=''">
            and  a.USER_NAME like concat('%',#{obj.userName},'%')
        </if>
        <if test="obj.goodsNo!=null and obj.goodsNo!=''">
            and a.GOODS_NO like concat('%',#{obj.goodsNo},'%')
        </if>
        <if test="obj.goodsName!=null and obj.goodsName!=''">
            and a.GOODS_NAME like  concat('%',#{obj.goodsName},'%')
        </if>
        <if test="obj.startDate!=null and obj.startDate!=''">
            and DATE(a.DISTR_DATE) &gt;= #{obj.startDate}
        </if>
        <if test="obj.endDate!=null and obj.endDate!=''">
            and DATE(a.DISTR_DATE) &lt;= #{obj.endDate}
        </if>
        </where>
        ORDER BY a.DISTR_DATE desc
    </select>

    <!--查询领用明细-->
    <select id="getReqDetailList" parameterType="String" resultType="Map">
        select
        a.WAREHOUSE_REQU_ID,
        WAREHOUSE_REQDETAIL_ID,
        STOREROOM_ID,
        STOREROOM,
        REQU_BATCH_NO,
        REQU_PERSON,
        REQU_MOBILE,
        REQU_NAME,
        DATE_FORMAT(REQU_TIME,'%Y-%m-%d') requTime,
        a.REQU_STATUS,
        a.GOODS_NO  goodsNo,
        a.GOODS_NAME goodsName,
        REQU_LOC,
        REQU_LOC_NAME,
        APPLY_NUM,
        REAL_NUM,
        MIN_UNIT,
        a.REQU_REMARK
        from tb_warehouse_reqdetail a
        LEFT JOIN tb_warehouse_requ b
        on a.WAREHOUSE_REQU_ID = b.WAREHOUSE_REQU_ID
        where  a.WAREHOUSE_REQU_ID = #{warehouseRequId}
        order by a.CREATE_DATE DESC
    </select>


    <update id="updateReqDetailStatus" parameterType="com.qcap.cac.entity.TbWarehouseRequ">
        update
        tb_warehouse_reqdetail
        set REQU_STATUS = #{requStatus}
        where WAREHOUSE_REQU_ID = #{warehouseRequId}
    </update>


    <update id="deleteReqDetailStatus" parameterType="com.qcap.cac.entity.TbWarehouseRequ">
        delete from
        tb_warehouse_reqdetail
        where WAREHOUSE_REQU_ID = #{warehouseRequId}  and REQU_STATUS = #{requStatus}
    </update>

    <!--查询物品下拉框-->
    <select id="GoodsNoAppList" parameterType="String" resultType="Map">
        select
        GOODS_NO id,
        GOODS_NAME text,
        MIN_UNIT minUnit
        from  tb_warehouse_stock
        where PROGRAM_CODE = #{programCode}
        order by CONVERT( GOODS_NAME USING gbk ) COLLATE gbk_chinese_ci ASC
        <!-- group  by GOODS_NO -->
    </select>





</mapper>
