<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.WarehouseRequMapper">

    <!--查詢领用申请主单-->
    <select id="getRequGoodsList" resultType="java.util.Map" parameterType="com.qcap.cac.dto.WarehouseReqDto">
        select
        WAREHOUSE_REQU_ID,
        a.PROGRAM_CODE,
        (SELECT b.PROGRAM_NAME FROM tb_program b WHERE b.PROGRAM_CODE = a.PROGRAM_CODE)  programName,
        <!--STOREROOM_ID,
        STOREROOM,-->
        REQU_BATCH_NO,
        REQU_PERSON,
        REQU_MOBILE,
        (SELECT name from tb_manager where account = a.REQU_NAME) AS "requEmp",
        REQU_NAME ,
        DATE_FORMAT(REQU_TIME,'%Y-%m-%d') requTime,
        REQU_REMARK,
        REQU_STATUS
        from tb_warehouse_requ a
        where 1 = 1
        <if test="obj.programCode!=null and obj.programCode!=''">
            and a.PROGRAM_CODE = #{obj.programCode}
        </if>
        <if test="obj.requMobile!=null and obj.requMobile!=''">
            and a.REQU_MOBILE like concat('%',#{obj.requMobile},'%')
        </if>
        <if test="obj.requName!=null and obj.requName!=''">
            and a.REQU_NAME like concat('%',#{obj.requName},'%')
        </if>
        <if test="obj.requStatus!=null and obj.requStatus!=''">
            and a.REQU_STATUS = #{obj.requStatus}
        </if>
        <if test="obj.requBatchNo!=null and obj.requBatchNo!=''">
            and a.REQU_BATCH_NO like  concat('%',#{obj.requBatchNo},'%')
        </if>
        <if test="obj.startDate!=null and obj.startDate!=''">
            and DATE(a.REQU_TIME) &gt;= #{obj.startDate}
        </if>
        <if test="obj.endDate!=null and obj.endDate!=''">
            and DATE(a.REQU_TIME) &lt;= #{obj.endDate}
        </if>
        ORDER BY a.CREATE_DATE desc
    </select>


</mapper>
