<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.WarehouseReqDetailMapper">

    <!--查詢已领用信息-->
    <select id="getRequestedGoodsList" resultType="java.util.Map" parameterType="com.qcap.cac.dto.WarehouseReqDto">
        select
        STOREROOM_ID,
        STOREROOM,
        WAREHOUSE_REQDETAIL_ID,
        a.WAREHOUSE_REQU_ID,
        a.WAREHOUSE_STOCK_ID,
        a.GOODS_NO  goodsNo,
        a.GOODS_NAME goodsName,
        REQU_LOC,
        REQU_LOC_NAME,
        APPLY_NUM,
        REAL_NUM,
        MIN_UNIT,
        a.REQU_STATUS,
        a.REQU_REMARK,
        DATE_FORMAT(b.REQU_TIME,'%Y-%m-%d') requTime,
        b.REQU_NAME
        from tb_warehouse_reqdetail a
        LEFT JOIN tb_warehouse_requ b
        on a.WAREHOUSE_REQU_ID = b.WAREHOUSE_REQU_ID
        where a.REQU_STATUS = 'RECEIVE'
        <if test="storeroomId!=null and storeroomId!=''">
            and b.STOREROOM_ID = #{storeroomId}
        </if>
        <if test="requLocName!=null and requLocName!=''">
            and a.REQU_LOC_NAME like concat('%',#{requLocName},'%')
        </if>
        <if test="goodsNo!=null and goodsNo!=''">
            and a.GOODS_NO like concat('%',#{goodsNo},'%')
        </if>
        <if test="goodsName!=null and goodsName!=''">
            and a.GOODS_NAME like  concat('%',#{goodsName},'%')
        </if>
        <if test="requName!=null and requName!=''">
            and b.REQU_NAME like  concat('%',#{requName},'%')
        </if>
        <if test="startDate!=null and startDate!=''">
            and DATE(b.REQU_TIME) &gt;= #{startDate}
        </if>
        <if test="endDate!=null and endDate!=''">
            and DATE(b.REQU_TIME) &lt;= #{endDate}
        </if>
        ORDER BY  b.REQU_TIME desc
    </select>

    <!--查询领用明细-->
    <select id="getReqDetailList" parameterType="String" resultType="Map">
        select
        a.WAREHOUSE_REQU_ID,
        WAREHOUSE_REQDETAIL_ID,
        STOREROOM_ID,
        STOREROOM,
        REQU_BATCH_NO,
        REQU_PERSON,
        REQU_MOBILE,
        REQU_NAME,
        DATE_FORMAT(REQU_TIME,'%Y-%m-%d') requTime,
        a.REQU_STATUS,
        a.GOODS_NO  goodsNo,
        a.GOODS_NAME goodsName,
        REQU_LOC,
        REQU_LOC_NAME,
        APPLY_NUM,
        REAL_NUM,
        MIN_UNIT,
        a.REQU_REMARK
        from tb_warehouse_reqdetail a
        LEFT JOIN tb_warehouse_requ b
        on a.WAREHOUSE_REQU_ID = b.WAREHOUSE_REQU_ID
        where  a.WAREHOUSE_REQU_ID = #{warehouseRequId}
        order by a.CREATE_DATE ASC
    </select>


    <update id="updateReqDetailStatus" parameterType="com.qcap.cac.entity.TbWarehouseRequ">
        update
        tb_warehouse_reqdetail
        set REQU_STATUS = #{requStatus}
        where WAREHOUSE_REQU_ID = #{warehouseRequId}
    </update>


    <update id="deleteReqDetailStatus" parameterType="com.qcap.cac.entity.TbWarehouseRequ">
        delete from
        tb_warehouse_reqdetail
        where WAREHOUSE_REQU_ID = #{warehouseRequId}  and REQU_STATUS = #{requStatus}
    </update>



</mapper>
