<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.WarehouseStockMapper">

    <!--查询库存信息-->
    <select id="getWarehouseStockList" resultType="java.util.Map" parameterType="com.qcap.cac.dto.WarehouseEntryDto">
        select
        a.PROGRAM_CODE,
        (SELECT b.PROGRAM_NAME FROM tb_program b WHERE b.PROGRAM_CODE = a.PROGRAM_CODE)  programName,
        a.WAREHOUSE_STOCK_ID,
        a.STOREROOM_ID,
        a.STOREROOM,
        a.GOODS_NO,
        a.GOODS_NAME,
        a.SUPPLIER_NAME,
        sum(a.GOODS_NUM) goodsNum,
        a.MIN_UNIT minUnit,
        a.GOODS_TYPE,
        a.REMARK
        from tb_warehouse_stock a
        where 1 = 1 AND a.DELETE_FLAG = 'N'
        <if test="obj.programCode!=null and obj.programCode!=''">
            and a.PROGRAM_CODE = #{obj.programCode}
        </if>
        <if test="obj.goodsNo!=null and obj.goodsNo!=''">
            and a.GOODS_NO like concat('%',#{obj.goodsNo},'%')
        </if>
        <if test="obj.goodsName!=null and obj.goodsName!=''">
            and a.GOODS_NAME like  concat('%',#{obj.goodsName},'%')
        </if>
        <if test="obj.supplierName!=null and obj.supplierName!=''">
            and a.SUPPLIER_NAME like concat('%',#{obj.supplierName},'%')
        </if>
        group by  a.GOODS_NO
        ORDER BY  a.GOODS_NO
    </select>

    <!--查询物品存放的货位信息-->
    <select id="getPositionList" parameterType="String" resultType="Map">
        SELECT
        a.GOODS_NAME,
        CONCAT(IFNULL(c.BUILDING_NAME,''),IFNULL(c.ROOM_NAME,''),IFNULL(c.RANGE_SHELF,'')) rangeShelf,
        a.GOODS_NUM,
        (SELECT MIN_UNIT from tb_warehouse_entry e where e.WAREHOUSE_STOCK_ID = a.WAREHOUSE_STOCK_ID LIMIT 1) minUnit
        FROM tb_warehouse_stock a
        LEFT JOIN tb_warehouse_storage b
        on a.WAREHOUSE_STOCK_ID = b.WAREHOUSE_STOCK_ID
        LEFT JOIN tb_warehouse_position c
        on b.WAREHOUSE_POSITION_ID = c.WAREHOUSE_POSITION_ID
        WHERE a.WAREHOUSE_STOCK_ID = #{warehouseStockId}
    </select>

    <update id="updateById" parameterType="com.qcap.cac.entity.TbWarehouseStock">
        update tb_warehouse_stock
        <set >
            <if test="storeroomId != null" >
                STOREROOM_ID = #{storeroomId,jdbcType=VARCHAR},
            </if>
            <if test="storeroom != null" >
                STOREROOM = #{storeroom,jdbcType=VARCHAR},
            </if>
            <if test="goodsType != null" >
                GOODS_TYPE = #{goodsType,jdbcType=VARCHAR},
            </if>
            <if test="goodsNo != null" >
                GOODS_NO = #{goodsNo,jdbcType=VARCHAR},
            </if>
            <if test="goodsName != null" >
                GOODS_NAME = #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="limitStore != null" >
                LIMIT_STORE = #{limitStore,jdbcType=INTEGER},
            </if>
            <if test="buyType != null" >
                BUY_TYPE = #{buyType,jdbcType=VARCHAR},
            </if>
            <if test="buyNo != null" >
                BUY_NO = #{buyNo,jdbcType=VARCHAR},
            </if>
            <if test="buyNum != null" >
                BUY_NUM = #{buyNum,jdbcType=VARCHAR},
            </if>
            <if test="entryUnit != null" >
                ENTRY_UNIT = #{entryUnit,jdbcType=CHAR},
            </if>
            <if test="supplierNo != null" >
                SUPPLIER_NO = #{supplierNo,jdbcType=VARCHAR},
            </if>
            <if test="supplierName != null" >
                SUPPLIER_NAME = #{supplierName,jdbcType=VARCHAR},
            </if>
            <if test="goodsNum != null" >
                GOODS_NUM = #{goodsNum,jdbcType=VARCHAR},
            </if>
            <if test="stockInstrution != null" >
                STOCK_INSTRUTION = #{stockInstrution,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="buyDuration != null and buyDuration != ''" >
                BUY_DURATION = #{buyDuration,jdbcType=VARCHAR},
            </if>
            <if test="buyStart != null and buyStart != ''" >
                BUY_START = #{buyStart,jdbcType=VARCHAR},
            </if>
            <if test="buyEnd != null and buyEnd != ''" >
                BUY_END = #{buyEnd,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null" >
                DELETE_FLAG = #{deleteFlag,jdbcType=VARCHAR},
            </if>
            <if test="updateEmp != null" >
                UPDATE_EMP = #{updateEmp,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null" >
                UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            VERSION = VERSION + 1
        </set>
        where WAREHOUSE_STOCK_ID = #{warehouseStockId,jdbcType=VARCHAR}
    </update>


    <select id="getLeastStockNumList"  resultType="com.qcap.cac.poiEntity.PurchasePoiEntity">
        SELECT @ROWNO := @ROWNO + 1 AS seqNo,
        T.*
        FROM (
        SELECT
        (SELECT b.PROGRAM_NAME FROM tb_program b WHERE b.PROGRAM_CODE = r.PROGRAM_CODE)  programName,
        r.BUY_NO,
        r.BUY_TYPE,
        r.GOODS_TYPE,
        r.GOODS_NAME,
        r.SUPPLIER_NAME,
        r.BUY_NUM,
        r.BUY_DURATION,
        DATE_FORMAT(r.BUY_START, '%Y-%m-%d') buyStart,
        DATE_FORMAT(r.BUY_END, '%Y-%m-%d') buyEnd,
        r.ENTRY_UNIT
        FROM
        tb_warehouse_stock r
        where r.BUY_START = #{date}
        AND  r.PROGRAM_CODE = #{programCode}
        AND  r.GOODS_NUM  &lt; r.LIMIT_STORE
        ORDER BY BUY_NO ASC) T,
        (SELECT @ROWNO := 0) T3
        ORDER BY seqNo
    </select>


    <select id="getLowLimitStockList"  resultType="com.qcap.cac.entity.TbWarehouseStock">
        SELECT @ROWNO := @ROWNO + 1 AS seqNo,
        T.*
        FROM (
        SELECT
        r.WAREHOUSE_STOCK_ID,
        (SELECT b.PROGRAM_NAME FROM tb_program b WHERE b.PROGRAM_CODE = r.PROGRAM_CODE)  programName,
        r.BUY_NO,
        r.BUY_TYPE,
        r.GOODS_TYPE,
        r.GOODS_NAME,
        r.SUPPLIER_NAME,
        r.BUY_NUM,
        r.BUY_DURATION,
        DATE_FORMAT(r.BUY_START, '%Y-%m-%d') buyStart,
        DATE_FORMAT(r.BUY_END, '%Y-%m-%d') buyEnd,
        r.ENTRY_UNIT
        FROM
        tb_warehouse_stock r where
        r.PROGRAM_CODE = #{programCode}
        AND r.BUY_END IS NULL
        AND  r.GOODS_NUM &lt; r.LIMIT_STORE
        UNION
        SELECT
        r.WAREHOUSE_STOCK_ID,
        (SELECT b.PROGRAM_NAME FROM tb_program b WHERE b.PROGRAM_CODE = r.PROGRAM_CODE)  programName,
        r.BUY_NO,
        r.BUY_TYPE,
        r.GOODS_TYPE,
        r.GOODS_NAME,
        r.SUPPLIER_NAME,
        r.BUY_NUM,
        r.BUY_DURATION,
        DATE_FORMAT(r.BUY_START, '%Y-%m-%d') buyStart,
        DATE_FORMAT(r.BUY_END, '%Y-%m-%d') buyEnd,
        r.ENTRY_UNIT
        FROM
        tb_warehouse_stock r where r.BUY_END &lt; #{date}
        AND  r.PROGRAM_CODE = #{programCode}
        AND  r.GOODS_NUM  &lt; r.LIMIT_STORE
        ORDER BY BUY_NO ASC) T,
        (SELECT @ROWNO := 0) T3
        ORDER BY seqNo
    </select>

    <sql id="Base_Column_List">
        WAREHOUSE_STOCK_ID, STOREROOM_ID, STOREROOM, GOODS_TYPE, GOODS_NO, GOODS_NAME, LIMIT_STORE,
        BUY_TYPE, BUY_NO, BUY_NUM,BUY_DURATION,
        DATE_FORMAT(BUY_START,'%Y-%m-%d') buyStart,
        DATE_FORMAT(BUY_END,'%Y-%m-%d') buyEnd,
         ENTRY_UNIT, SUPPLIER_NO, SUPPLIER_NAME, GOODS_NUM, MIN_UNIT,
        STOCK_INSTRUTION, REMARK, DELETE_FLAG,
        VERSION
    </sql>

    <select id="selectById" parameterType="java.lang.String" resultType="com.qcap.cac.entity.TbWarehouseStock">
        select
        <include refid="Base_Column_List" />
        from tb_warehouse_stock
        where WAREHOUSE_STOCK_ID = #{warehouseStockId,jdbcType=VARCHAR}
    </select>


    <!--查詢仓库配置信息-->
    <select id="getGoodsConfigList" resultType="com.qcap.cac.entity.TbWarehouseStock" parameterType="com.qcap.cac.dto.WarehouseEntryDto">
        select
        a.WAREHOUSE_STOCK_ID,
        a.PROGRAM_CODE,
        (SELECT b.PROGRAM_NAME FROM tb_program b WHERE b.PROGRAM_CODE = a.PROGRAM_CODE)  programName,
        a.GOODS_TYPE,
        a.GOODS_NO,
        a.GOODS_NAME,
        a.SUPPLIER_NAME,
        a.LIMIT_STORE,
        a.BUY_NUM,
        a.ENTRY_UNIT,
        a.MIN_UNIT,
        a.BUY_DURATION,
        DATE_FORMAT(a.BUY_START, '%Y-%m-%d') buyStart,
        DATE_FORMAT(a.BUY_END, '%Y-%m-%d') buyEnd,
        a.REMARK
        from tb_warehouse_stock a
        where 1 = 1 AND a.DELETE_FLAG = 'N'
        <if test="obj.programCode!=null and obj.programCode!=''">
            and a.PROGRAM_CODE = #{obj.programCode}
        </if>
        <if test="obj.goodsNo!=null and obj.goodsNo!=''">
            and a.GOODS_NO like concat('%',#{obj.goodsNo},'%')
        </if>
        <if test="obj.goodsName!=null and obj.goodsName!=''">
            and a.GOODS_NAME like  concat('%',#{obj.goodsName},'%')
        </if>
        <if test="obj.supplierName!=null and obj.supplierName!=''">
            and a.SUPPLIER_NAME like concat('%',#{obj.supplierName},'%')
        </if>
        group by  a.GOODS_NO
        ORDER BY  a.GOODS_NO
    </select>


</mapper>
