<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.WorkOrderMapper">

    <select id="listWorkOrder" resultType="java.util.Map" parameterType="com.qcap.cac.dto.WorkOrderSearchParam">
        SELECT
        WORK_ORDER_ID workOrderId,
        WORK_ORDER_NAME workOrderName,
        WORK_ORDER_TYPE workOrderType,
        WORK_START_TIME workStartTime,
        WORK_END_TIME workendTime,
        WORK_TOTAL_TIME workTotalTime,
        WORK_ORDER_STATUS workOrderStatus,
        REMARK remark
        FROM TB_WORK_ORDER
        WHERE 1=1
        <if test="workOrderType != null and workOrderType != ''">
            and WORK_ORDER_TYPE = #{workOrderType}
        </if>
        <if test="workOrderName != null and workOrderName != ''">
            and WORK_ORDER_NAME = #{workOrderName}
        </if>
        <if test="workOrderStatus != null and workOrderStatus != ''">
            and WORK_ORDER_STATUS = #{workOrderStatus}
        </if>
    </select>

</mapper>
