<!DOCTYPE html>
<html layout:decorator="/common/head_link" >
<head>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="form-horizontal" id="roleInfoForm">
		
			<input type="hidden" id="id" th:value="${role.id}">
			
			
			<input type="hidden" id="companycodeInfo" th:value="${role.companycode}">

			<div class="row">
				<div class="col-sm-6 b-r">

					<!--<div class="form-group">
						<label class="col-sm-3 control-label">角色类型</label>
						<div class="col-sm-9">
							<input class="form-control" id="pName" name="pName" type="text" th:hiddenValue="${role.pnum}" th:value="${pName}" onclick="RolInfoDlg.showPNameSelectTree(); return false;" style="background-color: #ffffff !important;">
							<input class="form-control" type="hidden" id="pnum" value="" th:value="${role.pnum}">
						</div>
					</div>

					<div class="hr-line-dashed"></div>-->


					<div class="form-group">
						<label class="col-sm-3 control-label">公司名称</label>
						<div class="col-sm-9">
							 <select class="form-control" id="companycode"/>
						</div>
					</div>
					<div class="hr-line-dashed"></div>
					<div class="form-group">
						<label class="col-sm-3 control-label">角色名称</label>
						<div class="col-sm-9">
							<input class="form-control" id="name" name="name" type="text" th:value="${role.name}">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">角色编码</label>
						<div class="col-sm-9">
							<input class="form-control" id="num" name="num" type="text" th:value="${role.num}" READONLY>
						</div>
					</div>
				</div>

			<!--	<div class="col-sm-6">

					<div class="form-group">
						<label class="col-sm-3 control-label">所属组织</label>
						<div class="col-sm-9">
							<input class="form-control" id="pOrgName" name="pOrgName" type="text" th:hiddenValue="${role.orgCode}" th:value="${role.orgName}" onclick="RolInfoDlg.showPOrgNameSelectTree(); return false;" style="background-color: #ffffff !important;">
							<input class="form-control" type="hidden" id="orgCode" value="" th:value="${role.orgCode}">
						</div>
					</div>

					<div class="hr-line-dashed"></div>

				</div>-->
			</div>

			<!-- 这是父级菜单下拉框 -->
			<div id="pNameContent" class="menuContent"
				style="display: none; position: absolute; z-index: 200;">
				<ul id="pNameTree" class="ztree tree-box" style="width: 250px !important;"></ul>
			</div>

			<!-- 组织菜单下拉框 -->
			<div id="pOrgNameContent" class="menuContent"
				 style="display:none; position:absolute; z-index:200;">
				<ul id="pOrgNameTree" class="ztree tree-box" style="width: 250px !important;"></ul>
			</div>

			<div class="row btn-group-m-t">
				<div class="col-sm-10">
					<button type="button" class="btn btn-info " onclick="RolInfoDlg.editSubmit()" id="ensure">
						<i class="fa fa-check"></i>&nbsp;提交
					</button>


					<button type="button" class="btn btn-danger " onclick="RolInfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
		</div>

	</div>
</div>

 </div>
 <script src="/js/content.js?v=1.0.0"></script>
 <script src="/modular/system/role/role_info.js"></script>
 </body>
