<!DOCTYPE html>
<html layout:decorator="/common/head_link" >
<head>

<style type="text/css" rel="styleSheet">
.select2-container .select2-selection--single{  
      height:34px;  
      line-height: 34px ;  
} 
</style>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>角色管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle"
                                                type="button">角色名称
                                        </button>
                                    </div>
                                    <input type="text" class="form-control" id="roleName" placeholder="" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle"
                                                type="button">公司名称
                                        </button>
                                    </div>
                                    <select type="text" class="form-control select2" id="companyCode" placeholder="" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-primary " onclick="Role.search()">
                                    <i class="fa fa-search"></i>&nbsp;搜索
                                </button>
                            </div>
                        </div>
                        <div class="hidden-xs" id="roleTableToolbar" role="group">

                            <button type="button" class="btn btn-primary " onclick="Role.openAddRole()">
                                <i class="fa fa-plus"></i>&nbsp;添加
                            </button>


                            <button type="button" class="btn btn-primary button-margin" onclick="Role.openChangeRole()" >
                                <i class="fa fa-edit"></i>&nbsp;修改
                            </button>


                            <button type="button" class="btn btn-primary button-margin" onclick="Role.delRole()" >
                                <i class="fa fa-remove"></i>&nbsp;删除
                            </button>


                            <button type="button" class="btn btn-primary button-margin" onclick="Role.assign()" >
                                <i class="fa fa-user-secret"></i>&nbsp;权限配置
                            </button>
                        </div>
                        <table id="roleTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="/js/content.js?v=1.0.0"></script>
<script src="/modular/system/role/role.js"></script>
</body>
</html>
