<!DOCTYPE html>
<html layout:decorator="/common/head_link">
<head>
</head>

<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<div class="form-horizontal" id="pubcode01InfoForm">

					<input type="hidden" id="tbpubcode01Id" th:value="${pubCode01.tbpubcode01Id}">

					<div class="row">
						<div class="col-xs-12">
							<div class="form-group">
								<label class="col-xs-2 control-label">配置项目代码</label>
								<div class="col-xs-4">
									<input class="form-control" id="configCode" th:value="${pubCode01.configCode}" disabled="disabled"
										name="configCode" type="text">
								</div>
								<label class="col-xs-2 control-label">顺序号</label>
								<div class="col-xs-4">
									<input class="form-control" id="seq" name="seq" th:value="${pubCode01.seq}" disabled="disabled"
										type="text">
								</div>
							</div>

							<div class="form-group">
								<label class="col-xs-2 control-label">描述</label>
								<div class="col-xs-4">
									<input class="form-control" id="desc" name="desc" th:value="${pubCode01.desc0}"
										type="text">
								</div>


								<label class="col-xs-2 control-label">描述1</label>
								<div class="col-xs-4">
									<input class="form-control" id="desc1" name="desc1" th:value="${pubCode01.desc1}"
										type="text">
								</div>
							</div>

							<div class="form-group">
								<label class="col-xs-2 control-label">描述2</label>
								<div class="col-xs-4">
									<input class="form-control" id="desc2" name="desc2" th:value="${pubCode01.desc2}"
										type="text">
								</div>


								<label class="col-xs-2 control-label">描述3</label>
								<div class="col-xs-4">
									<input class="form-control" id="desc3" name="desc3" th:value="${pubCode01.desc3}"
										type="text">
								</div>
							</div>

							<div class="form-group">
								<label class="col-xs-2 control-label">描述4</label>
								<div class="col-xs-4">
									<input class="form-control" id="desc4" name="desc4" th:value="${pubCode01.desc4}"
										type="text">
								</div>


								<label class="col-xs-2 control-label">描述5</label>
								<div class="col-xs-4">
									<input class="form-control" id="desc5" name="desc5"  th:value="${pubCode01.desc5}"
										type="text">
								</div>
							</div>

							<div class="form-group">
								<label class="col-xs-2 control-label">描述6</label>
								<div class="col-xs-4">
									<input class="form-control" id="desc6" name="desc6" th:value="${pubCode01.desc6}"
										type="text">
								</div>


								<label class="col-xs-2 control-label">描述7</label>
								<div class="col-xs-4">
									<input class="form-control" id="desc7" name="desc7" th:value="${pubCode01.desc7}"
										type="text">
								</div>
							</div>

							<div class="form-group">
								<label class="col-xs-2 control-label">描述8</label>
								<div class="col-xs-4">
									<input class="form-control" id="desc8" name="desc8" th:value="${pubCode01.desc8}"
										type="text">
								</div>


								<label class="col-xs-2 control-label">描述9</label>
								<div class="col-xs-4">
									<input class="form-control" id="desc9" name="desc9" th:value="${pubCode01.desc9}"
										type="text">
								</div>
							</div>
							
							
						</div>
					</div>
				</div>
			</div>

			<div class="row btn-group-m-t">
				<div class="col-sm-10">
					<button type="button" class="btn btn-info"
						onclick="pubcode01InfoDlg.editSubmit()" id="ensure">
						<i class="fa fa-check"></i>&nbsp;提交
					</button>

					<button type="button" class="btn btn-danger"
						onclick="pubcode01InfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>

		</div>
	</div>


	<script src="/js/content.js?v=1.0.0"></script>
	<script src="/modular/esp/pubcode/pubcode01_info.js"></script>

</body>
</html>
