<!DOCTYPE html>
<html layout:decorator="/common/head_link" >
<head>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

	<input type="hidden" id="tbpubcodeId" th:value="${tbpubcodeId}">
	<input type="hidden" id="configCode" th:value="${configCode}">

    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="hidden-xs" id="pubcode01TableToolbar" role="pubcode01">

                            <button type="button" class="btn btn-primary " onclick="pubcode01.openAddpubcode01()">
                                <i class="fa fa-plus"></i>&nbsp;新增
                            </button>
                            <button type="button" class="btn btn-primary button-margin" onclick="pubcode01.modify()">
                                <i class="fa fa-pencil"></i>&nbsp;修改
                            </button>
                            <button type="button" class="btn btn-danger button-margin" onclick="pubcode01.del()">
                                <i class="fa fa-trash"></i>&nbsp;删除
                            </button>
                        </div>
                        <table id="pubcode01Table"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="/js/content.js?v=1.0.0"></script>
<script src="/modular/esp/pubcode/pubcode01.js"></script>
</body>
</html>
