<!DOCTYPE html>
<html layout:decorator="/common/head_link" >
<head>
</head>

<body class="gray-bg">

<div class="wrapper wrapper-content animated fadeInRight">
<div class="ibox float-e-margins">
	<div class="ibox-content">
	<div class="form-horizontal" >
	    <input type="hidden" id="companyCode2" th:value="${companyCode }" />
		<input type="hidden" id="haveGate" th:value="${haveGate }" />
		<div class="form-group">
			<label class="col-xs-2  control-label">楼栋ID：</label>
			<div class="col-xs-3">
   				<input class="form-control" id="tbaa02Id" th:value="${tbaa02Id }" disabled/>
			</div>
			
			<label class="col-xs-2 col-xs-offset-1 control-label">楼栋编码：</label>
			<div class="col-xs-3">
   				<input class="form-control" id="buildingCode" th:value="${buildingCode } " disabled/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-xs-2  control-label">楼栋名称：</label>
			<div class="col-xs-3">
   				<input class="form-control" id="buildingName" th:value="${building }" />
			</div>
		
			 <label class="col-xs-2 col-xs-offset-1 control-label">公司：</label>
			 <div class="col-xs-3">
   				<select class="form-control" id="companyCode" ></select>
			</div>
		</div>
		
		<div class="form-group">	
			
			 <label class="col-xs-2 control-label">备注：</label>
			 <div class="col-xs-3">
   				<input class="form-control" id="remark1" th:value="${remark1 }"/>
			</div>
			
			<label class="col-xs-2 col-xs-offset-1   control-label">是否有门：</label>
   			
   			 	<div class="col-xs-3" style="padding-top:6px;">
   			 		<input id="yes_haveGate" type="radio"  name="haveGate"  value="1"  />是
					<input id="no_haveGate"  type="radio"  name="haveGate" value="0"  />否
   			 	</div>
		
			
		 </div>
		
	
	</div>
	<div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <button type="button" class="btn btn-info " onclick="BuildingEditDlg.edit()" id="ensure">
                        <i class="fa fa-check"></i>&nbsp;提交
                    </button>


                    <button type="button" class="btn btn-danger " onclick="BuildingEditDlg.close()" id="cancel">
                        <i class="fa fa-eraser"></i>&nbsp;取消
                    </button>
                </div>
            </div>
   </div>
   </div>
</div>

<script src="/js/content.js?v=1.0.0"></script>
<script type="text/javascript">

var BuildingEditDlg={};

$(function(){
	var companyCode=$("#companyCode2").val();
	var haveGate=$("#haveGate").val();
	$.ajax({
		type : 'POST',
		url : Feng.ctxPath + "/communityWh/selectCompany",
		async : false,
		dataType : 'json',
		success : function(data) {
			$("#companyCode").empty();
			$.each(data, function(index, value){
				var option = "<option value='"+value.id+"'>"+value.text+"</option>";
				$("#companyCode").append(option);
			})
			$("#companyCode").val(companyCode);
		}
	});
	$("input[name='haveGate'][value="+haveGate+"]").attr("checked",true);
})

BuildingEditDlg.edit= function (){
	var tbaa02Id=$("#tbaa02Id").val();
	var buildingName=$("#buildingName").val();
	var buildingCode=$("#buildingCode").val();
	var companyCode=$("#companyCode").val();
	var remark1=$("#remark1").val();
	/* var regionNo=$("#regionNo").val(); */
	var haveGate=$("input[name='haveGate']:checked").val();
	if(companyCode == ''){
		Feng.info('请选择物业公司');
		return;
	}
	var params={
			tbaa02Id:tbaa02Id,
			companyCode:companyCode,
			remark1:remark1,
			//regionNo:regionNo,
			haveGate:haveGate,
			buildingName:buildingName,
			buildingCode:buildingCode
	}
	$.ajax({
		type:'post',
		async:false,
		data:params,
		dataType:'json',
		url:Feng.ctxPath+"/communityWh/updateTbaa02",
		beforeSend:function(){
			
		},
		success:function(data){
			if(data.result==1){
				Feng.success('更新楼栋信息成功');
				window.parent.Building.table.refresh();
				BuildingEditDlg.close();
			}else{
				Feng.error("更新失败");
			}
		}
	});
}


/**
 * 关闭此对话框
 */
BuildingEditDlg.close=function(){
	
	 parent.layer.close(window.parent.Building.layerIndex);
	
}

</script>
</body>
</html>