<!DOCTYPE html>
<html layout:decorator="/common/head_link" >
<head>
<style type="text/css" rel="styleSheet">

.navSpan {
color: #03f;
}

.select2-container .select2-selection--single{  
      height:34px;  
      line-height: 34px ;  
} 

</style>
</head>
<body class="gray-bg">




<ul class="nav nav-tabs" id="firstTab" >
  <li><a href="#area" data-toggle="tab" ><span id="xqnav" >小区信息</span> </a></li>
  <li><a href="#building" data-toggle="tab"><span  id="ldnav"  >楼栋信息</span> </a></li>
  <li><a href="#cell"  data-toggle="tab"><span   id="dynav"  >单元信息</span> </a></li>
  <li><a href="#room"   data-toggle="tab"><span  id="fjnav"  >房间信息</span> </a></li>
</ul>

<div class="tab-content">
    <section class="content tab-pane fade in active" id="area">
      <div class="row">
        <div class="col-xs-12">
          <div class="ibox float-e-margins">
            
			 <div class="ibox-title">
                <h3>单个新增房产——小区信息 </h3>
            </div>
			
             <div class="ibox-content">
           	 <div class="row">
				  <div class="col-xs-4">
				   <!--  <label for="tbaa01Id"><span style="color: red;">*</span>小区ID:</label>
				    <select id="tbaa01Id" name="tbaa01Id" class="form-control select2" style="width:196px;"></select>
				     -->
		   				 <div class="input-group">
                                  <div class="input-group-btn">
                                      <button data-toggle="dropdown" class="btn btn-white dropdown-toggle"
                                              type="button"><span style="color: red;">*</span>小区ID
                                      </button>
                                  </div>
                                  <div  style="height:39px" >
                                  <select id="tbaa01Id" name="tbaa01Id" class="form-control select2"  style="width:190px" ></select>
                                  </div>
                              </div>
				  </div>
				  
				 <div   class="hidden-xs" id="areaTableToolbar" role="group" >
			  	 	<a class='btn btn-primary' style="background-color: #1ab394;border-color: #1ab394;color: #FFFFFF;" onclick="Community.search();"><i class="fa fa-fw fa-search"></i>查询</a>
			  	 	<a class='btn btn-primary' style="background-color: #1ab394;border-color: #1ab394;color: #FFFFFF;" onclick="Community.openAddCommunity();"><i class="fa fa-fw fa-plus"></i>新增</a>
			  	 	<a class='btn btn-primary'  style="background-color: #1ab394;border-color: #1ab394;color: #FFFFFF;" onclick="Community.openCommunityDetail();"><i class="fa fa-fw fa-edit"></i>修改</a>
			   		<a class='btn btn-primary' style="background-color: #1ab394;border-color: #1ab394;color: #FFFFFF;" onclick="Community.delete();"><i class="fa fa-fw fa-remove"></i>删除</a>
			   		<a class='btn btn-primary' style="background-color: #1ab394;border-color: #1ab394;color: #FFFFFF;" onclick="Community.toTbaa02();"><i class="fa fa-fw fa-search"></i>查看楼栋</a>
		  		 </div>
					  
				</div>
				
				<table  id="areaTable" ></table>
				</div>
   		  </div>
        </div>
      </div>
    </section>
    
     <section class="content tab-pane fade" id="building">
      <div class="row">
        <div class="col-xs-12">
          <div class="ibox float-e-margins">
            <!-- <div class="box-header">
              <h3 class="box-title">单个新增房产</h3><span style="font-size:18px;">——楼栋信息</span>
            </div> -->
            <div class="ibox-title">
                <h3>单个新增房产——楼栋信息 </h3>
            </div>
            <div class="ibox-content">
            
	            <div class="row">
					 <div  class="hidden-xs" id="buildingTableToolbar" role="group" >
				  	 	<a class='btn btn-primary' style="background-color: #1ab394;border-color: #1ab394;color: #FFFFFF;" onclick="Building.openAddBuilding();"><i class="fa fa-fw fa-plus"></i>新增</a>
				  	 	<a class='btn btn-primary' style="background-color: #1ab394;border-color: #1ab394;color: #FFFFFF;" onclick="Building.openBuildingDetail();"><i class="fa fa-fw fa-edit"></i>修改</a>
				   		<a class='btn btn-primary' style="background-color: #1ab394;border-color: #1ab394;color: #FFFFFF;" onclick="Building.delete();"><i class="fa fa-fw fa-remove"></i>删除</a>
				   		<a class='btn btn-primary' style="background-color: #1ab394;border-color: #1ab394;color: #FFFFFF;" onclick="Building.toTbaa03();"><i class="fa fa-fw fa-search"></i>查看单元</a>
			  		 </div>
						  
				</div>
				<table id="buildingTable"></table>
            </div>
   		  </div>
        </div>
      </div>
    </section>
    
     <section class="content tab-pane fade in " id="cell">
      <div class="row">
        <div class="col-xs-12">
          <div class="ibox float-e-margins">
            <!-- <div class="box-header">
              <h3 class="box-title">单个新增房产</h3><span style="font-size:18px;">——单元信息</span>
            </div> -->
            <div class="ibox-title">
                <h3>单个新增房产——单元信息 </h3>
            </div>
            
            <div class="ibox-content">
            
               <div class="row">
					 <div class="hidden-xs" id="cellTableToolbar" role="group" >
				  	 	<a class='btn btn-primary' style="background-color: #1ab394;border-color: #1ab394;color: #FFFFFF;" onclick="Unit.openAddUnit();"><i class="fa fa-fw fa-plus"></i>新增</a>
				  	 	<a class='btn btn-primary' style="background-color: #1ab394;border-color: #1ab394;color: #FFFFFF;" onclick="Unit.openUnitDetail();"><i class="fa fa-fw fa-edit"></i>修改</a>
				   		<a class='btn btn-primary' style="background-color: #1ab394;border-color: #1ab394;color: #FFFFFF;"  onclick="Unit.delete();"><i class="fa fa-fw fa-remove"></i>删除</a>
				   		<a class='btn btn-primary' style="background-color: #1ab394;border-color: #1ab394;color: #FFFFFF;" onclick="Unit.toTbaa05();"><i class="fa fa-fw fa-search"></i>查看房间</a>
			  		 </div>
				</div>
				<table id="cellTable"></table>
			  	<!--  <div class="box-body" style="margin-top:80px;">
			  	 	<table id="cellTable" class="table table-bordered table-striped display">
		                <thead>
		            		<tr>
		            			<th></th>
		                		<th>小区名称</th>
		                		<th>公司</th>
		            			<th>楼栋Id</th>
		            			<th>楼栋名称</th>
		                		<th>单元Id</th>
		                		<th>单元编码</th>
		                		<th>单元名称</th>
		                		<th>是否有门</th>
		                		<th>物业单价</th>
		                		<th>查看下级信息</th>
		            		</tr>
		        		</thead>
             		 </table>
            	</div> -->
            </div>
   		  </div>
        </div>
      </div>
    </section>
    
    
     <section class="content tab-pane fade in " id="room">
      <div class="row">
        <div class="col-xs-12">
          <div class="ibox float-e-margins">
            <!-- <div class="box-header">
              <h3 class="box-title">单个新增房产</h3><span style="font-size:18px;">——房间信息</span>
            </div> -->
            <div class="ibox-title">
                <h3>单个新增房产——房间信息 </h3>
            </div>
            
            <div class="ibox-content">
            
                <div class="row">
					 <div class="hidden-xs" id="roomTableToolbar" role="group" >
				  	 	<a class='btn btn-primary' style="background-color: #1ab394;border-color: #1ab394;color: #FFFFFF;" onclick="Room.openAddRoom();"><i class="fa fa-fw fa-plus"></i>新增</a>
				  	 	<a class='btn btn-primary' style="background-color: #1ab394;border-color: #1ab394;color: #FFFFFF;" onclick="Room.openRoomDetail();"><i class="fa fa-fw fa-edit"></i>修改</a>
				   		<a class='btn btn-primary' style="background-color: #1ab394;border-color: #1ab394;color: #FFFFFF;" onclick="Room.delete();"><i class="fa fa-fw fa-remove"></i>删除</a>
			  		 </div>
				</div>
				<table id="roomTable"></table>
			
            </div>
   		  </div>
        </div>
      </div>
    </section>
    	
    <!-- 模态框 -->
    <div class="modal fade" id="modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
	<div class="modal-dialog" style="width:800px;height:600px;" >
		<div class="modal-content">
		
				</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
</div>



<!-- jquery插件
	<link href="/css/plugins/jquery-plugin/dataTables.bootstrap.min.css" rel="stylesheet" />
	<link href="/css/plugins/jquery-plugin/AdminLTE.min.css" rel="stylesheet" />
	<link href="/css/plugins/jquery-plugin/_all-skins.min.css" rel="stylesheet" />
	
	<script	src="/js/plugins/jquery-plugin/jquery.dataTables.min.js"></script>
	<script	src="/js/plugins/jquery-plugin/dataTables.bootstrap.min.js"></script> -->

<script src="/js/content.js?v=1.0.0"></script>
<script type="text/javascript">
var checkedTbaa01,checkedTbaa02,checkedTbaa03,checkedTbaa04;
var clickaa01Index,clickaa02Index,clickaa03Index,clickaa04Index;


var Community={
		id: "areaTable",	//表格id
	    seItem: null,		//选中的条目
	    table: null,
	    layerIndex: -1
}
//$("#firstTab li:eq(0) a").tab('show');

$("ul#firstTab").on("click","li",function(){      //只需要找到你点击的是哪个ul里面的就行

    var text=$(this).text();
    text=$.trim(text);
    if("小区信息"==text){
    	$("#xqnav").addClass("navSpan");
    	$("#ldnav").removeClass("navSpan");
    	$("#dynav").removeClass("navSpan");
    	$("#fjnav").removeClass("navSpan");
    }else if("楼栋信息"==text){
    	$("#xqnav").removeClass("navSpan");
    	$("#ldnav").addClass("navSpan");
    	$("#dynav").removeClass("navSpan");
    	$("#fjnav").removeClass("navSpan");
    }else if("单元信息"==text){
    	$("#xqnav").removeClass("navSpan");
    	$("#ldnav").removeClass("navSpan");
    	$("#dynav").addClass("navSpan");
    	$("#fjnav").removeClass("navSpan");
    }else if("房间信息"==text){
    	$("#xqnav").removeClass("navSpan");
    	$("#ldnav").removeClass("navSpan");
    	$("#dynav").removeClass("navSpan");
    	$("#fjnav").addClass("navSpan");
    }
    
    
});




/**
 * 初始化表格的列
 */
Community.initColumn = function () {
    var columns = [
        {field: 'selectItem', radio: true},
        {title: '公司名称', field: 'company', align: 'center', valign: 'middle', sortable: true},
        {title: '公司编码', field: 'companyCode',visible: true, align: 'center', valign: 'middle', sortable: true},
        {title: '小区ID', field: 'tbaa01Id', visible: false,align: 'center', valign: 'middle', sortable: true},
        {title: '小区名称', field: 'areaName', visible: true, align: 'center', valign: 'middle'},
        {title: '小区编码', field: 'areaCode', align: 'center', valign: 'middle', sortable: true},
        {title: '省', field: 'province', align: 'center', valign: 'middle', sortable: true},
        {title: '市', field: 'city', align: 'center', valign: 'middle', sortable: true},
        {title: '街道', field: 'street', align: 'center', valign: 'middle', sortable: true},
        {title: '片区', field: 'zone', align: 'center', valign: 'middle', sortable: true},
        {title: '地址', field: 'address', align: 'center', valign: 'middle', sortable: true},
        {title: '是否有门', field: 'haveGate', align: 'center', valign: 'middle', sortable: true},
        {title: '备注', field: 'remark1', align: 'center', valign: 'middle', sortable: true}
        ];
    return columns;
};

/**
 * 检查是否选中
 */
Community.check = function () {
    var selected = $('#' + this.id).bootstrapTable('getSelections');
    if (selected.length == 0) {
        Feng.info("请先选中表格中的某一记录！");
        return false;
    } else {
    	Community.seItem = selected[0];
        return true;
    }
};

/**
 * 点击添加管理员
 */
Community.openAddCommunity = function () {
    var index = layer.open({
        type: 2,
        title: '添加小区',
        area: ['800px', '450px'], //宽高
        fix: false, //不固定
        maxmin: true,
        content: Feng.ctxPath + '/communityWh/community_add'
    });
    this.layerIndex = index;
};	

/**
 * 打开查看详情
 */
Community.openCommunityDetail = function () {
	
    if (this.check()) {
    	
        var index = layer.open({
            type: 2,
            title: '修改',
            area: ['800px', '500px'], //宽高
            fix: false, //不固定
            maxmin: true,
            content: Feng.ctxPath + '/communityWh/toUpdateTbaa01/' + Community.seItem.tbaa01Id
        });
        this.layerIndex = index;
    }
};


Community.selectIfExistSonElement=function(num,param){
	var number=0;
	$.ajax({
		type:'post',
		async:false,
		data:param,
		dataType:'json',
		url:Feng.ctxPath+"/communityWh/selectIfExistAa0"+(num+1)+"ByAa0"+num+"Id",
		beforeSend:function(){
			
		},
		success:function(data){
			number=data;
		}
	});
	return number;
}
/**
 * 删除
 */
Community.delete = function () {
    if (this.check()) {
    	
		var param={tbaa01Id:Community.seItem.tbaa01Id};
		var num=Community.selectIfExistSonElement(1,param);
		if(num>0){
			Feng.info('该小区下还有楼栋信息，不允许删除，请先删除该小区下的楼栋');
			return;
		}
		
    	var operation=function(){
	        var ajax = new $ax(Feng.ctxPath + "/communityWh/deleteTbaa01", function (data) {
	        	if("1"==data.result){
	        		Feng.success("删除成功!");
	  	            Community.table.refresh();
	        	}else{
	        		Feng.error("删除失败!");
	        	}
	          
	        }, function (data) {
	            Feng.error("删除失败!");
	        });
	        ajax.set("tbaa01Id",Community.seItem.tbaa01Id);
	        ajax.start();
    	}
        
        Feng.confirm("是否刪除该小区?", operation);
    }
};


/**
 * 查询列表
 */
Community.search = function () {
    var queryData = {};
    var fields=["tbaa01Id"];
    $.each(fields,function(index,value){
    	queryData[value] = $("#"+value).val();
    });
   
    Community.table.refresh({query: queryData});
};
/**
 * 查询表单提交参数对象
 * @returns {{}}
 */
Community.formParams = function() {

	 var queryData = {};
	    var fields=["tbaa01Id"];
	    $.each(fields,function(index,value){
	    	queryData[value] = $("#"+value).val();
	    });
	   
    return queryData;
}
 
$(function() {
	$.ajax({
		type : 'POST',
		url : Feng.ctxPath + "/property/wyAreaName", 
		async : false,
		dataType : 'json',
		success : function(data) {
			$("#tbaa01Id").empty();
			$.each(data, function(index, value){
				var option = "<option value='"+value.id+"'>"+value.text+"</option>";
				$("#tbaa01Id").append(option);
			})
			//初始化下拉框
			$('.select2').select2();
		}
	});
	$("#firstTab li:eq(0) a").tab('show');
	$("#xqnav").addClass("navSpan");
	$("#ldnav").removeClass("navSpan");
	$("#dynav").removeClass("navSpan");
	$("#fjnav").removeClass("navSpan");

    var defaultColunms = Community.initColumn();
    var table = new BSTable(Community.id, "/communityWh/selectTbaa01", defaultColunms);
    table.setPaginationType("server");
    
    table.setQueryParams(Community.formParams());
    Community.table = table.init();
});


/**
 * 小区选择后事件
 */
$("#tbaa01Id").bind("change",
	function(){
  		 Community.search ();
  		 if(Community){
  			Community.seItem=null;
  		 }
  		 if(Building){
  			 
  			Building.seItem=null;
  		 }
  		 if(Unit){
  			Unit.seItem=null;
  		 }
  		 if(Room){
  			Room.seItem=null;
  		 }
  		 //楼栋  单元  房间信息清空
  		$("#buildingTable").bootstrapTable('destroy');
	    $("#roomTable").bootstrapTable('destroy');
	    $("#cellTable").bootstrapTable('destroy');
	   
	}
);



var Building={
		id: "buildingTable",	//表格id
	    seItem: null,		//选中的条目
	    table: null,
	    layerIndex: -1
}

Community.toTbaa02=function(){
	
	
	 if (this.check()) {
	
	
		checkedTbaa01=Community.seItem.tbaa01Id;
		$.ajax({
			type:'post',
			async:false,
			data:{tbaa01Id:checkedTbaa01,tbaa02Id:""},
			dataType:'json',
			url:Feng.ctxPath+"communityWh/selectTbaa02",
			beforeSend:function(){
				
			},
			success:function(data){
				
				 $("#buildingTable").bootstrapTable('destroy');
				var defaultColunms = Building.initColumn();
			    var table = new BSTable(Building.id, "/communityWh/selectTbaa02", defaultColunms);
			    table.setPaginationType("server");
			    
			    table.setQueryParams(Building.formParams());
			    Building.table = table.init();
			    Building.search();
			    
			    var buildingData=$("#buildingTable").bootstrapTable('getData');
			    
			    var length=0;
			    
			    if(buildingData){
			    	length=buildingData.length;
			    }
			    
			    if(length==0){
			    	Building.seItem=null;
			    	
			    }
			    
			    //清空   单元信息   房间信息
			    
			    $("#roomTable").bootstrapTable('destroy');
			    
			    $("#cellTable").bootstrapTable('destroy');
			    
				$("#firstTab li:eq(1) a").tab('show');
				
				$("#xqnav").removeClass("navSpan");
				$("#ldnav").addClass("navSpan");
				$("#dynav").removeClass("navSpan");
				$("#fjnav").removeClass("navSpan");
				
			}
		});
		
	}
}

	
/**
 * 初始化表格的列
 */
Building.initColumn = function () {
    var columns = [
        {field: 'selectItem', radio: true},
        {title: '小区id', field: 'tbaa01Id', visible: false, align: 'center', valign: 'middle'},
        {title: '公司名称', field: 'company', align: 'center', valign: 'middle', sortable: true},
        {title: '公司编码', field: 'companyCode', align: 'center', valign: 'middle', sortable: true},
        {title: '小区名称', field: 'areaName', align: 'center', valign: 'middle', sortable: true},
        {title: '小区编码', field: 'areaCode', align: 'center', valign: 'middle', sortable: true},
        {title: '楼栋ID', field: 'tbaa02Id',visible: false ,align: 'center', valign: 'middle', sortable: true},
        {title: '楼栋民称', field: 'building', align: 'center', valign: 'middle', sortable: true},
        {title: '楼栋编码', field: 'buildingCode', align: 'center', valign: 'middle', sortable: true},
        {title: '是否有门', field: 'haveGate', align: 'center', valign: 'middle', sortable: true}
        ];
    return columns;
};

/**
 * 检查是否选中
 */
Building.check = function () {
    var selected = $('#' + this.id).bootstrapTable('getSelections');
    if (selected.length == 0) {
        Feng.info("请先选中表格中的某一记录！");
        return false;
    } else {
    	Building.seItem = selected[0];
        return true;
    }
};

/**
 * 点击添加楼栋
 */
Building.openAddBuilding = function () {
	//var arr=$("#buildingTable").DataTable().data().toArray();
	//
//	var arr=$("#buildingTable").bootstrapTable('getData');
	
	var selected = $('#' + Building.id).bootstrapTable('getSelections');
    var unitinfo=selected[0];
    if(unitinfo&&!unitinfo.tbaa02Id){
    	Feng.info('请先点击“小区信息”页面中的“查看楼栋”');
		return;
    }
	//楼栋信息表格没数据会报错
	//var sqid=$("#buildingTable").bootstrapTable('getData')[0].tbaa01Id;
	var sqid=$("#buildingTable").bootstrapTable('getData')[0]&&$("#buildingTable").bootstrapTable('getData')[0].tbaa01Id;
	
	var len=0;
	var dataCommunity=$("#areaTable").bootstrapTable('getData')[0];
	if(dataCommunity&&dataCommunity.tbaa01Id){
		len=1;
	}
	
	if(len==0){
		Feng.info('请先点击“小区信息”页面中的“查看楼栋”');
		return;
	}
	
	
	var row=Community.seItem;
	
	/* if(arr.length==0 && !row){
		Feng.info('请先点击“小区信息”页面中的“查看楼栋”');
		return;
	} */
	if( !sqid&&!row){
		Feng.info('请先点击“小区信息”页面中的“查看楼栋”');
		return;
	}
	
    var index = layer.open({
        type: 2,
        title: '添加楼栋',
        area: ['780px', '340px'], //宽高
        fix: false, //不固定
        maxmin: true,
        content: Feng.ctxPath + '/communityWh/building_add/'+checkedTbaa01
    });
    this.layerIndex = index;
};	

/**
 * 打开查看详情
 */
Building.openBuildingDetail = function () {
	var selected = $('#' + Building.id).bootstrapTable('getSelections');
    var unitinfo=selected[0];
    if(unitinfo&&!unitinfo.tbaa02Id){
    	Feng.info('请先点击“小区信息”页面中的“查看楼栋”');
		return;
    }
	
    if (this.check()) {
    	
        var index = layer.open({
            type: 2,
            title: '修改',
            area: ['780px', '340px'], //宽高
            fix: false, //不固定
            maxmin: true,
            content: Feng.ctxPath + '/communityWh/toUpdateTbaa02/' + Building.seItem.tbaa02Id
        });
        this.layerIndex = index;
    }
};


/**
 * 删除
 */
Building.delete = function () {
	
	var selected = $('#' + Building.id).bootstrapTable('getSelections');
    var unitinfo=selected[0];
    if(unitinfo&&!unitinfo.tbaa02Id){
    	Feng.info('请先点击“小区信息”页面中的“查看楼栋”');
		return;
    }
    if (this.check()) {
    	
    	if(!Building.seItem.tbaa02Id){
    		return;
    	}
    	
		var param={tbaa02Id:Building.seItem.tbaa02Id};
		var num=Community.selectIfExistSonElement(2,param);
		if(num>0){
			Feng.info('该楼栋下还有单元，不允许删除，请先删除该楼栋下的单元');
			return;
		}
			
    	var operation=function(){
	        var ajax = new $ax(Feng.ctxPath + "/communityWh/deleteTbaa02", function (data) {
	        	if("1"==data.result){
	        		Feng.success("删除成功!");
	        		Building.table.refresh();
	        	}else{
	        		Feng.error("删除失败!");
	        	}
	          
	        }, function (data) {
	            Feng.error("删除失败!");
	        });
	        ajax.set("tbaa02Id",Building.seItem.tbaa02Id);
	        ajax.start();
    	}
        
        Feng.confirm("是否刪除该楼栋?", operation);
    }
};


/**
 * 查询列表
 */
Building.search = function () {
    var queryData = {tbaa01Id:checkedTbaa01,tbaa02Id:""};
    
    Building.table.refresh({query: queryData});
};
/**
 * 查询表单提交参数对象
 * @returns {{}}
 */
Building.formParams = function() {

	var queryData = {tbaa01Id:checkedTbaa01,tbaa02Id:""};
    return queryData;
}

 
 
var Unit={
		id: "cellTable",	//表格id
	    seItem: null,		//选中的条目
	    table: null,
	    layerIndex: -1
}
//查看单元
Building.toTbaa03=function(){
	
	var selected = $('#' + Building.id).bootstrapTable('getSelections');
    var unitinfo=selected[0];
    if(unitinfo&&!unitinfo.tbaa02Id){
    	Feng.info('请先点击“小区信息”页面中的“查看楼栋”');
		return;
    }
	
	 if (this.check()) {
		checkedTbaa02=Building.seItem.tbaa02Id;
		$.ajax({
			type:'post',
			async:false,
			data:{tbaa02Id:checkedTbaa02,tbaa03Id:""},
			dataType:'json',
			url:Feng.ctxPath+"/communityWh/selectTbaa03",
			beforeSend:function(){
				
			},
			success:function(data){
				//初始化table之前，要将table销毁，否则会保留上次加载的内容
				$("#cellTable").bootstrapTable('destroy'); 
				$("#roomTable").bootstrapTable('destroy');
				var defaultColunms = Unit.initColumn();
			    var table = new BSTable(Unit.id, "/communityWh/selectTbaa03", defaultColunms);
			    table.setPaginationType("server");
			    table.setQueryParams(Unit.formParams());
			    Unit.table = table.init();
				
				$('#firstTab li:eq(2) a').tab('show');
				$("#xqnav").removeClass("navSpan");
				$("#ldnav").removeClass("navSpan");
				$("#dynav").addClass("navSpan");
				$("#fjnav").removeClass("navSpan");
			}
		});
	 }
}
	

	
/**
 * 初始化表格的列
 */
Unit.initColumn = function () {
    var columns = [
        {field: 'selectItem', radio: true},
        {title: '公司名称', field: 'company', align: 'center', valign: 'middle', sortable: true},
        {title: '公司编码', field: 'companyCode', align: 'center', valign: 'middle', sortable: true},
        {title: '小区名称', field: 'areaName', visible: true, align: 'center', valign: 'middle'},
        {title: '小区编码', field: 'areaCode', visible: true, align: 'center', valign: 'middle'},
        {title: '楼栋ID', field: 'tbaa02Id',visible: false ,align: 'center', valign: 'middle', sortable: true},
        {title: '楼栋名称', field: 'building', align: 'center', valign: 'middle', sortable: true},
        {title: '单元ID', field: 'tbaa03Id',visible: false, align: 'center', valign: 'middle', sortable: true},
        {title: '单元名称', field: 'cellName', align: 'center', valign: 'middle', sortable: true},
        {title: '单元编码', field: 'cellCode', align: 'center', valign: 'middle', sortable: true},
        {title: '是否有门', field: 'haveGate', align: 'center', valign: 'middle', sortable: true}
        ];
    return columns;
};

/**
 * 检查是否选中
 */
Unit.check = function () {
    var selected = $('#' + this.id).bootstrapTable('getSelections');
 /*    var unitinfo=selected[0];
    if(!unitinfo.tbaa02Id){
    	Feng.info('请先点击“楼栋信息”页面中的“查看单元”');
		return;
    } */
    if (selected.length == 0) {
        Feng.info("请先选中表格中的某一记录！");
        return false;
    } else {
    	Unit.seItem = selected[0];
        return true;
    }
};

/**
 * 点击添加楼栋
 */
Unit.openAddUnit = function () {
	//var arr=$("#buildingTable").DataTable().data().toArray();
	//
	/* var arr=$("#cellTable").bootstrapTable('getData');
	
	if(arr.length==0 && clickaa02Index==undefined){
		Feng.info('请先点击“小区信息”页面中的“查看楼栋”');
		return;
	} */
	
	var selected = $('#' + Unit.id).bootstrapTable('getSelections');
    var unitinfo=selected[0];
    if(unitinfo&&!unitinfo.tbaa03Id){
    	Feng.info('请先点击“楼栋信息”页面中的“查看单元”');
		return;
    }
	
	//var sqid=$("#cellTable").bootstrapTable('getData')[0].tbaa02Id;
	
	var sqid=$("#cellTable").bootstrapTable('getData')[0]&&$("#cellTable").bootstrapTable('getData')[0].tbaa02Id;
	var row=Building.seItem;
	
	var len=0;
	var dataBuilding=   $("#buildingTable").bootstrapTable('getData')[0];
	
	if(dataBuilding&&dataBuilding.tbaa02Id){
		len=1;
	}
	
	if(len==0){
		Feng.info('请先点击“楼栋信息”页面中的“查看单元”');
		return;
	}	
	
	/* if(arr.length==0 && !row){
		Feng.info('请先点击“小区信息”页面中的“查看楼栋”');
		return;
	} */
	if( !sqid&&!row){
		Feng.info('请先点击“楼栋信息”页面中的“查看单元”');
		return;
	}
	
	
    var index = layer.open({
        type: 2,
        title: '添加单元',
        area: ['780px', '340px'], //宽高
        fix: false, //不固定
        maxmin: true,
        content: Feng.ctxPath + '/communityWh/unit_add/'+checkedTbaa02
    });
    this.layerIndex = index;
};	

/**
 * 打开查看详情
 */
Unit.openUnitDetail = function () {
	
	var selected = $('#' + Unit.id).bootstrapTable('getSelections');
    var unitinfo=selected[0];
    if(unitinfo&&!unitinfo.tbaa03Id){
    	Feng.info('请先点击“楼栋信息”页面中的“查看单元”');
		return;
    }
	
    if (this.check()) {
    	
        var index = layer.open({
            type: 2,
            title: '修改',
            area: ['780px', '340px'], //宽高
            fix: false, //不固定
            maxmin: true,
            content: Feng.ctxPath + '/communityWh/toUpdateTbaa03/' + Unit.seItem.tbaa03Id
        });
        this.layerIndex = index;
    }
};


/**
 * 删除
 */
Unit.delete = function () {
	
	var selected = $('#' + Unit.id).bootstrapTable('getSelections');
    var unitinfo=selected[0];
    if(unitinfo&&!unitinfo.tbaa03Id){
    	Feng.info('请先点击“楼栋信息”页面中的“查看单元”');
		return;
    }
    if (this.check()) {
    	
    	
    	if(!Unit.seItem.tbaa03Id){
    		return;
    	}
    	
		var param={tbaa03Id:Unit.seItem.tbaa03Id};
		var num=Community.selectIfExistSonElement(3,param);
		if(num>0){
			Feng.info('该单元下还有房间，不允许删除，请先删除该单元下的房间');
			return;
		}
			
    	var operation=function(){
	        var ajax = new $ax(Feng.ctxPath + "/communityWh/deleteTbaa03", function (data) {
	        	if("1"==data.result){
	        		Feng.success("删除成功!");
	        		Unit.table.refresh();
	        	}else{
	        		Feng.error("删除失败!");
	        	}
	          
	        }, function (data) {
	            Feng.error("删除失败!");
	        });
	        ajax.set("tbaa03Id",Unit.seItem.tbaa03Id);
	        ajax.start();
    	}
        
        Feng.confirm("是否刪除该单元?", operation);
    }
};


/**
 * 查询列表
 */
Unit.search = function () {
    var queryData = {tbaa02Id:checkedTbaa02,tbaa03Id:""};
    
    Building.table.refresh({query: queryData});
};
/**
 * 查询表单提交参数对象
 * @returns {{}}
 */
Unit.formParams = function() {

	var queryData = {tbaa02Id:checkedTbaa02,tbaa03Id:""};
    return queryData;
}


 
var Room={
		id: "roomTable",	//表格id
	    seItem: null,		//选中的条目
	    table: null,
	    layerIndex: -1
}
		
Unit.toTbaa05=function(){
	var selected = $('#' + Unit.id).bootstrapTable('getSelections');
    var unitinfo=selected[0];
    if(unitinfo&&!unitinfo.tbaa03Id){
    	Feng.info('请先点击“楼栋信息”页面中的“查看单元”');
		return;
    }
	
	if (this.check()) {
		checkedTbaa03=Unit.seItem.tbaa03Id;
		$.ajax({
			type:'post',
			async:false,
			data:{tbaa03Id:checkedTbaa03,tbaa04Id:""},
			dataType:'json',
			url:Feng.ctxPath+"/communityWh/selectTbaa05",
			beforeSend:function(){
				
			},
			success:function(data){
				//初始化table之前，要将table销毁，否则会保留上次加载的内容
				$("#roomTable").bootstrapTable('destroy'); 
				var defaultColunms = Room.initColumn();
			    var table = new BSTable(Room.id, "/communityWh/selectTbaa05", defaultColunms);
			    table.setPaginationType("server");
			    table.setQueryParams(Room.formParams());
			    Room.table = table.init();
				
				$('#firstTab li:eq(3) a').tab('show');
				
				$("#xqnav").removeClass("navSpan");
				$("#ldnav").removeClass("navSpan");
				$("#dynav").removeClass("navSpan");
				$("#fjnav").addClass("navSpan");
			}
		});
	 }
	
}
 
 
 
	
/**
 * 初始化表格的列
 */
Room.initColumn = function () {
    var columns = [
        {field: 'selectItem', radio: true},
        {title: '公司名称', field: 'company', align: 'center', valign: 'middle', sortable: true},
        {title: '公司编码', field: 'companyCode', align: 'center', valign: 'middle', sortable: true},
        {title: '小区名称', field: 'areaName', visible: true, align: 'center', valign: 'middle'},
        {title: '小区编码', field: 'areaCode', visible: true, align: 'center', valign: 'middle'},
        {title: '楼栋名称', field: 'building', align: 'center', valign: 'middle', sortable: true},
        {title: '单元名称', field: 'cellName', align: 'center', valign: 'middle', sortable: true},
        {title: '房间ID', field: 'tbaa05Id', visible: false,align: 'center', valign: 'middle', sortable: true},
        {title: '房间名称', field: 'roomName', align: 'center', valign: 'middle', sortable: true},
        {title: '房间编码', field: 'roomCode', align: 'center', valign: 'middle', sortable: true},
        {title: '建筑面积', field: 'calArea', align: 'center', valign: 'middle', sortable: true},
        {title: '实用面积', field: 'realArea', align: 'center', valign: 'middle', sortable: true},
        {title: '物业单价', field: 'wyPrice', align: 'center', valign: 'middle', sortable: true},
        {title: '物业费', field: 'wyAmount', align: 'center', valign: 'middle', sortable: true},
        {title: '是否有门', field: 'haveGate', align: 'center', valign: 'middle', sortable: true}
        ];
    return columns;
};

/**
 * 检查是否选中
 */
Room.check = function () {
    var selected = $('#' + this.id).bootstrapTable('getSelections');
    if (selected.length == 0) {
        Feng.info("请先选中表格中的某一记录！");
        return false;
    } else {
    	Room.seItem = selected[0];
        return true;
    }
};

/**
 * 点击添加房间
 */
Room.openAddRoom = function () {
	//var arr=$("#buildingTable").DataTable().data().toArray();
	//
       //		var arr=$("#buildingTable").bootstrapTable('getData');
	
	//var sqid=$("#roomTable").bootstrapTable('getData')[0].tbaa03Id;
	var selected = $('#' + Room.id).bootstrapTable('getSelections');
    var unitinfo=selected[0];
    if(unitinfo&&!unitinfo.tbaa05Id){
    	Feng.info('请先点击“单元信息”页面中的“查看房间”');
		return;
    }
	
	var sqid=$("#roomTable").bootstrapTable('getData')[0]&&$("#roomTable").bootstrapTable('getData')[0].tbaa03Id;
	
	var row=Unit.seItem;
	
	var len=0;
	var areaData=$("#cellTable").bootstrapTable('getData')[0];
	if(areaData&&areaData.tbaa03Id){
		len=1;
	}
	if(len==0){
		Feng.info('请先点击“单元信息”页面中的“查看房间”');
		return;
	}
	
	/* if(arr.length==0 && !row){
		Feng.info('请先点击“小区信息”页面中的“查看楼栋”');
		return;
	} */
	if( !sqid&&!row){
		Feng.info('请先点击“单元信息”页面中的“查看房间”');
		return;
	}
	
    var index = layer.open({
        type: 2,
        title: '添加房间',
        area: ['780px', '520px'], //宽高
        fix: false, //不固定
        maxmin: true,
        content: Feng.ctxPath + '/communityWh/room_add/'+checkedTbaa03
    });
    this.layerIndex = index;
};	

/**
 * 打开查看详情
 */
Room.openRoomDetail = function () {
	var selected = $('#' + Room.id).bootstrapTable('getSelections');
    var unitinfo=selected[0];
    if(unitinfo&&!unitinfo.tbaa05Id){
    	Feng.info('请先点击“单元信息”页面中的“查看房间”');
		return;
    }
	
    if (this.check()) {
    	
        var index = layer.open({
            type: 2,
            title: '修改',
            area: ['780px', '520px'], //宽高
            fix: false, //不固定
            maxmin: true,
            content: Feng.ctxPath + '/communityWh/toUpdateTbaa05/' + Room.seItem.tbaa05Id
        });
        this.layerIndex = index;
    }
};


/**
 * 删除
 */
Room.delete = function () {
	var selected = $('#' + Room.id).bootstrapTable('getSelections');
    var unitinfo=selected[0];
    if(unitinfo&&!unitinfo.tbaa05Id){
    	Feng.info('请先点击“单元信息”页面中的“查看房间”');
		return;
    }
    if (this.check()) {
    	
    	if(!Room.seItem.tbaa05Id){
    		return;
    	}
    	
    	var operation=function(){
	        var ajax = new $ax(Feng.ctxPath + "/communityWh/deleteTbaa05", function (data) {
	        	if("1"==data.result){
	        		Feng.success("删除成功!");
	        		Room.table.refresh();
	        	}else{
	        		Feng.error("删除失败!");
	        	}
	          
	        }, function (data) {
	            Feng.error("删除失败!");
	        });
	        ajax.set("tbaa05Id",Room.seItem.tbaa05Id);
	        ajax.start();
    	}
        
        Feng.confirm("是否刪除该房间?", operation);
    }
};


/**
 * 查询列表
 */
Room.search = function () {
    var queryData = {tbaa03Id:checkedTbaa03,tbaa04Id:""};
    
    Room.table.refresh({query: queryData});
};
/**
 * 查询表单提交参数对象
 * @returns {{}}
 */
Room.formParams = function() {

	var queryData = {tbaa03Id:checkedTbaa03,tbaa04Id:""};
    return queryData;
}
 

	


$("#modal").on("hidden.bs.modal", function() {    
    $(this).removeData("bs.modal");  
}); 
</script>

<!--  <script src="/modular/system/communitywh/communitywh.js"></script>-->
</body>
</html>