<!DOCTYPE html>
<html layout:decorator="/common/head_link" >
<head>
</head>

<body class="gray-bg">

<div class="wrapper wrapper-content animated fadeInRight">
<div class="ibox float-e-margins">
	<div class="ibox-content">
	<div class="form-horizontal"
	<input type="hidden" id="companyCode2" th:value="${companyCode }" />
					<input type="hidden" id="haveGate" th:value="${haveGate }" />
					<input type="hidden" id="tbaa05Id" th:value="${tbaa05Id }" />
					<div class="form-group">
						<!-- <label class="col-xs-2  control-label">房间ID：</label>
						<div class="col-xs-3">
			   				<input class="form-control" id="tbaa05Id" th:value="${tbaa05Id }" disabled/>
						</div> -->
						
						<label class="col-xs-2  control-label">房间编码：</label>
						<div class="col-xs-3">
			   				<input class="form-control" id="roomCode" th:value="${roomCode}" disabled/>
						</div>
						
						<label class="col-xs-2 col-xs-offset-1 control-label">房间名称：</label>
						<div class="col-xs-3">
			   				<input class="form-control" id="roomName" th:value="${roomName }" />
						</div>
					</div>
					
					<div class="form-group">
						
						<label class="col-xs-2  control-label">公司：</label>
						 <div class="col-xs-3">
			   				<select class="form-control" id="companyCode" th:value="${companyCode }"></select>
						</div>
						<label class="col-xs-2 col-xs-offset-1 control-label">房间全名：</label>
						 <div class="col-xs-3">
			   				<input class="form-control" id="roomFullName"  th:value="${roomFullName }"/>
						</div>
					</div>
					
					
					
					<div class="form-group">
						 <label class="col-xs-2  control-label">户主名字：</label>
						 <div class="col-xs-3">
			   				<input class="form-control" id="ownerName" th:value="${ownerName }"/>
						</div>
					 
						 <label class="col-xs-2 col-xs-offset-1 control-label">户主电话：</label>
						 <div class="col-xs-3">
			   				<input class="form-control" id="ownerTel" th:value="${ownerTel }"/>
						</div>
					</div>
					
					<div class="form-group">
						 <label class="col-xs-2  control-label">水务房号：</label>
						 <div class="col-xs-3">
						 	<input class="form-control" id="fh" th:value="${fh }"/>
						</div>
					 
						 <label class="col-xs-2 col-xs-offset-1 control-label">水务户号：</label>
						 <div class="col-xs-3">
			   				<input class="form-control" id="hh" th:value="${hh }"/>
						</div>
					</div>
					
					<div class="form-group">
						 <label class="col-xs-2  control-label">建筑面积：</label>
						 <div class="col-xs-3">
						 	<input class="form-control" id="calArea" th:value="${calArea }"/>
						</div>
					 
						 <label class="col-xs-2 col-xs-offset-1 control-label">实用面积：</label>
						 <div class="col-xs-3">
			   				<input class="form-control" id="realArea" th:value="${realArea }"/>
						</div>
					</div>
					
					<div class="form-group">
						 <label class="col-xs-2  control-label">物业费单价：</label>
						 <div class="col-xs-3">
						 	 <input class="form-control" id="wyPrice" th:value="${wyPrice }"/>
						</div>
					 
						 <label class="col-xs-2 col-xs-offset-1 control-label">物业费：</label>
						 <div class="col-xs-3">
			   				<input class="form-control" id="wyAmount" th:value="${wyAmount }" />
						</div>
					</div>
					
					<div class="form-group">
						 <label class="col-xs-2  control-label">备注：</label>
						 <div class="col-xs-3">
			   				<input class="form-control" id="remark1" th:value="${remark1 }"/>
						</div>
					
						 <label class="col-xs-2 col-xs-offset-1 control-label">是否有门：</label>
			   			 <div class="col-xs-3" style="padding-top:6px;">
			   				<input id="yes_haveGate" type="radio"  name="haveGate"  value="1"  />是
							<input id="no_haveGate"  type="radio"  name="haveGate" value="0"  />否
						</div>
					</div>
	
	
	
	</div>
	<div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <button type="button" class="btn btn-info " onclick="RoomEditDlg.edit()" id="ensure">
                        <i class="fa fa-check"></i>&nbsp;提交
                    </button>


                    <button type="button" class="btn btn-danger " onclick="RoomEditDlg.close()" id="cancel">
                        <i class="fa fa-eraser"></i>&nbsp;取消
                    </button>
                </div>
            </div>
   </div>
   </div>
</div>

<script src="/js/content.js?v=1.0.0"></script>
<script type="text/javascript">

var RoomEditDlg={
	perfixName:null
};


function accMul(arg1,arg2){
	var m=0,s1=arg1.toString(),s2=arg2.toString();
	try{m+=s1.split(".")[1].length}catch(e){}
	try{m+=s2.split(".")[1].length}catch(e){}
	return Number(s1.replace(".",""))*Number(s2.replace(".",""))/Math.pow(10,m)
 }
$(function(){
	var companyCode=$("#companyCode2").val();
	var haveGate=$("#haveGate").val();
	$.ajax({
		type : 'POST',
		url : Feng.ctxPath + "/communityWh/selectCompany",
		async : false,
		dataType : 'json',
		success : function(data) {
			$("#companyCode").empty();
			$.each(data, function(index, value){
				var option = "<option value='"+value.id+"'>"+value.text+"</option>";
				$("#companyCode").append(option);
			})
			$("#companyCode").val(companyCode);
		}
	});
	
	$("input[name='haveGate'][value="+haveGate+"]").attr("checked",true);
	
    var roomName=$("#roomName").val();

	var index=$("#roomFullName").val()&&$("#roomFullName").val().indexOf(roomName);
	if(index&&$("#roomFullName").val()){
		RoomEditDlg.perfixName=$("#roomFullName").val().substring(0,index);
	}
	if(index&&index<0){
		RoomEditDlg.perfixName=null;
	}
})

var reg=/^([1-9][0-9]*|([0-9]\.\d{1,2})|([1-9][0-9]*\.\d{1,2}))$/;
$("#calArea").change(function(){
	var calArea=$(this).val();
	var wyPrice=$("#wyPrice").val();
	if(calArea && reg.test(calArea)){
		var amount=accMul(calArea,wyPrice);
		$("#wyAmount").val(amount);
	}else{
		Feng.info('请输入正确的建筑面积');
		$("#calArea").val("");
	}
});

$("#wyPrice").change(function(){
	var calArea=$("#calArea").val();
	var newWyPrice=$(this).val();
	if(newWyPrice && reg.test(newWyPrice)){
		var amount=accMul(calArea,newWyPrice);
		$("#wyAmount").val(amount);
	}else{
		Feng.info('请输入正确的物业费单价');
		$("#wyPrice").val("");
	}
});

$("#calArea").change(function(){
	var calArea=$(this).val();
	if(calArea && !reg.test(calArea)){
		Feng.info('请输入正确的建筑面积');
		$("#calArea").val('');
	}
});

$("#realArea").change(function(){
	var realArea=$(this).val();
	if(realArea && !reg.test(realArea)){
		Feng.info('请输入正确的实用面积');
		$("#realArea").val('');
	}
});

$("#roomName").bind("change",
		function(){
			if(RoomEditDlg.perfixName&&RoomEditDlg.perfixName.length>0){
				$("#roomFullName").val(RoomEditDlg.perfixName+$("#roomName").val());
			}
		}
);




RoomEditDlg.close=function(){
	parent.layer.close(window.parent.Room.layerIndex);
	
}

RoomEditDlg.edit= function(){
	var tbaa05Id=$("#tbaa05Id").val();
	var roomName=$("#roomName").val();
//	var roomId=$("#roomId").val();
	
	var roomCode=$("#roomCode").val();
	var companyCode=$("#companyCode").val();
	var calArea=$("#calArea").val();
	var realArea=$("#realArea").val();
	
	var ownerName=$("#ownerName").val();
	var ownerTel=$("#ownerTel").val();
	var roomFullName=$("#roomFullName").val();
	//var pmsCellId=$("#pmsCellId").val();
	var fh=$("#fh").val();
	var hh=$("#hh").val();
	var wyPrice=$("#wyPrice").val();
	var wyAmount=$("#wyAmount").val();
	
	var remark1=$("#remark1").val();
	var haveGate=$("input[name='haveGate']:checked").val();
	if(companyCode == ''){
		Feng.info('请选择物业公司');
		return;
	}
	
	if(!reg.test(calArea)){
		Feng.info('请输入正确的建筑面积(只能是数字)');
		return;
	}
	
	if(!reg.test(realArea)){
		Feng.info('请输入正确的实用面积(只能是数字)');
		return;
	}
	
	if(!reg.test(wyPrice)){
		Feng.info('请输入正确的物业费单价(只能是数字)');
		return;
	}
	
	if(!reg.test(wyAmount)){
		Feng.info('请输入正确的物业费(只能是数字)');
		return;
	}
	
	var params={
			tbaa05Id:tbaa05Id,
			roomName:roomName,
			//roomId:roomId,
			roomCode:roomCode,
			companyCode:companyCode,
			calArea:calArea,
			realArea:realArea,
			ownerName:ownerName,
			ownerTel:ownerTel,
			roomFullName:roomFullName,
			//pmsCellId:pmsCellId,
			fh:fh,
			hh:hh,
			wyPrice:wyPrice,
			wyAmount:wyAmount,
			remark1:remark1,
			haveGate:haveGate,
	
	}
	$.ajax({
		type:'post',
		async:false,
		data:params,
		dataType:'json',
		url:Feng.ctxPath+"/communityWh/updateTbaa05",
		beforeSend:function(){
			
		},
		success:function(data){
			if(data.result==1){
				Feng.success('更新房间信息成功');
				window.parent.Room.table.refresh();
				RoomEditDlg.close();
			}else{
				Feng.error("更新房间信息失败");
			}
		}
	});
}



</script>
</body>
</html>