<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.core.dao.TbCommonConfigMapper">

    <select id="selectDistinctType" resultType="java.lang.String">
        select distinct type
        from tb_common_config t
        order by t.type
    </select>
</mapper>
