<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.core.dao.TbManagerMapper">

    <select id="getTbMangerList" resultType="java.util.Map">
        select m.id,
        m.account,
        m.name,
        m.phone,
        m.mail,
        DATE_FORMAT(m.create_date,'%Y-%m-%d %H:%i:%S') createTime,
        m.status,
        pro.program_name programName,
        pro.PROGRAM_CODE programCode,
        o.fullnames orgName,
        info.USER_ID userId,
        info.USER_INFO_ID userInfoId,
        info.USER_NAME userName,
        info.WORK_NO workNo,
        info.FLOWER flower,
        info.WINTER_CLO winterClo,
        info.SUMMER_CLO summerClo,
        info.WORK_NO_CARD workNoCard,
        info.TAPE tape,
        info.GOOD_CAP_KEY goodCapKey,
        info.LIVING_KEY livingKey,
        info.ENTER_NO enterNo,
        info.ENTER_EXPIRY_DATE enterExpiryDate,
        info.PASS_NO passNo,
        info.PASS_EXPIRY_DATE passExpiryDate,
        info.DOOR_OPEN doorOpen,
        info.EQUIP_USE equipUse,
        info.PASS_AREA passArea,
        info.EVALUATE evaluate,
        info.CARD_TYPE cardType,
        info.CARD_NO cardNo,
        info.GENDER gender,
        DATE_FORMAT(info.BIRTH,'%Y-%m-%d') birth,
        DATE_FORMAT(info.WORK_DATE,'%Y-%m-%d') workDate,
        info.WORK_STATUS workStatus,
        info.MARRIAGE_SIT marriageSit,
        info.MOBILE mobile,
        info.EMAIL email,
        info.ADDRESS address,
        info.EMER_MOBILE emerMobile,
        info.EMER_PERSON emerPerson
        from tb_manager m
        left join tb_user_info info on info.user_id = m.id
        left join tb_manager_org mo on m.id = mo.manager_id
        left join tb_org o ON mo.org_id = o.id
        left join tb_program pro ON o.PROGRAM_CODE  = pro.PROGRAM_CODE
        where m.status != 3
        <if test="map.userName!=null and map.userName!=''">
            and m.name like #{map.userName}
        </if>
        <if test="map.phone!=null and map.phone!=''">
            and m.phone like #{map.phone}
        </if>
        <if test="map.workStatus!=null and map.workStatus!=''">
            and info.WORK_STATUS = #{map.workStatus}
        </if>
        <if test="map.programCode!=null and map.programCode!=''">
            and pro.PROGRAM_CODE = #{map.programCode}
        </if>
        <if test="map.orgCode!=null and map.orgCode!=''">
            and (o.code like CONCAT(#{map.orgCode},'%')
            or o.code is null)
        </if>
        ORDER BY info.WORK_NO
    </select>

    <update id="updateManagerPwd" parameterType="com.qcap.core.entity.TbManager">
        UPDATE TB_MANAGER
		SET
		password = #{password},
		salt = #{salt},
		update_date = #{updateDate},
		update_emp = #{updateEmp}
		WHERE
		id = #{id}
    </update>

    <update id="updateManagerDefaultPwd" parameterType="com.qcap.core.entity.TbManager">
        UPDATE TB_MANAGER
		SET
		password = #{password},
		salt = #{salt},
		update_date = #{updateDate},
		update_emp = #{updateEmp}
		WHERE
		account = #{account}
    </update>

    <select id="getMangerByEmployeeCode" parameterType="String" resultType="com.qcap.core.entity.TbManager">
        SELECT
        account account,
        name name,
        phone phone
        FROM
        tb_manager
        WHERE
        account = #{employeeCode}
    </select>

    <select id="getprojectCodesByManagerId" parameterType="String" resultType="String">
        SELECT
          org.PROGRAM_CODE code
        from tb_org org
        WHERE
        org.fullcodes like
        CONCAT((SELECT o.fullcodes from tb_manager_org mo
        left join tb_org o
        on mo.org_id = o.id
        where mo.manager_id = #{managerId}),'%')
        AND org.PROGRAM_CODE is NOT NULL
    </select>
</mapper>
