<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.core.dao.TbOrgMapper">

    <select id="getOrgTreeList" resultType="com.qcap.core.model.ZTreeNode">
        SELECT m1.code                AS id,
               m1.name,
               (CASE
                    WHEN (m2.code = 0 OR m2.code IS NULL) THEN '1'
                    ELSE m2.code END) AS pid,
               (CASE
                    WHEN (m2.code = 0 OR m2.code IS NULL) THEN 'true'
                    ELSE 'false' END) AS open
        FROM tb_org m1
                 LEFT join tb_org m2 ON m1.parent_code = m2.code
        WHERE m1.status = 1
        ORDER BY m1.parent_code, m1.seq
    </select>
    <select id="getOrgTreeListByManagerId" resultType="com.qcap.core.model.ZTreeNode">
        SELECT r.code                    id,
               r.parent_code             pid,
               r.name,
               (CASE
                    WHEN (r.parent_code = 0 OR r.parent_code IS NULL) THEN 'true'
                    ELSE 'false' END) AS open,
               (CASE
                    WHEN exists(select 'X' from tb_manager_org where manager_id = #{managerId}
                                                                 and org_id = r.id) then 'true'
                    else 'false' END) AS checked
        FROM tb_org r
    </select>
</mapper>
