<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.dao.WarehouseEntryMapper">

    <select id="getWarehouseEntryList" resultType="java.util.Map">
        select
        WAREHOUSE_ENTRY_ID,
        a.STOREROOM_ID,
        a.STOREROOM,
        ENTRY_BATCH_NO,
        b.GOODS_NO,
        b.GOODS_NAME,
        b.SUPPLIER_NAME,
        b.GOODS_TYPE,
        a.WAREHOUSE_STOCK_ID,
        ENTRY_NUM,
        ENTRY_UNIT_,
        SUM_NUM,
        MIN_UNIT,
        ENTRY_TIME,
        b.REMARK
        from tb_warehouse_entry a
        left join tb_warehouse_stock b
        on a.WAREHOUSE_STOCK_ID = b.WAREHOUSE_STOCK_ID
        where 1 = 1 AND a.DELETE_FLAG = 'N'
        <if test="map.storeroomId!=null and map.storeroomId!=''">
            and a.STOREROOM_ID = #{map.storeroomId}
        </if>
        <if test="map.entryBatchNo!=null and map.entryBatchNo!=''">
            and a.ENTRY_BATCH_NO like #{map.entryBatchNo}
        </if>
        <if test="map.goodsNo!=null and map.goodsNo!=''">
            and b.GOODS_NO like #{map.goodsNo}
        </if>
        <if test="map.goodsName!=null and map.goodsName!=''">
            and b.GOODS_NAME like #{map.goodsName}
        </if>
        <if test="map.startDate!=null and map.startDate!=''">
            and a.ENTRY_TIME &gt; #{map.startDate}
        </if>
        <if test="map.endDate!=null and map.endDate!=''">
            and a.ENTRY_TIME &lt; #{map.endDate}
        </if>
        <if test="map.supplierName!=null and map.supplierName!=''">
            and a.SUPPLIER_NAME like #{map.supplierName}
        </if>
        order by a.ENTRY_TIME DESC,b.GOODS_NO ASC
    </select>
</mapper>
