
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcap.cac.common.dao.PropertyCommonMapper">


  <!-- ：根据登录人的workId查询所属公司 -->
  <select id="selectCompanyCodeByWorkId" parameterType="String" resultType="String">
  SELECT COMPANY_CODE_ as companyCode FROM tb_user WHERE 
    user_type_ = 'W' and account_ =#{workId}
  </select>
  
    <!-- ：根据登录人的workId查询所属公司 -->
  <select id="selectCompanyCodeByUserId" parameterType="String" resultType="String">
  SELECT COMPANY_CODE_ as companyCode FROM tb_user WHERE 
    user_type_ = 'W' and ID_ =#{userId}
  </select>
  
   <!-- 根据公司全称查询公司别 -->
  <select id="selectCompCode" parameterType="String" resultType="String">
   		SELECT COMPANY_CODE_ AS companyCode  
   		FROM tb_sys_company WHERE FULL_NAME_ = #{fullName} 
   </select>
   
   <select id="selectAccountByUserId"  parameterType="String" resultType="String">
   		SELECT ACCOUNT_ as account from  tb_user where ID_=#{id}
   </select>
   
   <select id="selectCodeByUserId"  parameterType="String" resultType="String">
   		SELECT CODE_ FROM tb_sys_department 
		WHERE DEPARTMENT_ID_ = (SELECT DEPARTMENT_ID_ FROM tb_user where ID_ = #{id})
   </select>

  <!-- 根据公司别展示部门信息 -->	
  <select id="listDeptInfo" parameterType="java.util.Map" resultType="java.util.Map">
  	SELECT DISTINCT bb04.DEPARTMENT_ID_ AS id, bb04.DEPT_NAME_ AS text 
  	FROM tb_sys_department bb04
  	<!-- LEFT JOIN tb_sys_area_relation_ aa06 ON aa06.DEPARTMENT_ID_ = bb04.DEPARTMENT_ID_ -->
  	WHERE 1 = 1
  	<if test="@com.qcap.core.utils.Ognl@isNotEmpty(deleteFlag)">
		AND bb04.DELETE_FLAG_ = #{deleteFlag}
	</if>
	<if test="@com.qcap.core.utils.Ognl@isNotEmpty(companyCode)">
		AND bb04.COMPANY_CODE_ = #{companyCode} 
		<!-- AND bb04.COMPANY_CODE_ LIKE CONCAT(#{companyCode},'%')-->
	</if>
	<if test="@com.qcap.core.utils.Ognl@isNotEmpty(workId)">
		AND bb04.DEPARTMENT_ID_ like CONCAT((SELECT DEPARTMENT_ID_ 
	FROM tb_user WHERE ACCOUNT_ = #{workId}),'%')
	</if>
  </select>
  <!-- 查询用户所在部门ID -->
    <select id="selectUserDeptId" resultType="String" parameterType="String">
  		SELECT DEPARTMENT_ID_ AS deptId
	    FROM tb_user where ACCOUNT_ = #{workId}
  </select>
  
  <!-- 只适用于部门管理：物业费查询小区(除去公正路) -->
  <select id="getAreaListByParam" resultType="java.util.Map" parameterType="java.util.Map">
	SELECT DISTINCT
	aa01.COMMUNITY_ID_ AS id,
	aa01.AREA_NAME_ AS text
	FROM tb_sys_community aa01
	LEFT JOIN tb_sys_area_relation_ aa06 ON aa06.COMMUNITY_ID_ = aa01.COMMUNITY_ID_
	where  aa01.COMMUNITY_ID_ &lt;&gt;'HBWHWC000001'  
	<if test="@com.qcap.core.utils.Ognl@isNotEmpty(companyCode)">
       AND aa01.COMPANY_CODE_ = #{companyCode}      
    </if>
    <if test="@com.qcap.core.utils.Ognl@isNotEmpty(workId)">
    	AND aa06.DEPARTMENT_ID_ like CONCAT((SELECT DEPARTMENT_ID_ 
	    FROM tb_user where ACCOUNT_ = #{workId}),'%')
    </if>
	ORDER BY aa01.COMPANY_CODE_ ASC, aa01.COMMUNITY_ID_ ASC
  </select>
  
  
  <!-- 物业费查询小区(除去公正路) -->
  <select id="areaListDropDown" resultType="java.util.Map" parameterType="java.util.Map">
	SELECT DISTINCT
	aa01.COMMUNITY_ID_ AS id,
	aa01.AREA_NAME_ AS text
	FROM tb_sys_area_relation_ aa06
	LEFT JOIN tb_sys_community aa01 ON aa06.COMMUNITY_ID_ = aa01.COMMUNITY_ID_
	where  aa01.COMMUNITY_ID_ &lt;&gt;'HBWHWC000001'  
	<if test="@com.qcap.core.utils.Ognl@isNotEmpty(companyCode)">
       AND aa01.COMPANY_CODE_ LIKE  CONCAT('%',#{companyCode},'%')    
    </if>
    <if test="@com.qcap.core.utils.Ognl@isNotEmpty(workId)">
    	AND aa06.DEPARTMENT_ID_ like CONCAT((SELECT DEPARTMENT_ID_ 
	    FROM tb_user where ACCOUNT_ = #{workId}),'%')
    </if>
	ORDER BY aa01.COMPANY_CODE_ ASC, aa01.COMMUNITY_ID_ ASC
  </select>
  
  <!-- 楼栋下拉框 -->
  <select id="buildingListDropDown" resultType="java.util.Map" parameterType="String">
  	SELECT  BLOCK_ID_ as id, BUILDING_CODE_ as code, 
  	BUILDING_ as text
  	FROM tb_sys_block 
  	WHERE COMMUNITY_ID_ = #{communityId}
  </select>
  
  <!-- 单元下拉框 -->
  <select id="cellListDropDown" resultType="java.util.Map" parameterType="String">
  	SELECT  UNIT_ID_ as id, CELL_CODE_ as code, 
  	CELL_NAME_ as text
  	FROM tb_sys_unit 
  	WHERE BLOCK_ID_ = #{blockId}
  </select>
  
  <!-- 房间下拉框 -->
  <select id="roomListDropDown" resultType="java.util.Map" parameterType="String">
  	SELECT  ROOM_ID_ as id, ROOM_CODE_ as code, 
  	ROOM_NAME_ as text 
  	FROM tb_sys_room 
  	WHERE UNIT_ID_ = #{unitId}
  </select>
  
    <!-- 公司下拉框 -->
  <select id="selectSubCompanies" resultType="java.util.Map" parameterType="java.util.Map">
  	SELECT  COMPANY_ID_ as id, COMPANY_CODE_ as code, 
  	FULL_NAME_ as name
  	FROM tb_sys_company WHERE 1 = 1
  	<if test="@com.qcap.core.utils.Ognl@isNotEmpty(companyCode)">
         AND COMPANY_CODE_ = #{companyCode}
    </if> 
  </select>
  
  <!-- 从通用代码档中查询模板类型 -->
	<select id="selectTemplateTypes" parameterType="String" resultType="java.util.Map">
		SELECT DESC_ AS id,DESC1_ AS text
		FROM tbpubcode01 
		WHERE CONFIG_CODE_ =#{configCode}
		ORDER BY SEQ_+1 ASC;
	</select>
  
    <select id="getCompanyCodeByCommunityId" parameterType="String" resultType="String">
    	 SELECT COMPANY_CODE_ AS companyCode FROM tb_sys_community
    	 WHERE COMMUNITY_ID_ = #{communityId}
    </select>
    
    
    <select id="selectLocationByParent" parameterType="java.util.Map" resultType="java.util.Map">
  		SELECT id,name,code,pId,parentName from(
	  	SELECT t.ID_  as id,t.NAME_ as name,
		t.CODE_ as code,
		t.PID_ as pId,b.NAME_  as parentName
		FROM
		(SELECT  ID_, NAME_, CODE_, PID_
		FROM tb_sys_location
		where DELETE_FLAG_='0'
		<if test="@com.qcap.core.utils.Ognl@isNotEmpty(pId)">
            AND PID_ = #{pId}
     	</if> 
		)t
		LEFT JOIN tb_sys_location b
		ON t.PID_=b.ID_ 
		<if test="@com.qcap.core.utils.Ognl@isNotEmpty(pName)">
		where b.NAME_=#{pName}
		</if> 
		) location
		 ORDER BY id ASC
  </select>
  
  
  <!-- 根据 小区ID   楼宇ID  查询   companycode -->
  <select id="selectCompanycodeByBuildingCode"  parameterType="String"  resultType="String">
  	 select  b.companyCode from   
		tb_management_building a INNER JOIN 
		 (select company_code_ companyCode,
		DEPARTMENT_ID_  deptCode               
		   from tb_sys_department) b 
		 on a.DEPARTMENT_ID_=b.deptCode 
		where a.BUILDING_CODE_=#{buildingCode}
		  	 limit 1
  
  </select>
  
</mapper>