<!DOCTYPE html>
<html layout:decorator="/common/head_link" >
<head>
<style type="text/css" rel="styleSheet">

</style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>公司管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                             <!--<div class="form-group col-xs-4">
								<label for="main_CompName">公司简称</label>
								<input id="main_CompName" class="form-control" />
						     </div>
							  <div class="form-group col-xs-4">
								<label for="main_CompanyCode">公司编码</label>
								<input id="main_CompanyCode" class="form-control" />
							  </div>-->
							  <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle"
                                                type="button">公司简称
                                        </button>
                                    </div>
                                    <input type="text" class="form-control" id="main_CompName" placeholder="" />
                                </div>
                             </div>
                              <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle"
                                                type="button">公司编码
                                        </button>
                                    </div>
                                    <input type="text" class="form-control" id="main_CompanyCode" placeholder="" />
                                </div>
                             </div>
                           <!--  <div class="col-sm-1">
                                <button type="button" class="btn btn-primary " onclick="Company.search()">
                                    <i class="fa fa-search"></i>&nbsp;搜索
                                </button>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-primary " onclick="Company.clear()">
                                    <i class="fa fa-trash"></i>&nbsp;重置
                                </button>
                            </div>-->
                        </div>
                        <div class="hidden-xs" id="CompanyTableToolbar" role="group">
                        
                       			  <button type="button" class="btn btn-primary " onclick="Company.search()">
                                    <i class="fa fa-search"></i>&nbsp;搜索
                                </button>
                                
                                 <button type="button" class="btn btn-primary button-margin" onclick="Company.clear()">
                                    <i class="fa fa-trash"></i>&nbsp;重置
                                </button>
                        
                                 <button type="button" class="btn btn-primary button-margin" onclick="Company.openAddCompany()">
                                <i class="fa fa-plus"></i>&nbsp;添加
	                            </button>
	                            <button type="button" class="btn btn-primary button-margin" onclick="Company.openCompanyDetail()">
	                                <i class="fa fa-edit"></i>&nbsp;修改
	                            </button>
	                            <button type="button" class="btn btn-primary button-margin" onclick="Company.delete()">
	                                <i class="fa fa-remove"></i>&nbsp;删除
	                            </button>
                        </div>
                        <table id="CompanyTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="/js/content.js?v=1.0.0"></script>
<script src="/modular/system/company/company.js"></script>
</body>
</html>
