<!DOCTYPE html>
<html layout:decorator="/common/head_link" >
<head>
<style type="text/css" rel="styleSheet">
.label_font{
line-height:34px;
}
.div1{
	margin-top:40px;
 	left:10px;
 	top:10px; 
 	width:80%;
 	height:540px;
 	border: 1px solid #D4D4D4;
 	overflow:auto;
 	display:inline;
}

#tree.ztree li span.button.diy01_ico_docu {
    margin-right: 2px;
    vertical-align: top;
    background-position: -147px -42px;
} 
 #tree.ztree li span.button.ico_docu { 
     margin-right: 2px; 
     background-position: -147px 0; 
     vertical-align: top; 
 } 
  #tree.ztree li span.button.root_open {
    background-position: -105px -42px;
}
#tree.ztree li span.button.root_close {
    background-position: -126px -42px;
}
</style>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="ibox float-e-margins">
           
            <div class="ibox-title">
                <h5>房屋维护</h5>
            </div>
			 <div class="ibox-content">
            <div class="row">
	            <div class="col-xs-3 col-sm-3 col-md-3">
	           		<div class="row">
		           		<div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-2 col-sm-2 col-md-2 div1">
		           			<ul id="tree" class="ztree"></ul>
		           		</div>
	            	</div>
	        	</div>
		<div class=" col-xs-9 col-sm-9 col-md-9"> 
			<div class="row " >
				<input type="hidden" id="tbaa05Id" />
			  <div class="form-group" style="margin-top:54px;">
			    <label  class="label_font col-xs-2 col-sm-2 col-md-2 " for="roomName">房间名称：</label>
			    <div class="col-xs-2 col-sm-2 col-md-2 col-xs-pull-1 col-sm-pull-1 col-md-pull-1">
			    <input  id="roomName"   class="form-control" disabled/>
			    </div>
			  </div>
			  
			  <div class="form-group" >
			    <label  class="label_font col-xs-2 col-sm-2 col-md-2 " for="building">楼&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;栋：</label>
			    <div class="col-xs-2 col-sm-2 col-md-2 col-xs-pull-1 col-sm-pull-1 col-md-pull-1">
			    <input  id="building"  class="form-control" disabled/>
			    </div>
			  </div>
			  
			  <div class="form-group" >
			    <label  class="label_font col-xs-2 col-sm-2 col-md-2 " for="areaName">小区名称：</label>
			    <div class="col-xs-2 col-sm-2 col-md-2 col-xs-pull-1 col-sm-pull-1 col-md-pull-1">
			    <input  id="areaName"  class="form-control" disabled/>
			    </div>
			  </div>
		 </div>
		 
		 <div class="row ">
			  <div class="form-group"  style="margin-top:24px;">
			    <label  class="label_font col-xs-2 col-sm-2 col-md-2 " for="calArea">建筑面积：</label>
			    <div class="col-xs-2 col-sm-2 col-md-2 col-xs-pull-1 col-sm-pull-1 col-md-pull-1">
			    <input  id="calArea"  class="form-control" disabled/>
			    </div>
			  </div>
			  
			  <div class="form-group" >
			    <label  class="label_font col-xs-2 col-sm-2 col-md-2 " for="realArea">实用面积：</label>
			    <div class="col-xs-2 col-sm-2 col-md-2 col-xs-pull-1 col-sm-pull-1 col-md-pull-1">
			    <input  id="realArea"  class="form-control" disabled/>
			    </div>
			  </div>
			  <div class="form-group" >
			    <label  class="label_font col-xs-2 col-sm-2 col-md-2 " for="haveGate">是否有门：</label>
			    <div class="col-xs-2 col-sm-2 col-md-2 col-xs-pull-1 col-sm-pull-1 col-md-pull-1">
			    <input  id="haveGate"  class="form-control" disabled/>
			    </div>
			  </div>
		 </div>
		 
		 <div class="row ">
			  <div class="form-group" style="margin-top:24px;">
			    <label  class="label_font col-xs-2 col-sm-2 col-md-2 " for="ownerName">户主名字：</label>
			    <div class="col-xs-2 col-sm-2 col-md-2 col-xs-pull-1 col-sm-pull-1 col-md-pull-1">
			    <input  id="ownerName"  class="form-control" />
			    </div>
			  </div>
			  
			  <div class="form-group" >
			    <label  class="label_font col-xs-2 col-sm-2 col-md-2 " for="ownerTel">户主电话：</label>
			    <div class="col-xs-2 col-sm-2 col-md-2 col-xs-pull-1 col-sm-pull-1 col-md-pull-1">
			    <input  id="ownerTel"  class="form-control" />
			    </div>
			  </div>
			  <div class="form-group" >
			    <label  class="label_font col-xs-2 col-sm-2 col-md-2 " for="hh">水务户号：</label>
			    <div class="col-xs-2 col-sm-2 col-md-2 col-xs-pull-1 col-sm-pull-1 col-md-pull-1">
			    <input  id="hh"  class="form-control" disabled/>
			    </div>
			  </div>
		 </div>
		 
		 <div class="row ">  
			   <div class="form-group" style="margin-top:24px;">
			    <label  class="label_font col-xs-2 col-sm-2 col-md-2 " for="fh">水务房号：</label>
			    <div class="col-xs-2 col-sm-2 col-md-2 col-xs-pull-1 col-sm-pull-1 col-md-pull-1">
			    <input  id="fh"  class="form-control" disabled/>
			    </div>
			  </div>
			   <div class="form-group" >
			    <label  class="label_font col-xs-2 col-sm-2 col-md-2 " for="wyAmount">&nbsp;物&nbsp;业&nbsp;费：</label>
			    <div class="col-xs-2 col-sm-2 col-md-2 col-xs-pull-1 col-sm-pull-1 col-md-pull-1">
			    <input  id="wyAmount"  class="form-control" disabled/>
			    </div>
			  </div>
			   
		</div>
			
			<div class="row ">  
                <div class="form-group" style="margin-top:24px;">
                <label  class="label_font col-xs-2 col-sm-2 col-md-2 " for="remark1" >备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：</label>
                <div class="col-xs-10 col-sm-10 col-md-10 col-xs-pull-1 col-sm-pull-1 col-md-pull-1">
			    <textarea style="height:80px;" id="remark1" class="form-control" ></textarea>
			    </div>
			  	</div>
			</div>
			
		 	<div class="row " >
	          <div class="form-group" style="margin-top:24px;">
	          	  <div class="form-group col-xs-offset-4 col-xs-1" >
				  	<a class='btn btn-primary' onclick="PropertyEdit.save()" ><i class="fa fa-fw fa-edit"></i>保存修改</a>
				  </div>
			  </div>
			</div>
				
            <div class="box-body" style="margin-top:140px;clear:both;"></div>
            </div>
            </div>
              </div>
          </div>
        </div>
      </div>
</div>



<link rel="stylesheet" href="/js/plugins/zTree_boot/css/zTreeStyle/metro.css" type="text/css">
<script type="text/javascript"charset="utf-8" src="/js/plugins/zTree_boot/js/jquery.ztree.all-3.5.min.js"></script>
<script src="/js/content.js?v=1.0.0"></script>
 <script src="/modular/system/property/propertyEdit.js"></script>
</body>
</html>