<!DOCTYPE html>
<html layout:decorator="/common/head_link">
<head>
</head>

<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<div class="form-horizontal" id="pubcodeInfoForm">
					<div class="row">
						<div class="col-sm-12">
							
							<div class="form-group">
								<label class="col-sm-2 control-label">客户姓名<span style="color:red">*</span></label>
								<div class="col-sm-4">
									<input class="form-control" id="name" name="name"
										type="text">
								</div>

								<label class="col-sm-2 control-label">联系电话<span style="color:red">*</span></label>
								<div class="col-sm-4">
									<input class="form-control" id="phone" name="phone"
										type="text">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">小区<span style="color:red">*</span></label>
								<div class="col-sm-4">
									<select class="form-control" id="communityId" ></select>
								</div>
								
								<label class="col-sm-2 control-label">楼栋<span style="color:red">*</span></label>
								<div class="col-sm-4">
									<select class="form-control" id="blockId" ></select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label">单元<span style="color:red">*</span></label>
								<div class="col-sm-4">
									<select class="form-control" id="unitId" ></select>
								</div>
								
								<label class="col-sm-2 control-label">房间<span style="color:red">*</span></label>
								<div class="col-sm-4">
									<select class="form-control" id="roomId" ></select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label">客户类别</label>
								<div class="col-sm-4">
									<select class='form-control' id="mainType" name="mainType">
										<option value = "1">业主</option>
										<option value = "2">家属</option>
									</select>
								</div>
								
								<label class="col-sm-2 control-label">性别</label>
								<div class="col-sm-4">
									<select class='form-control' id="sex" name="sex">
										<option value = "1">男</option>
										<option value = "0">女</option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label">客户学历</label>
								<div class="col-sm-4">
									<select class='form-control' id="education" name="education">
										<option value = "">请选择学历</option>
										<option value = "1">博士</option>
										<option value = "2">硕士</option>
										<option value = "3">本科</option>
										<option value = "4">高中</option>
										<option value = "5">初中</option>
										<option value = "6">其它</option>
									</select>
								</div>
								
								<label class="col-sm-2 control-label">身份证<span style="color:red">*</span></label>
								<div class="col-sm-4">
									<input class='form-control' id="idCard"
										name="idCard"></input>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label">客户职业</label>
								<div class="col-sm-4">
									<input class='form-control' id="career"
										name="career"></input>
								</div>
								
								<label class="col-sm-2 control-label">年收入</label>
								<div class="col-sm-4">
									<select class='form-control' id="income" >
										<option value = "1">1万以下</option>
										<option value = "2">1~5万之间</option>
										<option value = "3">5~10万之间</option>
										<option value = "4">10~20万之间</option>
										<option value = "5">20~50万之间</option>
										<option value = "6">50万以上</option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2  control-label">广告图片</label>
								<div class="col-sm-4">
					   				<button type="button" class="col-sm-2 btn btn-primary" onclick="uploadPic();" >选择图片</button>
					   				<div id="upload" ></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row btn-hotel-m-t">
				<div class="col-sm-10">
					<button type="button" class="btn btn-info "
						onclick="certifyInfoDlg.addSubmit()" id="ensure">
						<i class="fa fa-check"></i>&nbsp;提交
					</button>

					<button type="button" class="btn btn-danger "
						onclick="certifyInfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
		</div>
	</div>


<script src="/js/content.js?v=1.0.0"></script>
<script src="/modular/esp/certify/certify_info.js"></script>

<script type="text/javascript">
 $(function(){
 	$('#communityId').select2Ajax({
 	    url:'/property/wyAreaName',
	}); 
  	$('#communityId').select2();
  	$('#blockId').select2();
  	$('#unitId').select2();
  	$('#roomId').select2();
 })

  	/* $('#hotelId').on('select2:opening',function(e){
 		if(!$("#hotelGroupId").val()){
 			Feng.alert("请先选择集团编号！");
 			return false;
 		}
 	}); */
 	$('#communityId').on('change',function(){
 		$("#blockId").val('');
 		$("#unitId").val('');
 		$("#roomId").val('');
 		$('#blockId').select2Ajax({
 		    url:'/property/building?communityId='+$('#communityId').val(),
		}); 
 	 	$('#blockId').select2();
 	});

 	$('#blockId').on('change',function(){
 		$("#unitId").val('');
 		$("#roomId").val('');
 		$('#unitId').select2Ajax({
 		    url:'/property/cellName?blockId='+$('#blockId').val(),
		}); 
 	 	$('#unitId').select2();
 	});
 	
 	$('#unitId').on('change',function(){
 		$("#roomId").val('');
 		$('#roomId').select2Ajax({
 		    url:'/property/roomName?unitId='+$('#unitId').val(),
		}); 
 	 	$('#roomId').select2();
 	});
</script>
</body>
</html>
